// new job pages css start


.job-section-1{
    padding: 30px 0 0 0;
}
h1.custom-job{
    font-size: 46px;
    text-transform: uppercase;
    color: #f49e55;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}
.job-line{
    text-align: center;
    padding-bottom: 5.2em;
    position: relative;
}
.job-line:before {
    position: absolute;
    content: '';
    border: 2px solid #f49e55;
    width: 121px;
    top: 20px;
    left: 54em;
}
.job-line:after {
    position: absolute;
    content: '';
    border: 2px solid #f49e55;	
    width: 121px;
    top: 20px;
    right: 54em;
}
.job-inner-text{
    font-size: 20px;
    padding: 0 18em 1em;
    color: #4C5C68;
    text-align: center;
}
@media (max-width:  768px){
    .job-inner-text{
        font-size: 20px;
        padding: 0 0 1em;
        color: #4C5C68;
        text-align: center;
    }
    .job-line:before {
    position: absolute;
    content: '';
    border: 2px solid #f49e55;
    width: 121px;
    top: 20px;
    left: 41em;
}
.job-line:after {
    position: absolute;
    content: '';
    border: 2px solid #f49e55;	
    width: 121px;
    top: 20px;
    right: 41em;
}
}


// new job pages css end







::ng-deep .ng-image-slider {
    height: 300px !important;
  }
  
  ::ng-deep .ng-image-slider .ng-image-slider-container .main {
    height: 300px !important;
  }
  
.img-logo{
    width: 100%;
    max-width: 150px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


/*navbar css*/


/* our business */

h1.custom-business {
    font-size: 46px;
    text-transform: uppercase;
    color: #4c5c68;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.line-2{
    text-align: center;
    padding-bottom:  5.2em;
    position: relative;
}
.line-2:before{
    position: absolute;
    content: '';
    border: 2px solid #fff;
    width: 155px;
    top: 20px;
    right: 50em;
}

.line-2:after{
    position: absolute;
    content: '';
    border: 2px solid #fff;
    width: 155px;
    top: 20px;
    left: 50em;
}

.line{
    text-align: center;
    padding-bottom:  5.2em;
    position: relative;
}
.line:before{
    position: absolute;
    content: '';
    border: 2px solid #4c5c68;
    width: 121px;
    top: 20px;
    right: 55em;
}

.line:after{
    position: absolute;
    content: '';
    border: 2px solid #4c5c68;
    width: 121px;
    top: 20px;
    left: 55em;
}
.section-title-img{
    width: 100%;
    max-width: 50px;
}
.business-pd {
    padding: 0 0;
}
.card-set-pd{
    display: flex;
}
.card-set-pd, .card-dotted {
    margin-left: 20px;
    margin-right: 20px;
}
.custom-pd{
    padding: 50px 0;
    background-color: #eaeced;
}

.card-dotted {
    border: 2px dashed #4c5c68;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}
.card-bg {
    border-radius: 20px !important;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.orang-bg-left{
    position: relative;
}
.orang-bg-left::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/orange-2.png);
    background-size: 100%;
    height: 237px;
    background-repeat: no-repeat;
    width: 178px;
    bottom: -18px;
    border-radius: 15px;
    left: 2px;
}

.orang-bg-right{
    position: relative;
}
.orang-bg-right::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/orange-1.png);
    background-size:96%;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    top: -21px;
    left: 87px;
}
.green-bg-left{
    position: relative;
}

.green-bg-left::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/green-left.png);
    background-size: 100%;
    height: 367px;
    background-repeat: no-repeat;
    width: 250px;
    bottom: -148px;
    border-radius: 20px;
    right: -22.5em;

}
.green-bg-right{
    position: relative;
}

.green-bg-right::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/green-right.png);
    background-size:96%;
    height: 100%;
    background-repeat: no-repeat;
    width:  100%;
    top: -21px;
    left: 91px;
    border-radius: 20px !important;
}

.cream-bg-left{
    position: relative;
    margin: 0 55px
}
.cream-bg-left::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/cream-left.png);
    background-size: 100%;
    height: 367px;
    background-repeat: no-repeat;
    width: 250px;
    bottom: -148px;
    border-radius: 20px;
    right: -22.5em;
}
.cream-bg-right{
    position: relative;
}

.cream-bg-right::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/cream-right.png);
    background-size: 96%;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 335px;
    top: -21px;
    right: -6px;
    border-radius: 20px;
}
.custom-card-body {
    padding: 1rem 1rem 0;
}
.custom-img-orange{
    width: 100%;
    border: 3px solid #f49e55;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.custom-img-green{
    width: 100%;
    border: 3px solid #9cb900;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.custom-img-cream{
    width: 100%;
    border: 3px solid #d1b681;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.box {
    text-align: center;
    padding: 20px;
}
.box h4 {
    color: #4c5c68;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.box p {
    color: #4c5c68;
    text-align: justify;
    font-size: 17px;
}
.orange-btn {
    background-color: #f49e55;
    outline: none !important;
    border: none !important;
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.green-btn {
    background-color:#9cb900;
    outline: none !important;
    border: none !important;
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cream-btn {
    background-color:#d1b681;
    outline: none !important;
    border: none !important;
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*our testimonial*/

.testimonial-pd{
    padding: 50px 0;
    background-color:#4c5c68;
}

.custom-testimonial{
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-bottom:15px;
}

.unser-left-img {
    width: 100%;
}

.slideshow-container {
    position: relative;

}

/* Slides */
.mySlides {
    display: none;
    padding: 0px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align:left;
    padding: 20px;

}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
/*.active, .dot:hover {
background-color: #717171;
}*/
.test-img{
    width: 100%;
    max-width: 100px;
}

.title {
    font-size: 36px;
    margin-bottom: 0.8em;
    text-align: left;
}
.testimonial-txt {
    color: #fff;
    font-size: 20px;
    text-align: left;
}
.author-txt {
    display: flex;

    align-items: center;
}
.author {
    margin-left: 2em;
}
.author, h3, h5 {
    color: #fff;
}
.title-h3{
    font-size: 35px !important;
}

.title-h5{
    font-size: 21px !important;
}


/*our partners*/

.partners-pd{
    padding: 50px 0;
    background-color: #fff;
}

.custom-partners {
    font-size: 46px;
    text-transform: uppercase;
    color:#4c5c68;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}


/*our partner slider*/
/* carousel */
.media-carousel 
{
    margin-bottom: 0;
    padding: 0 40px 0 40px;
/* margin-top: 30px;*/
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
    left: -30px;
    background:#4c5c68;
    opacity: 1;
    border: 4px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    height: 45px;
    width : 45px;
    margin-top: 3em;
    background-image: none;
}
.thumbnail{
    border: none !important;
    height: 100%;
    width: 100%;
    padding: 70px;
    background-color: #eaeaea;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
    right: -30px !important;
    background: #4c5c68;
    opacity: 1;
    border: 4px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    height: 45px;
    width : 45px;
    margin-top: 3em;
    background-image: none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
    background: #4c5c68;
}
.media-carousel .carousel-indicators .active 
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 150px;
}
/* End carousel */


/*new jobs page css strat*/

.box-slider-bottom{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -28px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-box {
    border: none;
    color: #F49E55;
    margin-left: 20px;
    font-size: 21px;
}
.location-box{
    border: none;
    color: #F49E55;
    margin-left: 20px;
    font-size: 21px;
}
.search-fa-color{
    color: #F49E55;
    font-size: 24px;
    padding: 23px;
}
.map-fa-color{
    color: #F49E55;
    font-size: 29px;
    padding: 24px;
}
.item-box{
    border: none;
    color: #F49E55;
    font-size: 24px;
    padding: 23px;
}

.finden-box {
    font-size: 24px;
    color: #ffffff;
    background-color: #f49e55;
    padding: 23px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 0 !important;
}
select.item-box:focus-visible{
    outline: none !important;
}
/*media query start*/

section.slider-bottom {
    background: #eaeced;
}
.custom-pd .col-md-4 {
    padding: 0 4px;
}
.custom-pd .label-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 18px 16px;
    border-radius: 10px;
    margin: 4px 0;
}
.custom-pd .label-box p {
    margin-bottom: 0;
    font-size: 18px;
    color: #f49e55;
    font-weight: 500;
}
.custom-pd .label-box span {
    background: #949DA4;
    border-radius: 50px;
    color: #fff;
    padding: 1px 12px;
    font-size: 16px;
}

.companies_blog {
    background: #EFEFEF;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 40px;
}
.companies_img img {
    width: 100%;
}
.company_logo {
    text-align: center;
    margin-top: -40px;
}
.company_logo img {
    width: 50%;
}
.companies_blog h4 {
    color: #F49E55;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
}
.graz_fri_cat_mn {
    margin: 10px 0;
    padding: 0 15px;
}
.graz_fri_cat_mn > div {
    display: inline-block;
    background: #D8D8D8;
    border-radius: 8px;
}
.graz_fri_cat_mn > div p {
    margin-bottom: 0;
    padding: 4px 8px;
    color: #4C5C68;
    font-size: 13px;
}
.companies_blog > p {
    padding: 0 15px;
    font-size: 14px;
    color: #9F9F9F;
}

.work_preparation_mn {
    padding: 0 15px;
    margin: 10px 0;
}
.work_preparation_mn > div {
    display: inline-block;
    background: #FFE5CF;
    border-radius: 8px;
    margin: 4px;
}
.work_preparation_mn > div p {
    margin-bottom: 0;
    padding: 4px 8px;
    color: #F49E55;
    font-size: 13px;
    margin: 4px;
}
.follow_jobs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    background: none;
}
.follow_jobs button.follow_btn {
    background: #f49e55;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    height: 60px;
    margin: 0 5px;
}
.follow_jobs button.follow_btn img {
    margin-right: 10px;
    width: 25px;
}
.follow_jobs button.jobs_btn {
    background: #4C5C68;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    height: 60px;
    margin: 0 5px;
}
.follow_jobs button.jobs_btn img {
    margin-right: 10px;
    width: 25px;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    top: 45px !important;
    word-break: break-all;
}

#jobs span {
    font-size: 55px;
    color: #FFFFFF;
    font-family: 'Bebas Neue' , cursive;;
}

.heben_mn {
    background: #4C5C68;
}
.beruf_mn {
    width: 40%;
}
.ort_mn {
    width: calc(60% - 180px);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.ort_mn i {
    width: 100%;
    border-right: 1px solid #F49E55;
    border-left: 5px solid #F49E55;
    height: 100%;
    vertical-align: top;
}
.finden-box {
    width: 180px;
    vertical-align: top;
}

.orange_color h1 {
    color: #F49E55;
}
.orange_color .line:before , .orange_color .line:after {
    border-color: #F49E55;
}
.heben_img {
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 40px;
}
.heben_img img {
    width: 100%;
}
.heben_text {
    width: 60%;
    float: right;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-left: 40%;
}
.heben_text h4 {
    font-size: 34px;
    font-weight: 600;
}
.heben_text p {
    font-size: 25px;
    font-weight: 200;
    margin: 20px 0;
}
.heben_text button {
    background: #F49E55;
    color: #fff;
    border: none !important;
    padding: 8px 15px;
    font-size: 24px;
    border-radius: 5px;
}
.heben_enner_mn {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.heben_mn {
    margin-bottom: 150px;
}
.heben_mn, .heben_enner_mn {
    height: 350px;
}


.funktion_blog_details {
    position: relative;
    height: 1000px;
    display: inline-block;
    width: 900px;
    margin: 0 auto;
}
.funktion_blog_details:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 700px;
    width: 700px;
    border-radius: 50%;
    background: #F49E55;
}
.funktion_icon {
    position: absolute;
    background: #4C5C68;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.funktion_icon img {
    width: 70px;
}
.funktion_icon.funktion_icon_1 , .funktion_icon.funktion_icon_4 {
    left: 50%;
    transform: translateX(-50%);
}
.funktion_icon.funktion_icon_2 , .funktion_icon.funktion_icon_3 {
    right: 0%;
}
.funktion_icon.funktion_icon_5 , .funktion_icon.funktion_icon_6 {
    left: 0%;
}
.funktion_icon.funktion_icon_1 {
    top: 75px;
}
.funktion_icon.funktion_icon_2 {
    right: 75px;
    top: 25%;
}
.funktion_icon.funktion_icon_3 {
    right: 75px;
    top: 60%;
}
.funktion_icon.funktion_icon_4 {
    bottom: 75px;
}
.funktion_icon.funktion_icon_5 {
    left: 75px;
    top: 60%;
}
.funktion_icon.funktion_icon_6 {
    left: 75px;
    top: 25%;
}
.funktion_active{
    border: 8px solid #f49e55;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}
.funktion_details {
    display: none;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #4C5C68;
}
.funktion_details.funktion_active_text {
    display: block;
}
.funktion_details h4 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.funktion_details p {
    font-size: 30px;
    font-weight: 400;
}

.jobsheader {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
.jobsheader a {
    float: left;
    color: #4c5c68;
    text-align: center;
    padding: 7px 22px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}
.jobsheader a.logo {
    font-size: 25px;
    font-weight: bold;
}
.jobsheader-right a.active {
    color: #f07d22;
}
.jobsheader a:hover {
    color: #f07d22;
    text-decoration: none;
}

.section-6-pd {
    padding: 30px 0 0;
    background-color: #4c5c68;
}
.section-6-box-1 {
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.section-6-span-text {
    font-size: 20px;
    color: #4c5c68;
    font-weight: 500;
}
.section-6-span-text-1 {
    font-size: 14px;
    color: #4c5c68;
    font-weight: 600;
}
.section-6-img {
    width: 100%;
    max-width: 60px;
}
.section-6-img-1 {
    width: 100%;
    max-width: 185px;
}
.section-6-box-2 {
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.section-6-main-box {
    position: relative;
    top: 70px;
    margin-bottom: 15em;
}
.section-footer{
	width: 100%;
			height: 100%;
			line-height: 30px;
			font-size: 30px;
	        display: flex !important;
			justify-content: center;
			vertical-align: top;
			cursor: pointer;
			color: #fff;
			margin-left: 0 !important;
			white-space: nowrap;
}







@media (max-width: 1024px){
    .section-footer {
        width: 100% !important;
        height: auto !important;
        margin-left: 0 !important;
    }
    .section-6-box-2 {
        padding: 2em;
    }
    div#jobs span {
        font-size: 40px !important;
    }
    .box-slider-bottom label.finden-box {
        text-align: center;
    }
    .box-slider-bottom {
        width: 98%;
    }
    .footer-end {
        flex-direction: column;
    }
    span.ft-title , span.ft-title-mobile {
        margin-left: 0 !important;
    }
    .footer-md ul {
        padding-left: 0 !important;
        padding-right: 30px !important;
    }
    .box {
        text-align: center;
        padding: 20px 0;
    }
    .box p.sport {
        font-size: 15px !important;
    }
    .line-2:before {
        right: 55em;
    }
    .line-2:after {
        left: 55em;
    }
    .orange-btn , .green-btn , .cream-btn {
        width: 100% !important;
    }
    .beruf_mn {
        width: 30%;
    }
    .ort_mn {
        width: calc(70% - 180px);
    }
    h1.custom-business {
        font-size: 35px !important;
    }
}

@media (max-width: 820px){
    .carousel-caption {
        top: 0px!important;
    } 
    .box-slider-bottom {
        flex-wrap: wrap;
    }
    label.finden-box {
        width: 100% !important;
    }

    .beruf_mn {
        width: 35% !important;
    }
    .ort_mn {
        width: 65% !important;    
    }
    label.finden-box {
        border-radius: 0 0 10px 10px !important;
    }
    .jobsheader {
        font-size: 16px !important;
    }
    .graz_fri_cat_mn > div {
        margin-right: 10px !important;
    }
    .work_preparation_mn > div p {
        padding: 4px 7px !important;
    }
    .heben_text h4 {
        font-size: 30px;
        font-weight: 600;
    }
    .follow_jobs button.follow_btn{
        font-size: 13px !important;
    }
    .companies_blog_mn > div {
        display: inline-block;
        flex: inherit !important;
        width: 50% !important;
        max-width: inherit !important;
        margin-bottom: 40px;
    }
    .funktion_blog_details {
        height: 800px;
    }
    .funktion_icon.funktion_icon_1 {
        top: 30px;
    }
    .funktion_icon.funktion_icon_2 {
        right: 20px;
        top: 20%;
    }
    .funktion_icon.funktion_icon_3 {
        right: 10px;
        top: 56%;
    }
    .funktion_icon.funktion_icon_4 {
        bottom: 30px;
    }
    .funktion_icon.funktion_icon_5 {
        left: 10px;
        top: 56%;
    }
    .funktion_icon.funktion_icon_6 {
        left: 20px;
        top: 20%;
    }
    section.footer-pd .row > div {
        margin: 20px 0 !important;
        width: 100% !important;
        flex: inherit !important;
        max-width: inherit !important;
        text-align: center !important;
    }
    .footer-md ul {
        width: 50% !important;
        padding: 0 !important;
    }
    .footer-end {
        flex-direction: row;
    }
    .funktion_blog_details:before {
        height: 600px !important;
        width: 600px !important;
    }
    .line:before {
        right: 45em;
    }
    .line:after {
        left: 45em;
    }
    .funktion_mn .row {
        margin: 0 auto !important;
    }
}

@media (max-width: 768px){
    .carousel-caption {
        top: 0px!important;
    } 
    .box-slider-bottom {
        flex-wrap: wrap;
    }
    label.finden-box {
        width: 100% !important;
    }

    .beruf_mn {
        width: 35% !important;
    }
    .ort_mn {
        width: 65% !important;    
    }
    label.finden-box {
        border-radius: 0 0 10px 10px !important;
    }
    .jobsheader {
        font-size: 16px !important;
    }
    .graz_fri_cat_mn > div {
        margin-right: 10px !important;
    }
    .work_preparation_mn > div p {
        padding: 4px 7px !important;
    }
    .heben_text h4 {
        font-size: 30px;
        font-weight: 600;
    }
    .follow_jobs button.follow_btn{
        font-size: 13px !important;
    }
    .companies_blog_mn > div {
        display: inline-block;
        flex: inherit !important;
        width: 50% !important;
        max-width: inherit !important;
        margin-bottom: 40px;
    }
    .funktion_blog_details {
        height: 800px;
    }
    .funktion_icon.funktion_icon_1 {
        top: 30px;
    }
    .funktion_icon.funktion_icon_2 {
        right: 20px;
        top: 20%;
    }
    .funktion_icon.funktion_icon_3 {
        right: 10px;
        top: 56%;
    }
    .funktion_icon.funktion_icon_4 {
        bottom: 30px;
    }
    .funktion_icon.funktion_icon_5 {
        left: 10px;
        top: 56%;
    }
    .funktion_icon.funktion_icon_6 {
        left: 20px;
        top: 20%;
    }
    section.footer-pd .row > div {
        margin: 20px 0 !important;
        width: 100% !important;
        flex: inherit !important;
        max-width: inherit !important;
        text-align: center !important;
    }
    .footer-md ul {
        width: 50% !important;
        padding: 0 !important;
    }
    .footer-end {
        flex-direction: row;
    }
    .funktion_blog_details:before {
        height: 600px !important;
        width: 600px !important;
    }
    .line:before {
        right: 45em;
    }
    .line:after {
        left: 45em;
    }
    .funktion_mn .row {
        margin: 0 auto !important;
    }
}

@media (max-width: 767px){
    .funktion_mn .row {
        margin: 0 auto !important;
    }
    .jobsheader-right {
        width: 100% !important;
    }
    .jobsheader-right a {
        text-align: center !important;
    }
    .jobsheader a {
        padding: 0 !important;
    }
    div#jobs span {
        font-size: 18px!important;
    }
    .box-slider-bottom {
        top: -18px !important;
    }
    .custom-pd .label-box {
        padding: 12px 14px !important;
    }
    .beruf_mn i {
        padding: 12px 15px !important;
    }
    .ort_mn i {
        padding: 12px 15px !important;
        border: none !important;
    }
    .ort_mn select.item-box {
        width: 100% !important;
        border-top: 2px solid #f49e55;
        padding: 12px 15px !important;
        font-size: 19px !important;
    }
    label.finden-box {
        padding: 12px 20px !important;
        font-size: 18px !important;
    }
    .ort_mn {
        flex-wrap: wrap;
    }
    .beruf_mn {
        border-bottom: 2px solid #f49e55;
    }
    .heben_mn {
        height: 440px !important;
        margin-bottom: 200px !important;
    }
    .ort_mn{
        width: 100% !important;
    }
    .beruf_mn {
        width: 100% !important;
    }
    h1.custom-business {
        font-size: 20px!important;
    }
    .line:after, .line:before {
        width: 36% !important;
    }
    .line:after {
        right: 0 !important;
        left: inherit !important;
    }
    .line:before {
        left: 0 !important;
    }
    .companies_blog_mn > div {
        width: 100% !important;
    }
    .heben_enner_mn {
        height: auto !important;
        flex-direction: column-reverse;
        padding-top: 50px !important;
    }
    .heben_text h4 {
        font-size: 22px !important;
    }
    .heben_text p {
        font-size: 18px !important;
    }
    .heben_text button {
        font-size: 20px !important;
    }
    .heben_img {
        width: 80% !important;
        position: inherit !important;
    }
    .heben_text {
        padding: 0 15px !important;
        width: 100% !important;
        float: inherit !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 15px !important;
    }
    .funktion_blog_details {
        width: 300px !important;
        height: 400px !important;
    }
    .funktion_icon {
        height: 80px !important;
        width: 80px !important;
    }
    .funktion_icon img {
        width: 40px !important;
    }    
    .funktion_blog_details:before {
        height: 300px !important;
        width: 300px !important;
    }
    .funktion_icon.funktion_icon_1 {
        top: 0px !important;
    }
    .funktion_icon.funktion_icon_2 {
        right: -5px !important;
        top: 20% !important;
    }
    .funktion_icon.funktion_icon_3 {
        right: -5px !important;
        top: 60% !important;
    }
    .funktion_icon.funktion_icon_4 {
        bottom: 0px !important;
    }
    .funktion_icon.funktion_icon_5 {
        left: 0px !important;
        top: 60% !important;
    }
    .funktion_icon.funktion_icon_6 {
        left: 0px !important;
        top: 20% !important;
    }
    .funktion_details h4 {
        font-size: 20px !important;
    }
    .funktion_details p {
        font-size: 16px;
        font-weight: 400;
        width: 60%;
        margin: 0 auto;
    }
    .section-6-main-box .row > div {
        margin-top: 30px !important;
    }
    ::ng-deep .ng-image-slider .ng-image-slider-container .main {
        height: 200px !important;
      }
      ::ng-deep .ng-image-slider {
        height: 200px !important;
      }
      .carousel-caption{
        top: 38px !important;
    }
    div#jobs span {
        font-size: 30px !important;
    }
}
@media (max-width: 425px) {
    ::ng-deep .ng-image-slider {
        height: 150px !important;
      }
      ::ng-deep .ng-image-slider .ng-image-slider-container .main {
        height: 150px !important;
      }
      .carousel-caption{
        top: 10px !important;
    }
    div#jobs span {
        font-size: 23px !important;
    }
}


@media (min-width: 1821px){
    .carousel-caption{
        position:absolute;
        top: 20% !important;
     }
     #jobs span{
       font-size: 65px;
     }
     ::ng-deep .ng-image-slider {
       height: 400px !important;
     }
     
     ::ng-deep .ng-image-slider .ng-image-slider-container .main {
       height: 400px !important;
     }
     
   }

@media (max-width: 500px) {
    .jobsheader a {
        float: none;
        display: block;
        text-align: left;
    }
    .jobsheader-right {
        float: none;
    }
}

