<div class="home">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">	
				<img src="assets/img/about-us/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
				 <div class="carousel-caption" id="about-us">
					Über uns
				  </div>
			</div>
		</div>
	</div>
	<section class="custom-pd">
		<h1 class="custom-business">Über uns</h1>
		<div class="line">
			<img src="assets/img/home/business-img.png" class="section-title-img">
		</div>
		<div class="zone-txt">
			<p>			
			Das zukunftsweisende RD 3-Säulen Konzept stärkt Wirtschaft und Sport. 
			Der Fokus liegt auf der gezielten Vermarktung von regionalen Betrieben mit Jobs und Produkten, 
			sowie Vereinen und Sportlern durch die sinnvolle Nutzung der 
			Digitalisierung und der gewinnbringenden Verbindung der 3 Säulen.  
			</p>
		</div>
	</section>
	<section class="testimonial-pd">
		<h1 class="custom-testimonial">Über uns</h1>
		<div class="line-2">
			<img src="assets/img/home/business-ff-img.png" class="section-title-img">
		</div>


	</section>
	<section class="partners-pd">
		<h1 class="custom-partners">Über uns</h1>
		<div class="line">
			<img src="assets/img/home/business-img.png" class="section-title-img">
		</div>
	</section>
</div>