<div class="home">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">	
				<img src="/assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
				 <div class="carousel-caption" id="about-us">
					Über uns
				  </div>
			</div>
		</div>
	</div>
	<section class="about-us-section-1">
		<div class="container">
			<h1 class="about-us-section-3-heading">Über uns</h1>

			<div class="about-us-section-3-line">
				<img src="/assets/img/business-img.png" class="section-title-img">
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="about-us-box-2">
						<img src="/assets/img/about-us-main.png" class="about-us-main-img">
					</div>
				</div>
				<div class="col-md-6">
					<p class="about-us-txt">
						Ursprünglich als H2 CANDO GmbH im Jahr 2018 gegründet, waren
						wir zu Beginn als erfolgreicher Sport- und Schulsprachreiseveranstalter
						bekannt. Aufgrund der im Jahr 2020 auftretenden COVID-Pandemie
						und dem damit verbundenen Totalausfall des Kerngeschäftes, began
						das verbliebene Team nach neuen Herausforderungen zu suchen. Es
						wurde die Idee eines regionalen und digitalen Konzepts geboren, das
						ein Jobportal, mit Stadt- und Sportmarketing verbindet. Auch wenn wir
						der Tourismus- und Freizeitwirtschaft treu bleiben, ist es für uns doch ein
						Aufbruch zu neuen Ufern und so wurde im März 2022 aus H2 CANDO
						die RD3 GmbH. Dabei steht das R für Regional, das D für Digital und die
						Zahl 3 für die drei Bereiche: Jobportal, Stadtmarketing, Sportmarketing.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="about-us-section-2">
		<div class="container">
			<h1 class="about-us-section-2-heading">Als Team bleiben wir den ursprünglichen
			Werten des Unternehmens treu</h1>
			<div class="row ">
				<div class="about-us-mb">
					<div class="col-md-4">
						<div class="about-us-box-orange">
							<span class="about-us-box-orange-txt">Sinnvolles tun.
								Positives
							bewirken.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-box-green">
							<span class="about-us-box-orange-txt">Modern und
								traditionell.
								Zukunftsorientiert
							und nachhaltig.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-box-cream">
							<span class="about-us-box-orange-txt">All das mit
								Mit Herz und
							Verstand.</span>
						</div>
					</div>
				</div>
			</div>
		 </div>

		 <div class="container">
            <h1 class="sport-section-3-heading">Unser Team</h1>
			<div class="line">
				<img src="/assets/img/business-img.png" class="section-title-img">
			</div>
			<div class="col-md-4" *ngFor="let item of image | paginate: { itemsPerPage: 3, currentPage: p }">
				<div class="section-3-main-box">
					<div class="section-3-main-box-left-1">
						<img src="{{item}}">
					</div>
					<div class="section-3-main-box-left-2">
						<div class="main-box-left-2-inner">
							<span>Many K.</span>
						</div>
						<div class="main-box-left-2-inner">
							<span>CEO</span>
						</div>
						<div class="main-box-left-2-inner">
							<span>manyk@gmail.com</span>
						</div>
						<div class="main-box-left-2-inner">
							<span>+49 987 654 3210</span>
						</div>
					</div>
				</div>
			</div>

			<pagination-controls (pageChange)="p = $event"></pagination-controls>

		</div>
		 
	</section>
</div>