<div id="demo" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
			<div class="carousel-caption" id="about-us">
				AGB
			</div>
		</div>
	</div>
</div>


<section class="agb-section-1">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>

			<div class="col-md-6">
				<div class="agb-main-box">
					<div class="agb-orange-box">
						<label class="checkbox">
							<input [checked]="management_check" (change)="checkboxes('management_check')" type="checkbox" />
							<span></span>
						</label>
						<!-- <div class="agb-orange-circle"></div> -->
						<span>Unternehmensberatung-Personalvermittlung</span>
					</div>
					<div class="agb-green-box">
						<label class="checkbox">
							<input [checked]="advert_check" (change)="checkboxes('advert_check')" type="checkbox" />
							<span></span>
						</label>
						<!-- <div class="agb-orange-circle"></div> -->
						<span>Werbeagentur</span>
					</div>
					<div class="agb-cream-box">
						<label class="checkbox">
							<input [checked]="travel_check" (change)="checkboxes('travel_check')" type="checkbox" />
							<span></span>
						</label>
						<!-- <div class="agb-orange-circle"></div> -->
						<span>Reisebüro - Vermittler</span>
					</div>
				</div>

			</div>
		</div>

	</div>

</section>


<!-- section 1 Unternehmensberatung-Personalvermittlung start -->

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Allgemeine Grundlagen / Geltungsbereich</span>
				<p class="agb-text-upper">
					Für sämtliche Rechtsgeschäfte zwischen dem Auftraggeber und dem Auftragnehmer 
(Unternehmensberater) gelten ausschließlich diese Allgemeinen Geschäftsbedingungen. Maßgeblich ist 
jeweils die zum Zeitpunkt des Vertragsabschlusses gültige Fassung. </p>
				<p class="agb-text-upper">
					-Im nachfolgenden meint Auftragnehmer das Unternehmen RD3 GmbH. 
 </p>
				<p class="agb-text-upper">
					Diese Allgemeinen Geschäftsbedingungen gelten auch für alle künftigen Vertragsbeziehungen, 
somit auch dann, wenn bei Zusatzverträgen darauf nicht ausdrücklich hingewiesen wird. 
 </p>
				<p class="agb-text-upper">
					Entgegenstehende Allgemeine Geschäftsbedingungen des Auftraggebers sind ungültig, es sei 
denn, diese werden vom Auftragnehmer (Unternehmensberater) ausdrücklich schriftlich anerkannt. 
 </p>
				<p class="agb-text-upper">
					Für den Fall, dass einzelne Bestimmungen dieser Allgemeinen Geschäftsbedingungen unwirksam 
sein und/oder werden sollten, berührt dies die Wirksamkeit der verbleibenden Bestimmungen und der 
unter ihrer Zugrundelegung geschlossenen Verträge nicht. Die unwirksame ist durch eine wirksame 
Bestimmung, die ihr dem Sinn und wirtschaftlichen Zweck nach am nächsten kommt, zu ersetzen. 
 </p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Umfang des Beratungsauftrages / Stellvertretung</span>
				<p class="agb-text-upper">
					Der Umfang eines konkreten Beratungsauftrages wird im Einzelfall vertraglich vereinbart.</p>
				<!-- <p class="agb-text">
					– Ihre Stammdaten (Name, Vorname, Adresse, Mail Adresse, Telefonnummer),</p>
				<p class="agb-text"> – die Daten zu Zahlungsart und im Zusammenhang mit Zahlungen, insbesondere
					mit EC-Karten,Kreditkarten und Bankkarten,</p>
				<p class="agb-text">– Daten für Jobinserate inkl. allen erforderlichen Datenfeldern</p>
				<p class="agb-text"> – Daten aus Lebensläufen für die erfolgreiche Vermittlung</p>
				<p class="agb-text">– Daten für Profilerstellungen von Atheltenseiten</p>
				<p class="agb-text"> – Daten von Partnern und Sponsoren zu Marketingzwecken</p>
				<p class="agb-text">– Daten von Städten und deren Betrieben, Vereine, Einrichtungen</p> -->
				<p class="agb-text-upper">Der Auftragnehmer (Unternehmensberater) ist berechtigt, die ihm obliegenden Aufgaben ganz 
					oder teilweise durch Dritte erbringen zu lassen. Die Bezahlung des Dritten erfolgt ausschließlich durch 
					den Auftragnehmer (Unternehmensberater) selbst. Es entsteht kein wie immer geartetes direktes 
					Vertragsverhältnis zwischen dem Dritten und dem Auftraggeber.</p>
				<p class="agb-text-upper"> Der Auftraggeber verpflichtet sich, während sowie bis zum Ablauf von drei Jahren nach 
					Beendigung dieses Vertragsverhältnisses keine wie immer geartete Geschäftsbeziehung zu Personen 
					oder Gesellschaften einzugehen, deren sich der Auftragnehmer (Unternehmensberater) zur Erfüllung 
					seiner vertraglichen Pflichten bedient. Der Auftraggeber wird diese Personen und Gesellschaften 
					insbesondere nicht mit solchen oder ähnlichen Beratungsleistungen beauftragen, die auch der 
					Auftragnehmer (Unternehmensberater) anbietet. </p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Aufklärungspflicht des Auftraggebers / Vollständigkeitserklärung</span>
				<p class="agb-text-upper">
					Der Auftraggeber sorgt dafür, dass die organisatorischen Rahmenbedingungen bei Erfüllung des 
Beratungsauftrages an seinem Geschäftssitz ein möglichst ungestörtes, dem raschen Fortgang des 
Beratungsprozesses förderliches Arbeiten erlauben.</p>
				<p class="agb-text-upper"> Der Auftraggeber wird den Auftragnehmer (Unternehmensberater) auch über vorher 
					durchgeführte und/oder laufende Beratungen – auch auf anderen Fachgebieten – umfassend 
					informieren. </p>
				<p class="agb-text-upper"> Der Auftraggeber sorgt dafür, dass dem Auftragnehmer (Unternehmensberater) auch ohne 
					dessen besondere Aufforderung alle für die Erfüllung und Ausführung des Beratungsauftrages 
					notwendigen Unterlagen zeitgerecht vorgelegt werden und ihm von allen Vorgängen und Umständen 
					Kenntnis gegeben wird, die für die Ausführung des Beratungsauftrages von Bedeutung sind. Dies gilt 
					auch für alle Unterlagen, Vorgänge und Umstände, die erst während der Tätigkeit des Beraters bekannt 
					werden</p>
				<p class="agb-text-upper"> Der Auftraggeber sorgt dafür, dass seine Mitarbeiter und die gesetzlich vorgesehene und 
					gegebenenfalls eingerichtete Arbeitnehmervertretung (Betriebsrat) bereits vor Beginn der Tätigkeit des 
					Auftragnehmers (Unternehmensberaters) von dieser informiert werden. </p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Sicherung der Unabhängigkeit</span>
				<p class="agb-text-upper">
					Die Vertragspartner verpflichten sich zur gegenseitigen Loyalität. </p>
				<p class="agb-text-upper"> Die Vertragspartner verpflichten sich gegenseitig, alle Vorkehrungen zu treffen, die geeignet 
					sind, die Gefährdung der Unabhängigkeit der beauftragten Dritten und Mitarbeiter des Auftragnehmers 
					(Unternehmensberaters) zu verhindern. Dies gilt insbesondere für Angebote des Auftraggebers auf 
					Anstellung bzw. der Übernahme von Aufträgen auf eigene Rechnung. 
					 </p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span"> Berichterstattung / Berichtspflicht </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) verpflichtet sich, über seine Arbeit, die seiner 
Mitarbeiter und gegebenenfalls auch die beauftragter Dritter dem Arbeitsfortschritt entsprechend dem 
Auftraggeber Bericht zu erstatten.</p>
				<p class="agb-text-upper">
					Den Schlussbericht erhält der Auftraggeber in angemessener Zeit, d.h. zwei bis vier Wochen, je 
nach Art des Beratungsauftrages nach Abschluss des Auftrages.</p>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) ist bei der Herstellung des vereinbarten Werkes 
weisungsfrei, handelt nach eigenem Gutdünken und in eigener Verantwortung. Er ist an keinen 
bestimmten Arbeitsort und keine bestimmte Arbeitszeit gebunden. 
</p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Schutz des geistigen Eigentums</span>
				<p class="agb-text-upper">
					Die Urheberrechte an den vom Auftragnehmer (Unternehmensberater) und seinen Mitarbeitern 
und beauftragten Dritten geschaffenen Werke (insbesondere Anbote, Berichte, Analysen, Gutachten, 
Organisationspläne, Programme, Leistungsbeschreibungen, Entwürfe, Berechnungen, Zeichnungen, 
Datenträger etc.) verbleiben beim Auftragnehmer (Unternehmensberater). Sie dürfen vom 
Auftraggeber während und nach Beendigung des Vertragsverhältnisses ausschließlich für vom Vertrag 
umfasste Zwecke verwendet werden. Der Auftraggeber ist insofern nicht berechtigt, das Werk (die 
Werke) ohne ausdrückliche Zustimmung des Auftragnehmers (Unternehmensberaters) zu vervielfältigen 
und/oder zu verbreiten. Keinesfalls entsteht durch eine unberechtigte Vervielfältigung/Verbreitung des 
Werkes eine Haftung des Auftragnehmers (Unternehmensberaters) – insbesondere etwa für die 
Richtigkeit des Werkes – gegenüber Dritten. 
</p>
				<p class="agb-text-upper">
					Der Verstoß des Auftraggebers gegen diese Bestimmungen berechtigt den Auftragnehmer 
(Unternehmensberater) zur sofortigen vorzeitigen Beendigung des Vertragsverhältnisses und zur 
Geltendmachung anderer gesetzlicher Ansprüche, insbesondere auf Unterlassung und/oder 
Schadenersatz.  
</p>
				
			</div>
		</div>
	</div>

</section>


<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<span class="agb-span">Gewährleistung</span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) ist ohne Rücksicht auf ein Verschulden berechtigt 
und verpflichtet, bekannt werdende Unrichtigkeiten und Mängel an seiner Leistung zu beheben. Er wird 
den Auftraggeber hievon unverzüglich in Kenntnis setzen. </p>
				<p class="agb-text-upper">Dieser Anspruch des Auftraggebers erlischt nach sechs Monaten nach Erbringen der jeweiligen 
					Leistung. 
					</p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>

<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>
<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>
<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>
<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>
<section class="agb-section-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="agb-span">Haftung / Schadenersatz </span>
				<p class="agb-text-upper">
					Der Auftragnehmer (Unternehmensberater) haftet dem Auftraggeber für Schäden – ausgenommen für 
Personenschäden - nur im Falle groben Verschuldens (Vorsatz oder grobe Fahrlässigkeit). Dies gilt sinngemäß 
auch für Schäden, die auf vom Auftragnehmer beigezogene Dritte zurückgehen. </p>
				<p class="agb-text-upper">
					Schadenersatzansprüche des Aufraggebers können nur innerhalb von sechs Monaten ab Kenntnis von 
Schaden und Schädiger, spätestens aber innerhalb von drei Jahren nach dem anspruchsbegründenden 
Ereignis gerichtlich geltend gemacht werden. </p>
				<p class="agb-text-upper">
					Der Auftraggeber hat jeweils den Beweis zu erbringen, dass der Schaden auf ein Verschulden des 
Auftragnehmers zurückzuführen ist. </p>
				<p class="agb-text-upper">
					Sofern der Auftragnehmer (Unternehmensberater) das Werk unter Zuhilfenahme Dritter erbringt und in 
diesem Zusammenhang Gewährleistungs- und/oder Haftungsansprüche gegenüber diesen Dritten entstehen, 
tritt der Auftragnehmer (Unternehmensberater) diese Ansprüche an den Auftraggeber ab. Der Auftraggeber 
wird sich in diesem Fall vorrangig an diese Dritten halten.  </p>
			</div>
		</div>
	</div>

</section>



<!-- section 1 Unternehmensberatung-Personalvermittlung end -->




<!-- section 2 Werbeagentur start -->


<!-- section 2 Werbeagentur end -->




<!-- section 3 start -->


<!-- section 3 end -->
