<div class="home">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">	
				<img src="assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
				 <div class="carousel-caption" id="about-us">
					AGB
				  </div>
			</div>
		</div>
	</div>
</div>  

<section class="agb-section-1">

	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>

			<div class="col-md-6">
				<div class="agb-main-box">
					<div class="agb-orange-box">
						<div class="agb-orange-circle"></div>
						<span>Option 1</span>
					</div>
					<div class="agb-green-box">
						<div class="agb-orange-circle"></div>
						<span>Option 2</span>
					</div>
					<div class="agb-cream-box">
						<div class="agb-orange-circle"></div>
						<span>Option 3</span>
					</div>
				</div>

			</div>
		</div>

	</div>

</section>