.mediaViewInfo {
    --web-view-name: Stadt;
    --web-view-id: Stadt;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Stadt;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Stadt {
    position: absolute;
    width: 1920px;
    height: 7808px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Stadt;
    --web-view-id: Stadt;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Background_Image {
    position: absolute;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 114px;
    overflow: visible;
}
#Mask_Group_1 {
    position: absolute;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_2 {
    opacity: 0.8;
    fill: rgba(76,92,104,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 0px;
}
#Banner_Text {
    position: absolute;
    width: 1236px;
    height: 133px;
    left: 342px;
    top: 240px;
    overflow: visible;
}
#Den_Sprung_ins_kalte_Wasser_wa {
    left: 95px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1047px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: rgba(255,255,255,1);
}
#Eines_neuen_Job_mit_echten_Can {
    left: 0px;
    top: 79px;
    position: absolute;
    overflow: visible;
    width: 1237px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: rgba(255,255,255,1);
}
#Header {
    position: absolute;
    width: 1920px;
    height: 324px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_17 {
    fill: rgba(255,255,255,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
}
#Menu {
    position: absolute;
    width: 497px;
    height: 32px;
    left: 1232px;
    top: 41px;
    overflow: visible;
}
#info {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(156,185,0,1);
    text-transform: uppercase;
}
#kosten {
    left: 162px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#n_d_stadt {
    left: 366px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 132px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Menu_Icon {
    position: absolute;
    width: 41px;
    height: 32px;
    left: 1819px;
    top: 41px;
    overflow: visible;
}
#Rectangle_46 {
    fill: rgba(76,92,104,1);
}
.Rectangle_46 {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 101px;
    height: 92px;
    left: 0px;
    top: 0px;
}
#menu {
    position: absolute;
    width: 19px;
    height: 13.361px;
    left: 10.9px;
    top: 9.2px;
    overflow: visible;
}
#Path_61 {
    fill: rgba(255,255,255,1);
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_62 {
    fill: rgba(255,255,255,1);
}
.Path_62 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 5.48px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_63 {
    fill: rgba(255,255,255,1);
}
.Path_63 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 10.961px;
    transform: matrix(1,0,0,1,0,0);
}
#RD3_stadt_long_1200__400_px {
    position: absolute;
    width: 400px;
    height: 91.06px;
    left: 60px;
    top: 11.47px;
    overflow: visible;
}
#Menu_Icon_ {
    position: absolute;
    width: 237px;
    height: 221px;
    left: 1623px;
    top: 103px;
    overflow: visible;
}
#Rectangle_46_ {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_46_ {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 297px;
    height: 281px;
    left: 0px;
    top: 0px;
}
#Menu_ {
    position: absolute;
    width: 184.5px;
    height: 184px;
    left: 26px;
    top: 19px;
    overflow: visible;
}
#HOME {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(156,185,0,1);
    text-transform: uppercase;
}
#Line_1 {
    opacity: 0.4;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 1px;
    left: 0.5px;
    top: 38.5px;
    transform: matrix(1,0,0,1,0,0);
}
#BER_UNS {
    left: 0px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 110px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Line_2 {
    opacity: 0.4;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 1px;
    left: 0.5px;
    top: 92.5px;
    transform: matrix(1,0,0,1,0,0);
}
#VISION {
    left: 0px;
    top: 107px;
    position: absolute;
    overflow: visible;
    width: 74px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Line_3 {
    opacity: 0.4;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    width: 184px;
    height: 1px;
    left: 0.5px;
    top: 145.5px;
    transform: matrix(1,0,0,1,0,0);
}
#KONTAKT {
    left: 0px;
    top: 160px;
    position: absolute;
    overflow: visible;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Contact_Us {
    position: absolute;
    width: 1920px;
    height: 487px;
    left: 0px;
    top: 6833px;
    overflow: visible;
}
#Rectangle_28 {
    fill: rgba(76,92,104,1);
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 341px;
    left: 0px;
    top: 0px;
}
#Contact_Us_be {
    left: 820px;
    top: 64px;
    position: absolute;
    overflow: visible;
    width: 281px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Group_14 {
    position: absolute;
    width: 562px;
    height: 292px;
    left: 60px;
    top: 195px;
    overflow: visible;
}
#Rectangle_36 {
    fill: rgba(255,255,255,1);
}
.Rectangle_36 {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 598px;
    height: 328px;
    left: 0px;
    top: 0px;
}
#Group_13 {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 243px;
    top: 48px;
    overflow: visible;
}
#Rectangle_37 {
    fill: rgba(156,185,0,1);
}
.Rectangle_37 {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 112px;
    height: 112px;
    left: 0px;
    top: 0px;
}
#call {
    fill: rgba(255,255,255,1);
}
.call {
    overflow: visible;
    position: absolute;
    width: 35.972px;
    height: 35.892px;
    left: 20px;
    top: 20px;
    transform: matrix(1,0,0,1,0,0);
}
#n_3_998_877_6655 {
    left: 150px;
    top: 207px;
    position: absolute;
    overflow: visible;
    width: 263px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(76,92,104,1);
}
#n_47_Phone {
    left: 165px;
    top: 145px;
    position: absolute;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(76,92,104,1);
}
#Group_15 {
    position: absolute;
    width: 562px;
    height: 292px;
    left: 679px;
    top: 195px;
    overflow: visible;
}
#Rectangle_36_bn {
    fill: rgba(255,255,255,1);
}
.Rectangle_36_bn {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 598px;
    height: 328px;
    left: 0px;
    top: 0px;
}
#Group_13_bo {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 243px;
    top: 48px;
    overflow: visible;
}
#Rectangle_37_bp {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_bp {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 112px;
    height: 112px;
    left: 0px;
    top: 0px;
}
#mail {
    fill: rgba(255,255,255,1);
}
.mail {
    overflow: visible;
    position: absolute;
    width: 35.973px;
    height: 28.264px;
    left: 20px;
    top: 23.625px;
    transform: matrix(1,0,0,1,0,0);
}
#testgmailcom {
    left: 156px;
    top: 207px;
    position: absolute;
    overflow: visible;
    width: 251px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(76,92,104,1);
}
#Email {
    left: 223px;
    top: 145px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(76,92,104,1);
}
#Group_16 {
    position: absolute;
    width: 562px;
    height: 292px;
    left: 1298px;
    top: 195px;
    overflow: visible;
}
#Rectangle_36_bu {
    fill: rgba(255,255,255,1);
}
.Rectangle_36_bu {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 598px;
    height: 328px;
    left: 0px;
    top: 0px;
}
#Icon {
    position: absolute;
    width: 350px;
    height: 54px;
    left: 106px;
    top: 152px;
    overflow: visible;
}
#Group_17 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_37_bx {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_bx {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 0px;
    top: 0px;
}
#facebook_1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 11px;
    top: 11px;
    overflow: visible;
}
#Group_18 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 74px;
    top: 0px;
    overflow: visible;
}
#Rectangle_37_b {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_b {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 0px;
    top: 0px;
}
#twitter_1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 11px;
    top: 11px;
    overflow: visible;
}
#Group_19 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 148px;
    top: 0px;
    overflow: visible;
}
#Rectangle_37_ca {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_ca {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 0px;
    top: 0px;
}
#linkedin {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 11px;
    top: 11px;
    overflow: visible;
}
#Group_20 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 222px;
    top: 0px;
    overflow: visible;
}
#Rectangle_37_cb {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_cb {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 0px;
    top: 0px;
}
#google-plus {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 11px;
    top: 11px;
    overflow: visible;
}
#Group_21 {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 296px;
    top: 0px;
    overflow: visible;
}
#Rectangle_37_cc {
    fill: rgba(156,185,0,1);
}
.Rectangle_37_cc {
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 0px;
    top: 0px;
}
#youtube-logotype {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 11px;
    top: 11px;
    overflow: visible;
}
#Social_Media {
    left: 153px;
    top: 87px;
    position: absolute;
    overflow: visible;
    width: 257px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(76,92,104,1);
}
#Footer {
    position: absolute;
    width: 1920px;
    height: 390px;
    left: 0px;
    top: 7419px;
    overflow: visible;
}
#Rectangle_28_cd {
    fill: rgba(76,92,104,1);
}
.Rectangle_28_cd {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 390px;
    left: 0px;
    top: 0px;
}
#Sitemap {
    position: absolute;
    width: 127px;
    height: 211px;
    left: 623px;
    top: -44px;
    display: none;
    overflow: visible;
}
#Sitemap_cf {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Contact {
    left: 0px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#About {
    left: 0px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#FAQs {
    left: 0px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Team {
    left: 0px;
    top: 182px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Resouries {
    position: absolute;
    width: 363px;
    height: 172px;
    left: 654px;
    top: 56px;
    overflow: visible;
}
#Ressourcen {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 178px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Impressum {
    left: 0px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Kontakt {
    left: 0px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 96px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Datenschutz {
    left: 0px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#AGB {
    left: 263px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Sitemap_cq {
    left: 263px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Presse {
    left: 263px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Mobile_App {
    position: absolute;
    width: 535px;
    height: 150.688px;
    left: 1324px;
    top: 56px;
    overflow: visible;
}
#Mobile_App_ct {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#apple-app-store-travel-awards- {
    position: absolute;
    width: 255px;
    height: 76.688px;
    left: 280px;
    top: 74px;
    overflow: visible;
}
#apple-app-store-travel-awards-_cv {
    position: absolute;
    width: 255px;
    height: 76.688px;
    left: 0px;
    top: 74px;
    overflow: visible;
}
#RD3_meinjobportal1 {
    display: none;
    position: absolute;
    width: 287px;
    height: 124.579px;
    left: 60px;
    top: -44px;
    overflow: visible;
}
#Rd3_on_white_with_slogan_white {
    position: absolute;
    width: 287px;
    height: 139.065px;
    left: 60px;
    top: 56px;
    overflow: visible;
}
#Rectangle_38 {
    fill: rgba(61,77,90,1);
}
.Rectangle_38 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 92px;
    left: 0px;
    top: 298px;
}
#n_2022_test_GmbH {
    left: 851px;
    top: 330px;
    position: absolute;
    overflow: visible;
    width: 220px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Plan {
    position: absolute;
    width: 1800px;
    height: 2136px;
    left: 60px;
    top: 661px;
    overflow: visible;
}
#Heading {
    position: absolute;
    width: 998px;
    height: 270px;
    left: 401px;
    top: 0px;
    overflow: visible;
}
#Heading_Pattern {
    position: absolute;
    width: 506px;
    height: 80px;
    left: 246px;
    top: 190px;
    overflow: visible;
}
#Rectangle_18 {
    fill: rgba(156,185,0,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 6px;
    left: 326px;
    top: 37px;
}
#Rectangle_19 {
    fill: rgba(156,185,0,1);
}
.Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 6px;
    left: 0px;
    top: 37px;
}
#business-and-trade123 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 213px;
    top: 0px;
    overflow: visible;
}
#Der_9_Punkte_Plan {
    left: 241px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 517px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(156,185,0,1);
}
#in_Zusammenarbeit_mit_sterreic {
    left: 0px;
    top: 96px;
    position: absolute;
    overflow: visible;
    width: 999px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(76,92,104,1);
}
#n_1 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 0px;
    top: 330px;
    overflow: visible;
}
#Rectangle_20 {
    fill: rgba(156,185,0,1);
}
.Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Erhaltung_der_vielfltigen_Wirt {
    left: 88px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 403px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83 {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83 {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_1_dc {
    left: 247px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_2 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 611px;
    top: 330px;
    overflow: visible;
}
#Rectangle_20_de {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_de {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Nutzung_digitaler_Potentiale_f {
    left: 65px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 449px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_dg {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_dg {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_2_dh {
    left: 239px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_3 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 1222px;
    top: 330px;
    overflow: visible;
}
#Rectangle_20_dj {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_dj {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Umstze_bleiben_ausschlielich_b {
    left: 48px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 483px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_dl {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_dl {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_3_dm {
    left: 239px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_4 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 0px;
    top: 942px;
    overflow: visible;
}
#Rectangle_20_do {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_do {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Brger_erfahren_digital_was_sie {
    left: 105px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 369px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_dq {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_dq {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_4_dr {
    left: 235px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_5 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 611px;
    top: 942px;
    overflow: visible;
}
#Rectangle_20_dt {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_dt {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#alle_Betriebe_Vereine__Einrich {
    left: 35px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 509px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_dv {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_dv {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_5_dw {
    left: 239px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_6 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 1222px;
    top: 942px;
    overflow: visible;
}
#Rectangle_20_dy {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_dy {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Steuern_und_Abgaben_kommen_all {
    left: 79px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 421px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_d {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_d {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_6_d {
    left: 237px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_7 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 0px;
    top: 1554px;
    overflow: visible;
}
#Rectangle_20_d {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_d {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#alle_Marketingauftritte_erfolg {
    left: 112px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 355px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_ea {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_ea {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_7_d {
    left: 238px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_8 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 611px;
    top: 1554px;
    overflow: visible;
}
#Rectangle_20_ea {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_ea {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Betriebe_Vereine__Einrichtunge {
    left: 87px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 405px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_eb {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_eb {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_8_eb {
    left: 236px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#n_9 {
    position: absolute;
    width: 578px;
    height: 582px;
    left: 1222px;
    top: 1554px;
    overflow: visible;
}
#Rectangle_20_ed {
    fill: rgba(156,185,0,1);
}
.Rectangle_20_ed {
    position: absolute;
    overflow: visible;
    width: 578px;
    height: 535px;
    left: 0px;
    top: 47px;
}
#Gemeinden_und_deren_Betriebe_w {
    left: 86px;
    top: 274px;
    position: absolute;
    overflow: visible;
    width: 407px;
    white-space: nowrap;
    line-height: 53px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#Rectangle_83_ef {
    fill: rgba(76,92,104,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_83_ef {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 236px;
    height: 236px;
    left: 186px;
    top: 0px;
}
#n_9_eg {
    left: 237px;
    top: 55px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#Ihre_Gemeinde {
    position: absolute;
    width: 1920px;
    height: 709px;
    left: 0px;
    top: 2896px;
    overflow: visible;
}
#Rectangle_28_ei {
    fill: rgba(76,92,104,1);
}
.Rectangle_28_ei {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 549px;
    left: 0px;
    top: 0px;
}
#Text {
    position: absolute;
    width: 836px;
    height: 417px;
    left: 998px;
    top: 66px;
    overflow: visible;
}
#Ihre_Gemeinde_virtuell_in_3D_u {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 837px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#Group_28 {
    position: absolute;
    width: 753.246px;
    height: 86px;
    left: 0px;
    top: 99px;
    overflow: visible;
}
#arrow-down {
    transform: translate(-759.754px, -2928px) matrix(1,0,0,1,769.9776,2924.7764) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95 {
    fill: rgba(255,255,255,1);
}
.Path_95 {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96 {
    fill: rgba(255,255,255,1);
}
.Path_96 {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#als_Website_auf_regionalunddig {
    left: 102.246px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 652px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_27 {
    position: absolute;
    width: 689.246px;
    height: 86px;
    left: 0px;
    top: 215px;
    overflow: visible;
}
#arrow-down_er {
    transform: translate(-759.754px, -3060px) matrix(1,0,0,1,769.9776,3056.7764) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95_es {
    fill: rgba(255,255,255,1);
}
.Path_95_es {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96_et {
    fill: rgba(255,255,255,1);
}
.Path_96_et {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#als_eigene_App_fr_Handy__Table {
    left: 97.246px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 593px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_26 {
    position: absolute;
    width: 727.246px;
    height: 86px;
    left: 0px;
    top: 331px;
    overflow: visible;
}
#arrow-down_ew {
    transform: translate(-759.754px, -3160px) matrix(1,0,0,1,769.9776,3156.7764) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95_ex {
    fill: rgba(255,255,255,1);
}
.Path_95_ex {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96_ey {
    fill: rgba(255,255,255,1);
}
.Path_96_ey {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#Gebude__Objekte_verlinkt_mit_d {
    left: 97.246px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 631px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Img {
    position: absolute;
    width: 886px;
    height: 643px;
    left: 60px;
    top: 66px;
    overflow: visible;
}
#Rectangle_85 {
    fill: rgba(255,255,255,1);
}
.Rectangle_85 {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 946px;
    height: 703px;
    left: 0px;
    top: 0px;
}
#Mask_Group_6 {
    position: absolute;
    width: 886px;
    height: 643px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Digital__Regional {
    position: absolute;
    width: 1800px;
    height: 370px;
    left: 60px;
    top: 3704px;
    overflow: visible;
}
#Digital_suchen__finden {
    position: absolute;
    width: 640px;
    height: 370px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_89 {
    fill: rgba(255,255,255,1);
}
.Rectangle_89 {
    filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 790px;
    height: 520px;
    left: 0px;
    top: 0px;
}
#Digital_suchen__finden_e {
    left: 73px;
    top: 256px;
    position: absolute;
    overflow: visible;
    width: 496px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(156,185,0,1);
}
#search {
    position: absolute;
    width: 162.585px;
    height: 162.479px;
    left: 239px;
    top: 65px;
    overflow: visible;
}
#Path_97 {
    fill: rgba(156,185,0,1);
}
.Path_97 {
    overflow: visible;
    position: absolute;
    width: 162.585px;
    height: 162.479px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_98 {
    fill: rgba(156,185,0,1);
}
.Path_98 {
    overflow: visible;
    position: absolute;
    width: 8.295px;
    height: 8.295px;
    left: 64.103px;
    top: 57.308px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_99 {
    fill: rgba(156,185,0,1);
}
.Path_99 {
    overflow: visible;
    position: absolute;
    width: 41.475px;
    height: 58.063px;
    left: 47.513px;
    top: 40.718px;
    transform: matrix(1,0,0,1,0,0);
}
#Group {
    position: absolute;
    width: 222px;
    height: 122px;
    left: 789px;
    top: 124px;
    overflow: visible;
}
#Rectangle_90 {
    fill: rgba(156,185,0,1);
}
.Rectangle_90 {
    position: absolute;
    overflow: visible;
    width: 222px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#Rectangle_91 {
    fill: rgba(156,185,0,1);
}
.Rectangle_91 {
    position: absolute;
    overflow: visible;
    width: 222px;
    height: 50px;
    left: 0px;
    top: 72px;
}
#Regional_kaufen {
    position: absolute;
    width: 640px;
    height: 370px;
    left: 1160px;
    top: 0px;
    overflow: visible;
}
#Rectangle_88 {
    fill: rgba(255,255,255,1);
}
.Rectangle_88 {
    filter: drop-shadow(0px 5px 50px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 790px;
    height: 520px;
    left: 0px;
    top: 0px;
}
#Regional_kaufen_fg {
    left: 147px;
    top: 256px;
    position: absolute;
    overflow: visible;
    width: 348px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(156,185,0,1);
}
#coins {
    fill: rgba(156,185,0,1);
}
.coins {
    overflow: visible;
    position: absolute;
    width: 162.585px;
    height: 162.585px;
    left: 239px;
    top: 65px;
    transform: matrix(1,0,0,1,0,0);
}
#Professionelle_Landing {
    position: absolute;
    width: 1920px;
    height: 701px;
    left: 0px;
    top: 4173px;
    overflow: visible;
}
#Rectangle_28_fj {
    fill: rgba(156,185,0,1);
}
.Rectangle_28_fj {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 623px;
    left: 0px;
    top: 0px;
}
#Text_fk {
    position: absolute;
    width: 803px;
    height: 507px;
    left: 61px;
    top: 58px;
    overflow: visible;
}
#Professionelle_Landing_Page_fr {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 741px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#Group_29 {
    position: absolute;
    width: 729px;
    height: 129px;
    left: 0px;
    top: 103px;
    overflow: visible;
}
#arrow-down_fn {
    transform: translate(0px, -110px) matrix(1,0,0,1,10.2237,103.7763) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95_fo {
    fill: rgba(255,255,255,1);
}
.Path_95_fo {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96_fp {
    fill: rgba(255,255,255,1);
}
.Path_96_fp {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#eine_einheitliche_Zielseite_De {
    left: 86px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 644px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_30 {
    position: absolute;
    width: 803px;
    height: 86px;
    left: 0px;
    top: 262px;
    overflow: visible;
}
#arrow-down_fs {
    transform: translate(0px, -257px) matrix(1,0,0,1,10.2237,250.7763) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95_ft {
    fill: rgba(255,255,255,1);
}
.Path_95_ft {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96_fu {
    fill: rgba(255,255,255,1);
}
.Path_96_fu {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#alle_wichtigen_Informationen_a {
    left: 81px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 723px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_31 {
    position: absolute;
    width: 683px;
    height: 129px;
    left: 0px;
    top: 378px;
    overflow: visible;
}
#arrow-down_fx {
    transform: translate(0px, -395px) matrix(1,0,0,1,10.2237,393.7763) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 35.798px;
    height: 56.246px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_95_fy {
    fill: rgba(255,255,255,1);
}
.Path_95_fy {
    overflow: visible;
    position: absolute;
    width: 20.459px;
    height: 35.798px;
    left: 35.786px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_96_fz {
    fill: rgba(255,255,255,1);
}
.Path_96_fz {
    overflow: visible;
    position: absolute;
    width: 51.129px;
    height: 5.113px;
    left: 0px;
    top: 15.343px;
    transform: matrix(1,0,0,1,0,0);
}
#professionell_aufbereitet_mode {
    left: 81px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 603px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Img_f {
    position: absolute;
    width: 886px;
    height: 643px;
    left: 974px;
    top: 58px;
    overflow: visible;
}
#Rectangle_86 {
    fill: rgba(255,255,255,1);
}
.Rectangle_86 {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 946px;
    height: 703px;
    left: 0px;
    top: 0px;
}
#Mask_Group_7 {
    position: absolute;
    width: 886px;
    height: 643px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Plan_f {
    position: absolute;
    width: 1800px;
    height: 1761px;
    left: 60px;
    top: 4973px;
    overflow: visible;
}
#Heading_f {
    position: absolute;
    width: 528px;
    height: 238px;
    left: 636px;
    top: 0px;
    overflow: visible;
}
#Heading_Pattern_f {
    position: absolute;
    width: 506px;
    height: 80px;
    left: 11px;
    top: 158px;
    overflow: visible;
}
#Rectangle_18_f {
    fill: rgba(156,185,0,1);
}
.Rectangle_18_f {
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 6px;
    left: 326px;
    top: 37px;
}
#Rectangle_19_f {
    fill: rgba(156,185,0,1);
}
.Rectangle_19_f {
    position: absolute;
    overflow: visible;
    width: 180px;
    height: 6px;
    left: 0px;
    top: 37px;
}
#business-and-trade123_f {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 213px;
    top: 0px;
    overflow: visible;
}
#Unser_Preis_Modell {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 529px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(156,185,0,1);
}
#Einfach_Effizient_Fair_Erfolgr {
    left: 36px;
    top: 96px;
    position: absolute;
    overflow: visible;
    width: 457px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(76,92,104,1);
}
#Group_37 {
    position: absolute;
    width: 855px;
    height: 1439px;
    left: 0px;
    top: 322px;
    overflow: visible;
}
#Rectangle_92 {
    fill: rgba(255,255,255,1);
}
.Rectangle_92 {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 975px;
    height: 1559px;
    left: 0px;
    top: 0px;
}
#Rectangle_93 {
    fill: rgba(156,185,0,1);
}
.Rectangle_93 {
    position: absolute;
    overflow: visible;
    width: 855px;
    height: 230px;
    left: 0px;
    top: 0px;
}
#Rectangle_94 {
    fill: rgba(156,185,0,1);
}
.Rectangle_94 {
    position: absolute;
    overflow: visible;
    width: 855px;
    height: 856px;
    left: 0px;
    top: 583px;
}
#Einmalig {
    left: 314px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 229px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Setup_Gebhr {
    left: 307px;
    top: 136px;
    position: absolute;
    overflow: visible;
    width: 243px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(255,255,255,1);
}
#Group_32 {
    position: absolute;
    width: 268px;
    height: 301px;
    left: 294px;
    top: 235px;
    overflow: visible;
}
#n_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 269px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 220px;
    color: rgba(156,185,0,1);
}
#pro_Einwohner {
    left: 14px;
    top: 262px;
    position: absolute;
    overflow: visible;
    width: 241px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(76,92,104,1);
}
#digitale_3D_Stadt {
    left: 292px;
    top: 668px;
    position: absolute;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#auch_als_App {
    left: 323px;
    top: 747px;
    position: absolute;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Landing_Page_fr_alle_Betriebe_ {
    left: 111px;
    top: 825px;
    position: absolute;
    overflow: visible;
    width: 635px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#und_ffentliche_Einrichtungen {
    left: 182px;
    top: 903px;
    position: absolute;
    overflow: visible;
    width: 493px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#alle_Information_in_Deutsch__E {
    left: 117px;
    top: 982px;
    position: absolute;
    overflow: visible;
    width: 623px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Group_36 {
    position: absolute;
    width: 342.499px;
    height: 39px;
    left: 105px;
    top: 1080px;
    overflow: visible;
}
#arrow-down_gr {
    transform: translate(-201.501px, -3039px) matrix(1,0,0,1,208.4273,3039.0737) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 24.252px;
    height: 38.105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_100 {
    fill: rgba(255,255,255,1);
}
.Path_100 {
    overflow: visible;
    position: absolute;
    width: 13.861px;
    height: 24.252px;
    left: 24.244px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_101 {
    fill: rgba(255,255,255,1);
}
.Path_101 {
    overflow: visible;
    position: absolute;
    width: 34.639px;
    height: 3.464px;
    left: 0px;
    top: 10.395px;
    transform: matrix(1,0,0,1,0,0);
}
#alle_Verlinkungen {
    left: 58.499px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 285px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Group_35 {
    position: absolute;
    width: 394.499px;
    height: 39px;
    left: 105px;
    top: 1158px;
    overflow: visible;
}
#arrow-down_gw {
    transform: translate(-201.501px, -3117px) matrix(1,0,0,1,208.4273,3118.0737) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 24.252px;
    height: 38.105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_100_gx {
    fill: rgba(255,255,255,1);
}
.Path_100_gx {
    overflow: visible;
    position: absolute;
    width: 13.861px;
    height: 24.252px;
    left: 24.244px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_101_gy {
    fill: rgba(255,255,255,1);
}
.Path_101_gy {
    overflow: visible;
    position: absolute;
    width: 34.639px;
    height: 3.464px;
    left: 0px;
    top: 10.395px;
    transform: matrix(1,0,0,1,0,0);
}
#Eintragung_im_Index {
    left: 58.499px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 337px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Group_34 {
    position: absolute;
    width: 554.499px;
    height: 39px;
    left: 105px;
    top: 1237px;
    overflow: visible;
}
#arrow-down_g {
    transform: translate(-201.501px, -3196px) matrix(1,0,0,1,208.4273,3196.0737) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 24.252px;
    height: 38.105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_100_g {
    fill: rgba(255,255,255,1);
}
.Path_100_g {
    overflow: visible;
    position: absolute;
    width: 13.861px;
    height: 24.252px;
    left: 24.244px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_101_g {
    fill: rgba(255,255,255,1);
}
.Path_101_g {
    overflow: visible;
    position: absolute;
    width: 34.639px;
    height: 3.464px;
    left: 0px;
    top: 10.395px;
    transform: matrix(1,0,0,1,0,0);
}
#Eintragung_in_Suchmaschinen {
    left: 58.499px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 497px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Group_33 {
    position: absolute;
    width: 644.499px;
    height: 39px;
    left: 105px;
    top: 1315px;
    overflow: visible;
}
#arrow-down_ha {
    transform: translate(-201.501px, -3274px) matrix(1,0,0,1,208.4273,3274.0737) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 24.252px;
    height: 38.105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_100_ha {
    fill: rgba(255,255,255,1);
}
.Path_100_ha {
    overflow: visible;
    position: absolute;
    width: 13.861px;
    height: 24.252px;
    left: 24.244px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_101_ha {
    fill: rgba(255,255,255,1);
}
.Path_101_ha {
    overflow: visible;
    position: absolute;
    width: 34.639px;
    height: 3.464px;
    left: 0px;
    top: 10.395px;
    transform: matrix(1,0,0,1,0,0);
}
#Promotion_auf_regionalunddigit {
    left: 58.499px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 587px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Group_38 {
    position: absolute;
    width: 855px;
    height: 1439px;
    left: 945px;
    top: 322px;
    overflow: visible;
}
#Rectangle_92_hb {
    fill: rgba(255,255,255,1);
}
.Rectangle_92_hb {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 975px;
    height: 1559px;
    left: 0px;
    top: 0px;
}
#Rectangle_93_hc {
    fill: rgba(156,185,0,1);
}
.Rectangle_93_hc {
    position: absolute;
    overflow: visible;
    width: 855px;
    height: 230px;
    left: 0px;
    top: 0px;
}
#Rectangle_94_hd {
    fill: rgba(156,185,0,1);
}
.Rectangle_94_hd {
    position: absolute;
    overflow: visible;
    width: 855px;
    height: 856px;
    left: 0px;
    top: 583px;
}
#Monatlich {
    left: 299px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 259px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Mindestlaufzeit_12_Monate {
    left: 203px;
    top: 136px;
    position: absolute;
    overflow: visible;
    width: 451px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(255,255,255,1);
}
#Group_32_hg {
    position: absolute;
    width: 612px;
    height: 301px;
    left: 122px;
    top: 235px;
    overflow: visible;
}
#n_10 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 613px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 220px;
    color: rgba(156,185,0,1);
}
#pro_Einwohner_pro_Monat {
    left: 97px;
    top: 262px;
    position: absolute;
    overflow: visible;
    width: 419px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(76,92,104,1);
}
#Neue_Ansiedelungen_erstellen {
    left: 182px;
    top: 668px;
    position: absolute;
    overflow: visible;
    width: 493px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#verlorene_Ansiedelungen_austra {
    left: 136px;
    top: 747px;
    position: absolute;
    overflow: visible;
    width: 584px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Verlinkungen_updaten {
    left: 245px;
    top: 825px;
    position: absolute;
    overflow: visible;
    width: 367px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Suchen_anpassen {
    left: 285px;
    top: 903px;
    position: absolute;
    overflow: visible;
    width: 287px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Laufende_Promotion {
    left: 260px;
    top: 982px;
    position: absolute;
    overflow: visible;
    width: 337px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}