	<!-- <div class="about-us"> -->
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<!-- <div class="carousel-item active">
				<img src="/assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700"
					class="carsoul-img">
				<div class="carousel-caption" id="about-us">
					Über uns
				</div>
			</div> -->
		</div>
	</div>
	<section class="about-us-section-1">
		<div class="container">
			<h1 class="about-us-section-3-heading">Über uns</h1>

			<div class="about-us-section-3-line">
				<img src="/assets/img/business-img.png" class="section-title-img">
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="about-us-box-2">
						<img src="/assets/img/H2 to RD3 animated.gif" class="about-us-main-img">
					</div>
				</div>
				<div class="col-md-6">
					<p class="about-us-txt">
						Ursprünglich als H2 CANDO GmbH im Jahr 2018 gegründet, waren
						wir zu Beginn als erfolgreicher Sport- und Schulsprachreiseveranstalter
						bekannt. Aufgrund der im Jahr 2020 auftretenden COVID-Pandemie
						und dem damit verbundenen Totalausfall des Kerngeschäftes, begann
						das verbliebene Team nach neuen Herausforderungen zu suchen. Es
						wurde die Idee eines regionalen und digitalen Konzepts geboren, das
						ein Jobportal, mit Stadt- und Sportmarketing verbindet. Auch wenn wir
						der Tourismus- und Freizeitwirtschaft treu bleiben, ist es für uns doch ein
						Aufbruch zu neuen Ufern und so wurde im März 2022 aus H2 CANDO
						die RD3 GmbH. Dabei steht das R für Regional, das D für Digital und die
						Zahl 3 für die drei Bereiche: Jobportal, Stadtmarketing, Sportmarketing.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="about-us-section-2">
		<div class="container">
			<h1 class="about-us-section-2-heading">Als Team bleiben wir den ursprünglichen
				Werten des Unternehmens treu</h1>
			<div class="row ">
				<div class="about-us-mb">
					<div class="col-md-4">
						<div class="about-us-box-orange">
							<span class="about-us-box-orange-txt">Sinnvolles tun.
								Positives
								bewirken.</span>
						</div>
					</div>
					<div class="col-md-4 mobile-pd-2">
						<div class="about-us-box-green">
							<span class="about-us-box-orange-txt">Modern und
								traditionell.
								Zukunftsorientiert
								und nachhaltig.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-box-cream">
							<span class="about-us-box-orange-txt">All das mit
								Mit Herz und
								Verstand.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="sport-section-3">
		<div class="container">
			<h1 class="sport-section-3-heading">Unser Team</h1>
			<div class="sport-section-3-line">
				<img src="/assets/img/business-img.png" class="section-title-img">
			</div>
		</div>

		<div class="container">
			<div class="row">
				<!-- <div class="col-md-6" *ngFor="let item of image | paginate: { itemsPerPage: 3, currentPage: pagination , id:'filterdata'}"> -->

				<div class="col-md-6 mobile-res-pd">
					<div class="section-3-main-box">
						<div class="section-3-main-box-left-1">
							<img src="/assets/img/Helly_Hirner_RD3-Web.png">
							<div class="team-facebook-square">
								<i class="fab fa-facebook-f"></i>
							</div>
							<div class="team-instagram-square">
								<i class="fab fa-instagram"></i>
							</div>
							<div class="team-twitter-square">
								<i class="fab fa-twitter"></i>
							</div>
							<div class="team-link-in-square">
								<i class="fab fa-linkedin"></i>
							</div>
							<div class="team-youtub-square">
								<i class="fab fa-youtube-play"></i>
							</div>

						</div>
						<div class="about-us-main-box-left-2">
							<span>Helmut Hirner, MBA
							</span>
							<span>Gründer & Geschäftsführer</span>
							<div class="about-us-detail">Internationaler Unternehmer seit 2003. Akademischer
								Tourismusmanager & Master of Business Administration. Ehemaliger Beachvolleyball Profi.
								20 Jahre Erfahrung in der Digitalisierung von Dienstleistungen, Sport und Tourismus.
							</div>

							<!-- <button class="read-more-btn">Read more</button> -->
						</div>


					</div>


				</div>

				<div class="col-md-6">
					<div class="section-3-main-box">
						<div class="section-3-main-box-left-1">
							<img src="/assets/img/Sabine_Hirner_RD3-Web.png">
							<div class="team-facebook-square">
								<i class="fab fa-facebook-f"></i>
							</div>
							<div class="team-instagram-square">
								<i class="fab fa-instagram"></i>
							</div>
							<div class="team-twitter-square">
								<i class="fab fa-twitter"></i>
							</div>
							<div class="team-link-in-square">
								<i class="fab fa-linkedin"></i>
							</div>
							<div class="team-youtub-square">
								<i class="fab fa-youtube-play"></i>
							</div>
						</div>
						<div class="about-us-main-box-left-2">
							<!-- <span>Many K.</span>
							<span>CEO</span>
							<span>manyk@gmail.com</span>
							<span>+49 987 654 3210</span> -->
							<span>Mag. Sabine Hirner
							</span>
							<span>RD3 Jobs | Arbeitspsychologin
							</span>
							<div class="about-us-detail">Klinische- Gesundheits- und Arbeitspsychologin. Jahrelange
								Erfahrung in Rehaeinrichtungen unterschiedlicher Fachrichtungen, als Psychologin mit
								eigener Praxis sowie als Arbeitspsychologin für Initiativen der österr. Bundesregierung.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="section-3-main-box">
						<div class="section-3-main-box-left-1">
							<img src="/assets/img/Claudia_Jaritz_RD3-Web.png">
							<div class="team-facebook-square">
								<i class="fab fa-facebook-f"></i>
							</div>
							<div class="team-instagram-square">
								<i class="fab fa-instagram"></i>
							</div>
							<div class="team-twitter-square">
								<i class="fab fa-twitter"></i>
							</div>
							<div class="team-link-in-square">
								<i class="fab fa-linkedin"></i>
							</div>
							<div class="team-youtub-square">
								<i class="fab fa-youtube-play"></i>
							</div>
						</div>
						<div class="about-us-main-box-left-2">
							<!-- <span>Many K.</span>
							<span>CEO</span>
							<span>manyk@gmail.com</span>
							<span>+49 987 654 3210</span> -->
							<span>Claudia Jaritz
							</span>
							<span>Büroleitung | Buchhaltung
							</span>
							<div class="about-us-detail">Gelernte Industriekauffrau mit 25 Jahren Erfahrung in
								leitenden Bürotätigkeiten. Ehemalige Kampfsportlerin. Bereits über 7 Jahre in der
								Assistenz aller Unternehmen von Helmut Hirner tätig.
							</div>

							<!-- <button class="read-more-btn">Read more</button> -->
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="section-3-main-box">
						<div class="section-3-main-box-left-1">
							<img src="/assets/img/JK_RD3-Web.png">
							<div class="team-facebook-square">
								<i class="fab fa-facebook-f"></i>
							</div>
							<div class="team-instagram-square">
								<i class="fab fa-instagram"></i>
							</div>
							<div class="team-twitter-square">
								<i class="fab fa-twitter"></i>
							</div>
							<div class="team-link-in-square">
								<i class="fab fa-linkedin"></i>
							</div>
							<div class="team-youtub-square">
								<i class="fab fa-youtube-play"></i>
							</div>
						</div>
						<div class="about-us-main-box-left-2">
							<!-- <span>Many K.</span>
							<span>CEO</span>
							<span>manyk@gmail.com</span>
							<span>+49 987 654 3210</span> -->
							<span>Jürgen Kurz</span>
							<span>Marketing & Vertriebsleiter</span>
							<div class="about-us-detail">Marketing- und Vertriebsexperte. Ehemaliger Fußballprofi. 25
								Jahre Erfahrung im Sportmarketing und im Vertrieb in zahlreichen Managementpositionen in
								Österreich, Deutschland und Dänemark.
							</div>
							<!-- <button class="read-more-btn">Read more</button> -->

						</div>
					</div>
				</div>



			</div>
		</div>
		<!-- <div class="pagination-div">
			<pagination-controls class="pagination" (pageChange)="pagination = $event" id="filterdata">
			</pagination-controls>
		</div> -->
	</section>
<!-- </div> -->
