.crossicon{
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 8px 14px;
    margin-left: 15px;
    cursor: pointer;
    color: #fff;
    background: #1e3252;
}

.deletetravelimage{
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0px 7px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    right: 22px;
    top: -4px;
    color: #fff;
    background-color: #798598;
}