.crossicon {
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 8px 14px;
    margin-left: 15px;
    cursor: pointer;
    color: #fff;
    background: #1e3252;
}

.deletetravelimage {
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0px 7px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    right: 22px;
    top: -4px;
    color: #fff;
    background-color: #798598;
    height: 25px;
}



.remove_image {
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0px 7px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    right: 0;
   
    color: #fff;
    background-color: #798598;
}
.custom_img_width{
    width: 100%;
}
.removeCoverImage {
    vertical-align: top;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 8px 14px;
    margin-left: 15px;
    cursor: pointer;
}

.custom_grid_set {
    display: inline-flex;
    width: 240px;
}
.custom_form_label{
    display: flex;
    margin-top: 20px;
}
.custom_set{
    display: flex;
    flex-direction: column;
}
.remove_image {
    border-radius: 50%;
    padding: 0;
    margin-right: 7px;
    position: relative;
    height: 60px;
    font-size: 18px;
    width: 60px;
    right: 22px;
    left: 30.5em;
    top: -29em;
    }
    .custom_img_set_new{
        width: 600px;
        height: 500px;
    }
  .custom_current_img_multiple{
      display: flex;
      flex-direction: column;
  }
    .remove_image i {
        position: absolute;
        left: 24px;
        top: 18px;
        font-size: 25px;
    }

    .remove_image2 {
        border-radius: 50%;
        padding: 0;
        margin-right: 0px;
        position: relative;
        height: 36px;
        font-size: 15px;
        width: 35px;
        right: 22px;
        top: -9px;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 2px #888;
        vertical-align: top;
        display: inline-block;
        background-color: #798598;
    }
    

    .remove_image2 i {
        position: absolute;
    left: 13px;
    top: 9px;
    }