<div id="body" class="active">
    <div class="content" *ngIf="show_form">
        <div class="container">
            <div class="page-title">
                <div style="padding-top: 15px;">
                    <div class="crossicon" (click)="resetForm()">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
                <h3>Add Reise-Empfehlungen data</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="travelInfoForm" (ngSubmit)="submitdata()"  [@enterAnimation]>
                                <div formGroupName="travel_info">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Title</label>
                                    <input type="text" name="name" placeholder="enter a text here"
                                        class="form-control"  formControlName="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" name="description" placeholder="enter a description here"
                                        class="form-control" formControlName="description" required>
                                </div>
                                <div class="mb-3">
                                    <label for="Url" class="form-label">Url</label>
                                    <input type="url" name="Url" placeholder="enter a url here"
                                        class="form-control" formControlName="Url" required>
                                </div>

                                <div class="mb-3">
                                    <label for="formFileMultiple" class="form-label">Single file upload
                                    </label>
                                    <input class="form-control" (change)="onCoverImageUpload($event)" type="file" name="file"  accept="image/jpeg,image/jpg,image/png" id="formFileMultiple" />
                                    <div style="display: flex; flex-direction: row;">
                                    <div style="padding-top: 15px;" *ngIf="travelInfoById?.length != 0">
                                        <label class="form-label form-label-top form-label-auto"> Current Preview </label>
                                        <img width="525" style="padding-left: 10px;"
                                        src="{{BASE_URI}}{{travelInfoById?.cover_image_travel}}"
                                        class="attachment-large size-large" alt="Travel Image" loading="lazy"
                                        sizes="100vw">
                                    </div> 
                                    <div style="padding-top: 15px;" *ngIf="cover_image_url">
                                        <label class="form-label form-label-top form-label-auto"> New Preview </label>
                                        <img width="525" style="padding-left: 10px;"
                                        class="attachment-large size-large" alt="Travel Image" loading="lazy" sizes="100vw"
                                        [src]="cover_image_url">
                                        <div (click)="removeCoverImage()" style="
                                        vertical-align: top;
                                        display: inline-block;
                                        border-radius: 60px;    
                                        box-shadow: 0 0 2px #888;
                                        padding: 8px 14px;
                                        margin-left: 15px;
                                        cursor: pointer;">
                                            <i class="fa fa-close" *ngIf="cover_image_url" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="mb-3">
                                    <label for="formFileMultiple" class="form-label">Multiple file upload
                                        </label>
                                    <input class="form-control" (change)="onTravelImagesUpload($event)" type="file" name="file"  accept="image/jpeg,image/jpg,image/png" id="formFileMultiple" multiple/>
                                        <label class="form-label form-label-top form-label-auto"  *ngIf="travel_images_url.length != 0"> Uploaded Images </label>
                                        <div *ngFor="let url of travel_images_url; let i = index">
                                            <img width="200" style="padding: 5px;"
                                            [src]="url"
                                            class="attachment-large size-large" alt="Travel Images" loading="lazy"
                                            sizes="100vw">
                                            <div (click)="remove_image(i)" style="
                                                vertical-align: top;
                                                display: inline-block;
                                                border-radius: 60px;
                                                box-shadow: 0 0 2px #888;
                                                padding: 0px 7px;
                                                margin-right: 15px;
                                                cursor: pointer;
                                                position: relative;
                                                right: 22px;
                                                top: -4px;
                                                color: #fff;
                                                background-color: #798598;">
                                                <i class="fa fa-close" *ngIf="travel_images_url.length != 0" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                </div>
                                <div class="mb-3">
                                        <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7" *ngIf="travelInfoById?.length != 0"> Current Images </label>
                                        <div style="padding-top: 15px;" *ngFor="let images of travelInfoById?.travel_images">
                                            <img width="200" style="padding: 5px;"
                                            src="{{BASE_URI}}{{images.name}}"
                                            class="attachment-large size-large" alt="Boat Images" loading="lazy"
                                            sizes="100vw">
                                            <div (click)="deleteTravelImage(travelInfoById?._id, images._id)" class="deletetravelimage">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="state" class="form-label">Filter Option</label>
                                <select name="state" class="form-select" (change)="changeFilteroption($event)" formControlName="filteroptions">
                                    <option value="">Choose...</option>
                                    <option *ngFor="let data of fiterdata" [ngValue]="data">{{data}}</option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please select a State.</div>
                            </div>
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="page-title">
                <h3>Reise-Empfehlungen data
                    <a class="btn btn-sm btn-outline-primary float-end" (click)="insertTravelInfo()"><i  class="fas fa-user-shield"></i> Add New Data</a>
                </h3>
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-hover dataTable no-footer dtr-inline"
                                    id="dataTables-example" role="grid" aria-describedby="dataTables-example_info"
                                    style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting sorting_asc" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 163px;" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending">No</th>
                                            <th class="sorting sorting_asc" tabindex="0"
                                                aria-controls="dataTables-example" rowspan="1" colspan="1"
                                                style="width: 163px;" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending">Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" style="width: 139px;"
                                                aria-label="Role: activate to sort column ascending">Description</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" style="width: 139px;"
                                                aria-label="Role: activate to sort column ascending">URL</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" style="width: 139px;"
                                                aria-label="Role: activate to sort column ascending">Filteroptions</th>
                                            <!-- <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" style="width: 81px;"
                                                aria-label="Type: activate to sort column ascending">Image</th> -->
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" style="width: 79px;"
                                                aria-label=": activate to sort column ascending">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd" *ngFor="let traveldata of travelInfoDataAll; let i = index">
                                            <td>{{i+1}}</td>
                                            <td class="dtr-control sorting_1" tabindex="0">{{traveldata?.travel_info?.name}}</td>
                                            <td>{{traveldata?.travel_info?.description}}</td>
                                            <td>{{traveldata?.travel_info?.Url}}</td>
                                            <td>{{traveldata?.filteroptions}}</td>
                                            <!-- <td><img width="525" style="padding-left: 10px;"
                                                src="{{BASE_URI}}{{traveldata?.cover_image_travel}}"
                                                class="attachment-large size-large" alt="Travel Image" loading="lazy"
                                                sizes="100vw"></td> -->
                                            <td class="text-end">
                                                <a class="btn btn-outline-info btn-rounded" (click)="uppdatetravelinfo(traveldata?._id)"><i
                                                        class="fas fa-pen" ></i></a>
                                                <a class="btn btn-outline-danger btn-rounded" (click)="deleteTravelInfo(traveldata?._id)"><i
                                                        class="fas fa-trash" ></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>