@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');


  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carsoul-img {
    background-color: #fff;
    filter: brightness(0.7);
  }
  #privacy span {
  font-size: 55px;
  color: #FFFFFF;
  font-family: 'Bebas Neue', cursive;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 100px !important;
    word-break: break-all;
    font-size: 55px;
    color: #FFFFFF;
    font-family: "Bebas Neue", cursive;
  }
  .home {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }

.privacy-section-1{
  padding: 25px 0 10px;
}


.privacy-text-upper {
  color: #4C5C68;
  font-size: 22px;
} 

.privacy-text {
  color: #4C5C68;
  font-size: 22px;
  line-height: 1.0em;
} 
.privacy-img{
  width: 100%;
}

.privacy-section-2{
  padding: 25px 0 0;
}
.privacy-text-1{
 color: #4C5C68;
 font-size: 20px;
}

.section-privacy{
  width: 100%;
  height: 100%;
  line-height: 58px;
  font-size: 30px;
  display:flex;
  justify-content: left;
  vertical-align: top;
  cursor: pointer;
  color: #4C5C68;
  margin-left: 57px;
}
@media (max-width: 500px){
  .section-privacy{
       line-height: 30px;
       font-size: 20px;
       text-align: center;
  display:flex;
  justify-content: center;
  margin-left: 0;
     }
     .carousel-caption {
      position: absolute;
      top: 0 !important;
  }
}
@media (max-width: 767px){
.carousel-caption {
    position: absolute;
    top: 0 !important;
}
}