<div class="home">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700"
                    class="carsoul-img">
                <div class="carousel-caption" id="about-us">
                    Datenschutz
                </div>
            </div>
        </div>
    </div>
    <div class="section-privacy">
        <span>Grundlagen</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Diese Datenschutzerklärung betrifft alle Personen, die die
                        Dienstleistungen der RD3 GmbH im Folgenden RD3 nutzen. Wir informieren Sie damit über Art,
                        Umfang und Zweck der Erhebung und Verwendung Ihrer personenbezogenen Daten durch unser
                        Unternehmen. Wir achten Ihre Privatsphäre und sind bestrebt, die gesetzlichen Vorgaben für die
                        Verarbeitung
                        Ihrer personenbezogenen Daten (EU-Verordnung Nr. 679/2016 (DSGVO), DSG 2000, DSG 2018 und TKG
                        2003) genau einzuhalten. Alle Ihre personenbezogenen Daten werden auf dieser Grundlage
                        verarbeitet. Verantwortlicher für die Datenverarbeitung ist Helmut Hirner, MBA (hh@rd3.at).
                        Unser Datenschutzkoordinator ist ebenfalls Helmut Hirner, MBA.
                        Mit der Nutzung unserer Dienstleistungen und der Erteilung von Einwilligungen im Sinne dieser
                        Erklärung bestätigen Sie, dass Sie das 14. Lebensjahr vollendet haben und in der Lage sind, eine
                        zulässige Einwilligung zu erteilen, oder dass bereits eine wirksame
                        Einwilligung Ihres Erziehungsberechtigten oder Ihres Sachwalters vorliegt.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Angaben gemäß Art 13 DSGVO</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Ihre personenbezogenen Daten, das sind insbesondere</p>
                    <p class="privacy-text">
                        – Ihre Stammdaten (Name, Vorname, Adresse, Mail Adresse, Telefonnummer),</p>
                    <p class="privacy-text"> – die Daten zu Zahlungsart und im Zusammenhang mit Zahlungen, insbesondere
                        mit EC-Karten,Kreditkarten und Bankkarten,</p>
                    <p class="privacy-text">– Daten für Jobinserate inkl. allen erforderlichen Datenfeldern</p>
                    <p class="privacy-text"> – Daten aus Lebensläufen für die erfolgreiche Vermittlung</p>
                    <p class="privacy-text">– Daten für Profilerstellungen von Atheltenseiten</p>
                    <p class="privacy-text"> – Daten von Partnern und Sponsoren zu Marketingzwecken</p>
                    <p class="privacy-text">– Daten von Städten und deren Betrieben, Vereine, Einrichtungen</p>
                    <p class="privacy-text-upper">werden für unsere
                        Dienstleistungen benötigt.</p><p class="privacy-text-upper"> Diese Daten werden deshalb zu diesen Zwecken von uns gespeichert,
                        verarbeitet und, soweit erforderlich, an Dritte
                        – auch Dienstleister in Drittstaaten als Auftragsverarbeiter für Software- und
                        Agenturdienstleistungen, übermittelt. Die Rechtsgrundlagen für diese Datenverarbeitungsprozesse
                        sind</p>
                        <p class="privacy-text-upper"> – die Erfüllung unserer vorvertraglichen und vertraglichen Verpflichtungen Ihnen gegenüber,</p>
                        <p class="privacy-text-upper">– von Ihnen eingeholte Einwilligungen,</p>
                        <p class="privacy-text-upper">– Gesetzliche, vertragliche oder sonstige rechtliche Verpflichtungen unsererseits (z.B.
                        Dokumentationsrechte und - pflichten nach dem Rechnungswesen, Steuer- und Zollrecht,
                        Vertragswesen, Meldewesen, Rechtsstreitigkeiten) sowie § 96 TKG und</p>
                        <p class="privacy-text-upper">– unsere berechtigten Interessen (z.B. die Verbesserung unseres Kundenservice, auch im Bereich
                        der Direktwerbung oder die Wahrnehmung unserer eigenen rechtlichen Interessen). </p>
                        
                        <p class="privacy-text-upper">Die Dauer der
                        Speicherung bemisst sich nach der Dauer unserer Geschäftsbeziehung, den von Ihnen erteilten
                        Einwilligungen, darüber hinaus nach den für uns geltenden gesetzlichen Aufbewahrungspflichten
                        und rechtlichen Verpflichtungen. Wir betonen, dass wir im Fall einer regelmäßigen Zusammenarbeit
                        für unser bestmögliches Kundenservice bestrebt sind, Ihre bereits an uns übermittelten
                        Kundenwünsche so gut zu kennen, dass wir Sie laufend und dauerhaft zufriedenstellen können.</p>
                        <p class="privacy-text-upper">HINWEIS: Angaben um Informationen gemäß Art 14 DSGVO wenn personenbezogene Daten verarbeitet
                        werden, die nicht direkt bei den Kunden als Betroffenen erhoben werden (siehe dazu auch Punkt 1.
                        der Erläuterungen und Hinweise („Platzierung und Inhalt der Datenschutzerklärung“) zu dieser
                        Erklärung).</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Unsere Webauftritte</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Durch den Aufruf unserer Website werden automatisch Ihre Zugriffsdaten erhoben und gespeichert.
                        Diese Zugriffsdaten können insbesondere die aufgerufene Seite, die angesehenen Dateien, Datum
                        und Uhrzeit des Aufrufs, IP-Adresse des Benutzers, Daten des aufrufenden Rechners, insbesondere
                        des Browsers und des Betriebssystems, sowie die Datenmenge und die Meldung des erfolgreichen
                        Aufrufs umfassen. Diese Zugriffsdaten werden von uns für interne statistische Zwecke verwendet,
                        um die Sicherheit unseres Angebots zu gewährleisten und um das Angebot zu optimieren. Bei
                        Verdacht einer rechtswidrigen Handlung werden die Zugriffsdaten zur Beweissicherung ausgewertet.</p>
                        <p class="privacy-text-upper"> Mit der Eingabe Ihrer personenbezogenen Daten in eines unserer Kontaktformulare stimmen Sie für
                        die Dauer der Betreuung dieser konkreten Anfrage der Übermittlung an und Speicherung und
                        Verarbeitung durch uns zu. Dies gilt insbesondere für Ihre Anfragen per Kontakt-Formular, Chat
                        und E-Mails, die Sie uns senden. Wir benötigen diese Daten zur Bearbeitung Ihrer Anfrage und
                        speichern in diesen Fällen auch Ihre IP-Adresse zu Zwecken der Beweissicherung. Die Speicherung
                        erfolgt solange dies für die Betreuung allfälliger ergänzender oder nachträglicher gestellter
                        Fragen durch Sie oder uns erforderlich ist.</p><p class="privacy-text-upper"> Wenn Sie bei uns ein Web-Konto anlegen, stellen wir
                        Ihnen Ihre Vertragsdaten online zur Verfügung. Sie verwahren Ihre Zugangsdaten sorgfältig und
                        stellen sicher, dass keine unberechtigten Personen auf das Konto zugreifen. Für unberechtigte
                        Zugriffe, die – wenn auch nur teilweise – auf ein Fehlverhalten Ihrerseits zurückzuführen sind,
                        übernehmen wir keinerlei Haftung.</p><p class="privacy-text-upper"> Die Daten Ihres Kontos werden nur über eine verschlüsselte
                        Internetverbindung übertragen (https). Für den Verlust von Daten oder den Zugriff Dritter auf
                        Ihre Daten übernehmen wir keine Haftung, wenn wir die nach dem Stand der Technik erforderlichen
                        Sicherheitsmaßnahmen eingehalten haben.</p><p class="privacy-text-upper"> Um eine zeitgemäße Buchung zu bewerkstelligen, bieten
                        wir die Möglichkeit an, dies über Online Tools zu tätigen. Dafür werden alle jene Daten, welche
                        in der Einwilligungserklärung aufgelistet sind zur Verarbeitung erhoben. Dies erfolgt über
                        Online-Formulare, wobei die Daten gesichert an uns übermitteln werden.</p><p class="privacy-text-upper"> Die Rechtsgrundlagen für
                        diese Datenverarbeitungen sind Ihre Einwilligung, unsere vorvertraglichen und vertraglichen
                        Verpflichtungen Ihnen gegenüber, unsere berechtigten Interessen und rechtlichen Verpflichtungen
                        aller Art und § 96 TKG.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Newsletter</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Es steht Ihnen frei, unseren Newsletter zu abonnieren. Um Sie im Newsletter zielgerichtet mit
                        Informationen, die Sie besonders interessieren, versorgen zu können, stellen wir Ihnen bei der
                        Anmeldung frei, auch Angaben zu bestimmten Interessen, Stichtagen, Ortsangaben und Regionen und
                        dergleichen zu machen.</p><p class="privacy-text-upper"> In jedem Newsletter, den Sie erhalten, finden Sie alle erforderlichen
                        Informationen zur Abbestellung des Newsletters. Für nähere Informationen zu unseren Newslettern
                        kontaktieren Sie uns bitte unter info@rd3.at. Wir helfen Ihnen gerne weiter.</p><p class="privacy-text-upper"> 
                        Der Inhalt unserer Website wurde sorgfältig erstellt und mehrfach kontrolliert, für die Aktualität, Richtigkeit und
                        Vollständigkeit der bereitgestellten Informationen übernehmen wir jedoch keine Haftung.
                        Ansprüche auf Schadenersatz wegen Nutzung oder Nichtnutzung der Informationen bzw. durch die
                        Nutzung fehlerhafter oder unvollständiger Informationen, sind ausgeschlossen. Alle Angebote sind
                        freibleibend und unverbindlich. Wir behalten uns das Recht vor, das Angebot oder Teile davon
                        ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung der
                        Website zeitweise oder endgültig einzustellen.</p><p class="privacy-text-upper"> Der Inhalt und die Programmierung unserer Website
                        sind urheber- und leistungsschutzrechtlich geschützt. Jede Vervielfältigung – auch auszugsweise
                        – und öffentliche Wiedergabe, insbesondere das Kopieren von Texten, Grafiken und Fotos, ist ohne
                        unsere vorhergehende schriftliche Zustimmung verboten.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Übermittlung an Dritte / Verpflichtungen von Auftragsverarbeitern</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Ihre personenbezogenen Daten werden von uns unter Umständen</p> <p class="privacy-text-upper">
                            – innerhalb des Konzerns unter
                        Berücksichtigung der zulässigen Verwendungszwecke,</p><p class="privacy-text-upper">
                         – an Auftragsverarbeiter (z.B. für unsere
                        elektronische Werbung in Form von Newslettern), die sich uns gegenüber zur Einhaltung der
                        geltenden Datenschutz-Standards verpflichtet haben, oder</p><p class="privacy-text-upper">
                             – an Dritte, die für die Erbringung der
                        von Ihnen gewünschten Dienstleistungen (z.B. Buchungsvorgänge aller Art in Übersee) beigezogen
                        werden müssen, übermittelt. Für weitere Informationen kontaktieren Sie uns bitte unter
                        info@rd3.at.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Cookies und Tracking Dienste</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Wir verwenden Cookies, das sind kleine Textelemente, die zum Speichern von Informationen in
                        Webbrowsern verwendet werden. Cookies werden bei Ihrem nächsten Besuch unseres Webauftritts
                        erkannt und tragen erheblich dazu bei, Ladevorgänge zu beschleunigen und die Nutzung unserer
                        Angebote komfortabel für Sie zu machen. Ihre von Cookies erkannten und gespeicherten
                        Informationen dienen Ihrer Wiederkennung, aber auch der Analyse Ihres Nutzerverhaltens. Sie
                        werden auf dem Server des jeweiligen Anbieters, der sich als Auftragsverarbeiter uns gegenüber
                        zur Einhaltung der geltenden Datenschutz-Standards verpflichtet hat, gespeichert.</p> 
                        <p class="privacy-text-upper">Nachdem Sie
                        unseren Webauftritt besucht haben, bleiben Cookies auf Ihrem Endgerät gespeichert, sofern Sie
                        dies nicht von vornherein verweigern oder Sie Cookies nicht aktiv löschen. Das aktive
                        Deaktivieren von Cookies kann die Funktionalität unserer Webauftritte für Sie beeinträchtigen.
                        Sie können die Speicherung der Cookies auch durch Eine entsprechende Einstellung Ihrer
                        Browser-Software verhindern. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
                        gegebenenfalls nicht sämtliche Funktionen unserer Website werden nutzen können. Sie können
                        darüber hinaus die Weiterleitung der durch das Cookie erzeugten und auf Ihre Nutzung der Website
                        bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch
                        Google verhindern, indem Sie das auf der Website google.com verfügbare Browser-Plugin
                        herunterladen und installieren. Das Plug-In ist jedoch nur für bestimmte Browser-Programme
                        verfügbar.</p> <p class="privacy-text-upper">Wir verwenden auf unserer Website auch Inhalte Dritter, um unseren Internet-Auftritt
                        möglichst informativ und komfortabel für Sie zu gestalten. Dazu gehören z.B.: Google-Maps oder
                        YouTube. Diese Dritt-Anbieter erhalten aus technischen Gründen Ihre IP-Adresse. Auf die
                        Verwendung dieser Daten durch den Dritt-Anbieter haben wir keinen Einfluss. Wir verweisen
                        diesbezüglich auf die Datenschutzerklärungen der jeweiligen Anbieter.</p> 
                        <p class="privacy-text-upper">Wir setzen Google
                        Analytics, einen Webanalysedienst der Google Inc. 1600, Amphitheatre Parkway, Mountain View, CA
                        94043, USA, ein („Google“). Google Analytics verwendet Cookies. Die durch das Cookie erzeugten
                        Informationen über Ihr Benutzerverhalten werden in der Regel an einen Server von Google in den
                        USA übertragen und dort gespeichert. Ihre IP-Adresse wird zuvor innerhalb der Europäischen Union
                        gekürzt und damit anonymisiert oder zumindest pseudonymisiert. Nur in Ausnahmefällen wird die
                        volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.</p> <p class="privacy-text-upper">
                        Google
                        benützt diese Informationen, um Ihre Nutzung der Website auszuwerten, um Reports über die
                        Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der
                        Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im
                        Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen
                        Daten von Google zusammengeführt. Beachten Sie in diesem Zusammenhang auch die
                        Datenschutzerklärung von Google, insbesondere die unter den beiden folgenden Links abrufbaren
                        Informationen: https://policies.google.com/privacy?hl=de</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Kontakt</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Sie können jederzeit unentgeltlich Auskunft über Ihre personenbezogenen Daten, die von uns
                        gespeichert werden, verlangen. Sie haben als Betroffener auch das Recht auf Widerruf, Auskunft,
                        Löschung, Richtigstellung, Einschränkung und Übertragung Ihrer personenbezogenen Daten, soweit
                        dem keine gesetzliche Aufbewahrungspflicht unsererseits gegenübersteht.</p> 
                        <p class="privacy-text-upper">Folgen des Widerrufs
                        können unkorrekte Ausführungen bzw. Nicht-Erfüllung der gewünschten Buchung darstellen. Für
                        nähere Informationen zu Ihren Rechten als Betroffener kontaktieren Sie uns bitte unter
                        info@rd3.at, zH Herrn Helmut Hirner, MBA. Wir helfen Ihnen gerne weiter. Für Beschwerden ist als
                        Aufsichtsbehörde die Österreichische Datenschutzbehörde (DSB), Wickenburggasse 8-10, 1080 Wien,
                        zuständig.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Sonstiges</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text-upper">
                        Wir haben organisatorische und technische Schutzmaßnahmen, die wir laufend evaluieren und bei
                        Bedarf anpassen, implementiert, um Ihre von uns gespeicherten und verarbeiteten
                        personenbezogenen Daten zu schützen.</p><p class="privacy-text-upper"> Wir behalten uns vor, diese Datenschutzerklärung jederzeit
                        zu ändern und an neue Entwicklungen anzupassen. Die neue Fassung gilt ab Bereitstellung auf
                        unserer Website. Die aktuelle Fassung der Datenschutzerklärung ist jederzeit auf der Website
                        unter https:</p>
                </div>
            </div>
        </div>

    </section>

</div>