<div class="home">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">	
                <img src="assets/img/about-us/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
                 <div class="carousel-caption" id="about-us">
                    Datenschutz                  
                </div>
            </div>
        </div>
    </div>
    <div class="section-privacy">
        <span>Grundlagen</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text">
                        Diese Datenschutzerklärung betrifft alle Personen, die die 
                        Dienstleistungen der RD3 GmbH im Folgenden RD3 nutzen. Wir informieren Sie damit über Art, Umfang und Zweck der Erhebung und Verwendung Ihrer personenbezogenen Daten durch unser Unternehmen. Wir achten Ihre Privatsphäre und sind bestrebt, die gesetzlichen Vorgaben für die Verarbeitung 
                        Ihrer personenbezogenen Daten (EU-Verordnung Nr. 679/2016 (DSGVO), DSG 2000, DSG 2018 und TKG 2003) genau einzuhalten. Alle Ihre personenbezogenen Daten werden auf dieser Grundlage verarbeitet. Verantwortlicher für die Datenverarbeitung ist Helmut Hirner, MBA (hh@rd3.at). Unser Datenschutzkoordinator ist ebenfalls Helmut Hirner, MBA. 
                        Mit der Nutzung unserer Dienstleistungen und der Erteilung von Einwilligungen im Sinne dieser Erklärung bestätigen Sie, dass Sie das 14. Lebensjahr vollendet haben und in der Lage sind, eine zulässige Einwilligung zu erteilen, oder dass bereits eine wirksame 
                        Einwilligung Ihres Erziehungsberechtigten oder Ihres Sachwalters vorliegt.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="section-privacy">
        <span>Angaben gemäß Art 13 DSGVO</span>
    </div>
    <section class="privacy-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="privacy-text">
                        Ihre personenbezogenen Daten, das sind insbesondere 
                        – Ihre Stammdaten (Name, Vorname, Adresse, Mail Adresse, Telefonnummer), 
                        – die Daten zu Zahlungsart und im Zusammenhang mit Zahlungen, insbesondere mit EC-Karten, Kreditkarten und Bankkarten, 
                        – Daten für Jobinserate inkl. allen erforderlichen Datenfeldern 
                        – Daten aus Lebensläufen für die erfolgreiche Vermittlung 
                        – Daten für Profilerstellungen von Atheltenseiten 
                        – Daten von Partnern und Sponsoren zu Marketingzwecken 
                        – Daten von Städten und deren Betrieben, Vereine, Einrichtungen werden für unsere Dienstleistungen benötigt. Diese Daten werden deshalb zu diesen Zwecken von uns gespeichert, verarbeitet und, soweit erforderlich, an Dritte 
                        – auch Dienstleister in Drittstaaten als Auftragsverarbeiter für Software- und Agenturdienstleistungen, übermittelt. Die Rechtsgrundlagen für diese Datenverarbeitungsprozesse sind 
                        – die Erfüllung unserer vorvertraglichen und vertraglichen Verpflichtungen Ihnen gegenüber, 
                        – von Ihnen eingeholte Einwilligungen, 
                        – Gesetzliche, vertragliche oder sonstige rechtliche Verpflichtungen unsererseits (z.B. Dokumentationsrechte und - pflichten nach dem Rechnungswesen, Steuer- und Zollrecht, Vertragswesen, Meldewesen, Rechtsstreitigkeiten) sowie § 96 TKG und 
                        – unsere berechtigten Interessen (z.B. die Verbesserung unseres Kundenservice, auch im Bereich der Direktwerbung oder die Wahrnehmung unserer eigenen rechtlichen Interessen). Die Dauer der Speicherung bemisst sich nach der Dauer unserer Geschäftsbeziehung, den von Ihnen erteilten Einwilligungen, darüber hinaus nach den für uns geltenden gesetzlichen Aufbewahrungspflichten und rechtlichen Verpflichtungen. Wir betonen, dass wir im Fall einer regelmäßigen Zusammenarbeit für unser bestmögliches Kundenservice bestrebt sind, Ihre bereits an uns übermittelten Kundenwünsche so gut zu kennen, dass wir Sie laufend und dauerhaft zufriedenstellen können. HINWEIS: Angaben um Informationen gemäß Art 14 DSGVO wenn personenbezogene Daten verarbeitet werden, die nicht direkt bei den Kunden als Betroffenen erhoben werden (siehe dazu auch Punkt 1. der Erläuterungen und Hinweise („Platzierung und Inhalt der Datenschutzerklärung“) zu dieser Erklärung).</p>
                </div>
            </div>
        </div>

    </section>

</div>