<div class="homeheader" *ngIf="(router.url === '/')">
  <a class="logo" routerLink="/">
    <img src="/assets/img/home/logo-1.png" class="img-logo">
  </a>
  <div class="homeheader-right">
    <a class="active" routerLink="/jobs">Jobs</a>
    <a routerLink="/stadt">Stadt</a>
    <a routerLink="/sport">Sport</a>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-bars"></i></button>
      <div id="myDropdown" class="dropdown-content new-custom-dp">
        <a>Home</a>
        <a>Uber UNS</a>
        <a>Vision</a>
        <a>Kontakt</a>
      </div>
    </div>
  </div>

</div>


<div class="homeheader" *ngIf="(router.url === '/stadt')">
  <a class="logo" routerLink="/stadt">
    <img src="/assets/img/stadt/RD3_-_Style2-01@2x.png" class="img-logo-stadt">
  </a>
  <div class="homeheader-right">
    <a class="active">Jobs</a>
    <a>Stadt</a>
    <a>Sport</a>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-bars"></i></button>
      <div id="myDropdown" class="dropdown-content new-custom-dp">
        <a>Home</a>
        <a>Uber UNS</a>
        <a>Vision</a>
        <a>Kontakt</a>
      </div>
    </div>
  </div>

</div>