/*! CSS Used from: Embedded */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Header {
    position: absolute;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_17 {
    fill: white;
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
}
#Menu {
    position: absolute;
    width: 428px;
    height: 32px;
    left: 1302px;
    top: 41px;
    overflow: visible;
}
#Jobs {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #f07d22;
    text-transform: uppercase;
}
#Stadt {
    left: 161px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #4c5c68;
    text-transform: uppercase;
}
#Sport {
    left: 336px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #4c5c68;
    text-transform: uppercase;
}
#Menu_Icon {
    position: absolute;
    width: 41px;
    height: 32px;
    left: 1819px;
    top: 41px;
    overflow: visible;
}
#Rectangle_46 {
    fill: #4c5c68;
}
.Rectangle_46 {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 101px;
    height: 92px;
    left: 0px;
    top: 0px;
}
#menu {
    position: absolute;
    width: 19px;
    height: 13.361px;
    left: 10.9px;
    top: 9.2px;
    overflow: visible;
}
#Path_61 {
    fill: white;
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_62 {
    fill: white;
}
.Path_62 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 5.48px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_63 {
    fill: white;
}
.Path_63 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 10.961px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#RD3_meinjobportal1 {
    position: absolute;
    width: 190px;
    height: 82.474px;
    left: 60px;
    top: 16px;
    overflow: visible;
}
