<div class="homeheader" *ngIf="(router.url === '/')">
  <a class="logo" routerLink="/">
    <img src="/assets/img/home/logo-1.png" class="img-logo">
  </a>
  <div class="homeheader-right">
    <a class="active" routerLink="/jobs">Jobs</a>
    <a routerLink="/stadt">Stadt</a>
    <a routerLink="/sport">Sport</a>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-bars"></i></button>
      <div id="myDropdown" class="dropdown-content new-custom-dp">
        <a>Home</a>
        <a>Uber UNS</a>
        <a>Vision</a>
        <a>Kontakt</a>
      </div>
    </div>
  </div>

</div>


<div class="stadtheader" *ngIf="(router.url === '/stadt')">
  <a class="logo" routerLink="/stadt">
    <img src="/assets/img/stadt/RD3_-_Style2-01@2x.png" class="img-logo-stadt">
  </a>
  <div class="stadtheader-right">
    <a class="active">Jobs</a>
    <a>Stadt</a>
    <a>Sport</a>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-bars"></i></button>
      <div id="myDropdown" class="dropdown-content new-custom-dp">
        <a>Home</a>
        <a>Uber UNS</a>
        <a>Vision</a>
        <a>Kontakt</a>
      </div>
    </div>
  </div>

</div>


<div class="jobsheader" *ngIf="(router.url === '/jobs')">
  <a href="#default" class="logo">
    <img src="/assets/img/jobs/logo-1.png" class="img-logo">
  </a>
  <div class="jobsheader-right">
    <a class="active" href="#home">Jobs</a>
    <a href="#contact">Firmen</a>
    <a href="#about">Lebenslauf</a>
    <a href="#">Tipps</a>
    <a href="#">für Arbeitgeber</a>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">
        <i class="fa fa-bars"></i>
      </button>
      <div id="myDropdown" class="dropdown-content new-custom-dp show">
        <a href="#home">Home</a>
        <a href="#about">Uber UNS</a>
        <a href="#contact">Vision</a>
        <a href="#contact">Kontakt</a>
      </div>
    </div>
  </div>
</div>