<div class="header">
	<a href="#default" class="logo">
		<img src="assets/home/logo-1.png" class="img-logo">
	</a>
	<div class="header-right">
		<a class="active" href="#home">Jobs</a>
		<a href="#contact">Stadt</a>
		<a href="#about">Sport</a>

		<div class="dropdown">
			<button class="dropbtn">
				<i class="fa fa-bars"></i></button>
			<div id="myDropdown" class="dropdown-content">
				<a href="#home">Home</a>
				<a href="#about">Uber UNS</a>
				<a href="#contact">Vision</a>
				<a href="#contact">Kontakt</a>
			</div>
		</div>
	</div>


</div>

<div id="demo" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item">
			<img src="assets/home/slider-1.png" alt="Los Angeles" width="1100" height="500">
		</div>
		<div class="carousel-item">
			<img src="assets/home/slider-2.png" alt="Chicago" width="1100" height="500">
		</div>
		<div class="carousel-item active">
			<img src="assets/home/slider-3.png" alt="New York" width="1100" height="500">
		</div>
	</div>
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>


<!-- our business -->

<section class="custom-pd">
	<div class="line">
		<h1 class="custom-business">Our Business</h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card-dotted">
					<div class="card card-bg">
						<div class="card-body custom-card-body">
							<img src="assets/home/card-header-1.png" class="custom-img">
							<div class="box">
								<h4>Jobs</h4>

								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
								</p>
								<button class="orange-btn">Read More</button>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-dotted">
					<div class="card card-bg">
						<div class="card-body custom-card-body">
							<img src="assets/home/card-header-1.png" class="custom-img">
							<div class="box">
								<h4>Jobs</h4>

								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
								</p>
								<button class="orange-btn">Read More</button>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-dotted">
					<div class="card card-bg">
						<div class="card-body custom-card-body">
							<img src="assets/home/card-header-1.png" class="custom-img">
							<div class="box">
								<h4>Jobs</h4>

								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum has been the industry's standard dummy text ever since the 1500s, when an
									unknown printer took a galley of type and scrambled it to make a type specimen book.
								</p>
								<button class="orange-btn">Read More</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="testimonial-pd">

	<div class="line">
		<h1 class="custom-testimonial">Our Testimonial</h1>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<img src="assets/home/unser-left.png" class="unser-left-img">
			</div>
			<div class="col-md-6">
				<div class="slideshow-container">

					<div class="mySlides" style="display: block;">
						<h3 class="title">What Our Clients Are Saying?</h3>
						<p class="testimonial-txt">Lorem Ipsum is simply dummy text of the printing and typesetting
							industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
							an unknown printer took a galley of type and scrambled it to make a type specimen book. It
							has survived not only five centuries, but also the leap into electronic typesetting,
							remaining essentially unchanged. It was popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages.</p>
						<div class="author-txt">
							<img src="assets/home/test-1.png" class="test-img">
							<span class="author">
								<h3 class="title-h3">Sarah Taylor</h3>
								<h5 class="title-h5">Web Developer</h5>
							</span>
						</div>
					</div>

					<div class="mySlides" style="display: none;">
						<h3 class="title">What Our Clients Are Saying?</h3>
						<p class="testimonial-txt">Lorem Ipsum is simply dummy text of the printing and typesetting
							industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
							an unknown printer took a galley of type and scrambled it to make a type specimen book. It
							has survived not only five centuries, but also the leap into electronic typesetting,
							remaining essentially unchanged. It was popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages.</p>
						<div class="author-txt">
							<img src="assets/home/test-1.png" class="test-img">
							<span class="author">
								<h3 class="title-h3">Meron Taylor</h3>
								<h5 class="title-h5">Web Designer</h5>
							</span>
						</div>
					</div>

					<div class="mySlides" style="display: none;">
						<h3 class="title">What Our Clients Are Saying?</h3>
						<p class="testimonial-txt">Lorem Ipsum is simply dummy text of the printing and typesetting
							industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
							an unknown printer took a galley of type and scrambled it to make a type specimen book. It
							has survived not only five centuries, but also the leap into electronic typesetting,
							remaining essentially unchanged. It was popularised in the 1960s with the release of
							Letraset sheets containing Lorem Ipsum passages.</p>
						<div class="author-txt">
							<img src="assets/home/test-1.png" class="test-img">
							<span class="author">
								<h3 class="title-h3">Silvy Taylor</h3>
								<h5 class="title-h5">Web Tester</h5>
							</span>
						</div>
					</div>


				</div>

				<div class="dot-container">
					<span class="dot active" onclick="currentSlide(1)"></span>
					<span class="dot" onclick="currentSlide(2)"></span>
					<span class="dot" onclick="currentSlide(3)"></span>
				</div>

			</div>
		</div>
	</div>

</section>

<section class="partners-pd">
	<div class="line">
		<h1 class="custom-partners">Our Partners</h1>
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="carousel slide media-carousel" id="media">
					<div class="carousel-inner">
						<div class="item  active">
							<div class="row">
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></a>
								</div>

							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></a>
								</div>

							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></a>
								</div>
								<div class="col-md-3">
									<a class="thumbnail" href="#"><img alt=""
											src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></a>
								</div>

							</div>
						</div>
					</div>
					<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
					<a data-slide="next" href="#media" class="right carousel-control">›</a>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="footer-pd">
	<footer>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<img src="assets/home/footer-home-logo.png" class="footer-logo-img">
				</div>
				<div class="col-md-4">
					<span class="ft-title">Ressourcen</span>
					<div class="footer-md">

						<ul>
							<li>Impressum</li>
							<li>Kontakt</li>
							<li>Datenschutz</li>
						</ul>

						<ul>
							<li>AGB</li>
							<li>Sitemap</li>
							<li>Presse</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<span class="ft-title-mobile">Mobile App</span>
					<div class="footer-end">
						<img src="assets/home/google-home-footer.png" class="img-ft">
						<img src="assets/home/apple-home-footer.png" class="img-ft">
					</div>
				</div>
			</div>
		</div>

	</footer>
</section>

<div class="bottom-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<span class="footer-txt-bottom">© 2022 test GmbH</span>
			</div>
		</div>
	</div>
</div>