<!-- popup 1 start -->
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Schirmherr</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="top-header">
                        <div class="popup-header">
                            <img src="/assets/img/popup-logo.png" class="popup-logo-1">
                            <span>Schirmherr</span>
                            <div class="header-2">
                                <span>ab € 25.000,- </span>
                                <span>einmalig pro Jahr</span>
                            </div>
                        </div>
                        <div class="popup-set-flex">
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>1</span></div>
                                    <span class="common-span">Firmen-Logo auf der RD3-Sport Homepage inkl. Verlinkung
                                        (Partnertafel pro Bundesland, Ebene Schirmherr) </span>
                                    <div class="sport-section-3-Athletes-box-popup">
                                        <i class="fa fa-search search-fa-color-1-popup">
                                            <label class="search-box-1-popup">Name</label></i>
                                        <i class="fa fa-map-marker map-fa-color-1-popup">
                                            <label class="location-box-1-popup">Region</label></i>
                                        <label class="Athletes-box-popup">Find Athleten</label>
                                    </div>
                                    <table class="popup-table">
                                        <tr>
                                            <td><span>Region/Partner</span></td>
                                            <td><span>Schirmherr, Bundesland powered by</span></td>
                                            <td><span>Publikumsliebling, Paket Gold</span></td>
                                            <td><span>Ein Herz für Sportler, Paket Silber</span></td>
                                            <td><span>Teamplayer, Paket Bronze</span></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>2</span></div>
                                    <span class="common-span">Firmen-Logo Banner auf RD3 Sport & bei den Athleten
                                    </span>
                                    <div class="box-orange"><span>Schirmherr, Bundesland powered by</span></div>
                                    <img src="/assets/img/popup-2.png" class="popup-1-img">
                                </div>
                            </div>
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>3</span></div>
                                    <div class="popup-box-3">
                                        <span class="common-span">RD3 Sport- Schirmherr Logo
                                            Verwendung für alle Geschäftsauftritte </span>
                                        <img src="/assets/img/card-header-3.png" class="popup-logo-2">
                                        <span class="popup-box-3-span">Schirmherr</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="popup-set-flex">
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>4</span></div>
                                    <div class="popup-box-3">
                                        <span class="common-span pd-b">Präsentation auf den RD3 Sport-
                                            Firmenautos</span>
                                        <img src="/assets/img/popup-4.png" class="popup-4-img">
                                    </div>
                                </div>

                            </div>

                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>5</span></div>
                                    <span class="common-span">Firmen-Logo als Banner auf der RD3 Interview Wand</span>
                                    <img src="/assets/img/Schirmherr_incl_1.png" class="popup5-img">
                                    <div class="box-orange-2"><span>Schirmherr, Bundesland powered by</span></div>

                                </div>
                            </div>
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>6</span></div>
                                    <span class="common-span">regelmäßige Berichte inkl. Firmenpräsentation auf allen
                                        RD3 Kanälen (Web, Social, Print, PR, ...)</span>
                                    <img src="/assets/img/popup-img-6.png" class="popup6-img">

                                </div>
                            </div>
                        </div>




                        <div class="popup-set-flex">
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>7</span></div>
                                    <div class="popup-box-3">
                                        <span class="common-span pd-b">Präsentation auf den RD3 Sport-
                                            Firmenautos</span>
                                        <img src="/assets/img/popup-img-7.png" class="popup-7-img">
                                    </div>
                                </div>

                            </div>

                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>8</span></div>
                                    <span class="common-span">Meet & Greet beim jährlichen RD3 Sport Event mit allen
                                        Athleten und Medien</span>
                                    <img src="/assets/img/popup-img-8.png" class="popup8-img">
                                </div>
                            </div>
                            <div class="popup-box-1">
                                <div class="popup-border-box">
                                    <div class="popup-circle"><span>9</span></div>
                                    <span class="common-span">PR Event mit RD3 Athleten in Ihrer Firmen Zentrale oder im
                                        jeweiligen Trainingszentrum </span>
                                    <img src="/assets/img/popup-img-9.png" class="popup9-img">

                                </div>
                            </div>
                        </div>
                        <footer class="top-footer">
                            <div class="popup-circle-footer"><span>10</span></div>
                            <span class="common-span-3">Namensrecht "Bundesland powered by "Firmenname"</span>
                        </footer>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
<!-- pop  up 1 end  -->


<!-- pop up 2 start -->
<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Publikumsliebling</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-12">

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>1</span></div>
                                <span class="common-span">Firmen-Logo auf der RD3-Sport Homepage inkl. Verlinkung
                                    (Partnertafel pro Bundesland, Ebene Publikumsliebling) </span>
                                <div class="sport-section-3-Athletes-box-popup">
                                    <i class="fa fa-search search-fa-color-1-popup">
                                        <label class="search-box-1-popup">Name</label></i>
                                    <i class="fa fa-map-marker map-fa-color-1-popup">
                                        <label class="location-box-1-popup">Region</label></i>
                                    <label class="Athletes-box-popup">Find Athleten</label>
                                </div>
                                <table class="popup-table">
                                    <tr>
                                        <td><span>Region/Partner</span></td>
                                        <td><span>Schirmherr, Bundesland powered by</span></td>
                                        <td><span>Publikumsliebling, Paket Gold</span></td>
                                        <td><span>Ein Herz für Sportler, Paket Silber</span></td>
                                        <td><span>Teamplayer, Paket Bronze</span></td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>2</span></div>
                                <span class="common-span">Firmen-Logo als Banner (Size 1)
                                    inkl. Verlinkung bei den Athleten </span>

                                <img src="/assets/img/popup-2.png" class="popup-1-img">
                            </div>
                        </div>

                    </div>

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                            <div class="popup2-header">
                                <img src="/assets/img/popup-logo.png" class="popup-logo-1">
                                <div>
                                    <span style="color: black; margin-right:13px">Publikums</span><span>liebling</span>
                                </div>
                                <div class="header-2">
                                    <span>ab € 25.000,- </span>
                                    <span>einmalig pro Jahr</span>
                                </div>
                            </div>
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>3</span></div>
                                <span class="common-span">RD3 Sport- Publikumsliebling Logo
                                    Verwendung für Geschäftsauftritte (Web, Print, ...) </span>
                                <img src="/assets/img/popup2-img1.png" class="popup2-img1">

                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>4</span></div>
                                <span class="common-span">RD3 Sport- Publikumsliebling Hoodie </span>

                                <img src="/assets/img/popup2-img2.png" class="popup2-img2">
                            </div>
                        </div>
                    </div>


                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>5</span></div>
                                <span class="common-span">Firmen-Logo auf der RD3 Interview Wand (Size 2)</span>
                                <img src="/assets/img/popup2-img-3.png" class="popup2-img-3">
                            </div>
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>6</span></div>
                                <span class="common-span">Berichte inkl. Firmenpräsentation auf allen RD3 Social Media
                                    Kanälen (2 x pro Jahr) </span>
                                <img src="/assets/img/popup2-img4.png" class="popup2-img4">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<!-- pop up 2 end -->

<!-- pop up 3 start -->

<ng-template #content3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ein Herz fur Sportler</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-12">

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>1</span></div>
                                <span class="common-span">Firmen-Logo auf der RD3-Sport Homepage inkl. Verlinkung
                                    (Partnertafel pro Bundesland, Ebene Ein Herz für Sportler) </span>
                                <div class="sport-section-3-Athletes-box-popup">
                                    <i class="fa fa-search search-fa-color-1-popup">
                                        <label class="search-box-1-popup">Name</label></i>
                                    <i class="fa fa-map-marker map-fa-color-1-popup">
                                        <label class="location-box-1-popup">Region</label></i>
                                    <label class="Athletes-box-popup">Find Athleten</label>
                                </div>
                                <table class="popup-table">
                                    <tr>
                                        <td><span>Region/Partner</span></td>
                                        <td><span>Schirmherr, Bundesland powered by</span></td>
                                        <td><span>Publikumsliebling, Paket Gold</span></td>
                                        <td><span>Ein Herz für Sportler, Paket Silber</span></td>
                                        <td><span>Teamplayer, Paket Bronze</span></td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>2</span></div>
                                <span class="common-span">Firmen-Logo als Banner (Size 2)
                                    inkl. Verlinkung bei den Athleten </span>

                                <img src="/assets/img/popup-2.png" class="popup-1-img">
                            </div>
                        </div>

                    </div>

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                            <div class="popup2-header">
                                <img src="/assets/img/popup-logo.png" class="popup-logo-1">
                                <div>
                                    <span style="color: black; margin-right:13px">Ein Herz</span><span>fur
                                        Sportler</span>
                                </div>
                                <div class="header-2">
                                    <span>ab € 25.000,- </span>
                                    <span>einmalig pro Jahr</span>
                                </div>
                            </div>
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>3</span></div>
                                <span class="common-span">RD3 Sport- Ein Herz für Sportler Logo
                                    Verwendung für Geschäftsauftritte (Web, Print, ...) </span>
                                <img src="/assets/img/popup3-img1.png" class="popup3-img1">

                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>4</span></div>
                                <span class="common-span">RD3 Sport- Ein Herz für Sportler Polo Shirt</span>

                                <img src="/assets/img/popup3-img2.png" class="popup3-img2">
                            </div>
                        </div>
                    </div>


                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>5</span></div>
                                <span class="common-span">Firmen-Logo auf der RD3 Interview Wand (Size 2)</span>
                                <img src="/assets/img/popup2-img-3.png" class="popup2-img-3">
                            </div>
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>6</span></div>
                                <span class="common-span">einmaliger Bericht auf allen RD3 Social Media Kanälen</span>
                                <img src="/assets/img/popup2-img4.png" class="popup2-img4">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<!-- pop up 3 end -->

<!-- pop up 4 start -->

<ng-template #content4 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Team Player</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-12">

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>1</span></div>
                                <span class="common-span">Firmen-Logo auf der RD3-Sport Homepage inkl. Verlinkung
                                    (Partnertafel pro Bundesland, Ebene Teamplayer) </span>
                                <div class="sport-section-3-Athletes-box-popup">
                                    <i class="fa fa-search search-fa-color-1-popup">
                                        <label class="search-box-1-popup">Name</label></i>
                                    <i class="fa fa-map-marker map-fa-color-1-popup">
                                        <label class="location-box-1-popup">Region</label></i>
                                    <label class="Athletes-box-popup">Find Athleten</label>
                                </div>
                                <table class="popup-table">
                                    <tr>
                                        <td><span>Region/Partner</span></td>
                                        <td><span>Schirmherr, Bundesland powered by</span></td>
                                        <td><span>Publikumsliebling, Paket Gold</span></td>
                                        <td><span>Ein Herz für Sportler, Paket Silber</span></td>
                                        <td><span>Teamplayer, Paket Bronze</span></td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>2</span></div>
                                <span class="common-span">Firmen-Logo als Banner (Size 3)
                                    inkl. Verlinkung bei den Athleten </span>

                                <img src="/assets/img/popup-2.png" class="popup-1-img">
                            </div>
                        </div>

                    </div>

                    <div class="popup-set-flex">
                        <div class="popup-box-1">
                            <div class="popup2-header">
                                <img src="/assets/img/popup-logo.png" class="popup-logo-1">
                                <div>
                                    <span style="color: black; margin-right:13px">Team</span><span>Player</span>
                                </div>
                                <div class="header-2">
                                    <span>€ 1000,-</span>
                                    <span>für 12 Monate</span>
                                </div>
                            </div>
                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>3</span></div>
                                <span class="common-span">RD3 Sport- Teamplayer Logo
                                    Verwendung für Geschäftsauftritte (Web, Print, ...)</span>
                                <img src="/assets/img/popup4-img1.png" class="popup4-img1">

                            </div>

                        </div>

                        <div class="popup-box-1">
                            <div class="popup-border-box">
                                <div class="popup-circle"><span>4</span></div>
                                <span class="common-span">RRD3 Sport- Teamplayer T-Shirt</span>

                                <img src="/assets/img/popup4-img2.png" class="popup4-img2">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<!-- pop up 4 end -->

<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <ng-image-slider #nav [images]="imageObject" [autoSlide]="1" [infinite]="true" [animationSpeed]="3"
                [imagePopup]="false" [imageSize]="{width: '100%', height: '50%' ,space: 4}" slideImage="1">
            </ng-image-slider>
            <div class="carousel-caption" id="home">
                <span class="carousel-text-span">Regionales und digitales<br>
                    Marketing für Wirtschaft und Sport</span>
            </div>
        </div>
    </div>
</div>
<section class="sport-section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sport-section-1-box">
                    <img src="assets/img/RD3 Athlet werden.png" class="img-screen">
                </div>
            </div>
            <div class="col-md-6">
                <div class="sport-section-1-main-box">
                    <h3 class="section-2-h3">Werde RD3 Athlet</h3>
                    <div class="section-2-ul">
                        <p class="section-2-li">
                            <span>Du bist ein aufstrebender Sportler? Du willst Dich weiter entwickeln, Erfolge feiern
                                und groß rauskommen? Du benötigst finanzielle Unterstützung und suchst Partner die dich
                                auf dieser Reise begleiten? Dann sind wir der richtige Partner für Dich! Bewirb Dich
                                noch heute, um in unseren Pool aufgenommen zu werden und um mit uns langfristig und
                                nachhaltig an Deinem Erfolg zu arbeiten.
                            </span>
                        </p>
                        <div class="custom-icon">
                            <i class="fab fa-wpforms custom" style="cursor: pointer;" (click)="forms()"></i>
                            <a href="mailto:info@rd3.at" class="custom-icon-pd"><i class="fa fa-envelope custom"
                                    style="cursor: pointer;"></i></a>
                            <a href="tel: 03126 32 413 13"><i class="fa fa-phone custom"
                                    style="cursor: pointer;"></i></a>
                        </div>
                        <button class="sport-section-1-btn">Jetzt Ansuchen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sport-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sport-section-1-main-box">
                    <h3 class="section-2-h3">Werde RD3 Partner</h3>
                    <div class="section-2-ul">
                        <p class="section-2-li">
                            <span>Für den Erfolg unserer Athleten suchen wir coole und trendige Marken die Ihre Präsenz
                                steigern wollen. Wir positionieren Eure Produkte oder Services durch 1) regionales und
                                digitales Marketing (SEM) 2) Werbung auf RD3 Partnertafeln, Autos, Textilien und durch
                                PR Aktionen 3) Werbung auf Kleidung, Autos und bei Live Auftritten unserer Athleten. Mit
                                dem RD3 Sportmarketing Konzept fördert Ihr einen Pool an Athleten, gezielt in Eurer
                                Wunschregion und in Eurer definierten Zielgruppe. Fragt noch heute an, um die besten
                                Plätze zu ergattern.
                            </span>
                        </p>
                        <div class="custom-icon">
                            <i class="fab fa-wpforms custom" style="cursor: pointer;" (click)="forms()"></i>
                            <a href="mailto:info@rd3.at" class="custom-icon-pd"><i class="fa fa-envelope custom"
                                    style="cursor: pointer;"></i></a>
                            <a href="tel: 03126 32 413 13"><i class="fa fa-phone custom"
                                    style="cursor: pointer;"></i></a>
                        </div>
                        <button class="sport-section-2-btn">Jetzt Ansuchen</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="sport-section-1-box">
                    <img src="assets/img/RD3 Partner werden.png" class="img-screen">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sport-section-3" id="athleten">
    <div class="container">
        <h1 class="sport-section-3-heading">RD3 Athleten</h1>
        <!-- <h4 class="sport-section-3-inner-text">Get to know all the athletes from the World of Red Bull. Discover all
                the facts, stats, success stories, latest achievements and more</h4> -->
        <div class="sport-section-3-line">
            <img src="assets/img/cream-business.png" class="section-title-img">
        </div>

        <div class="sport-section-3-Athletes-box">
            <i class="fa fa-search search-fa-color-1">
                <select class="search-box-1">
                    <option selected>Pauschalreisen</option>
                    <option>Unterkünfte </option>
                    <option>sportreisen</option>
                    <option>Sprachreisen</option>
                    <option>Schiffsreisen </option>
                    <option>Autoveimietung </option>
                </select></i>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            <i class="fa fa-map-marker map-fa-color-1"><label class="location-box-1">Lorem</label></i>
            <label class="Athletes-box">Lorem</label>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mobile-pd">
                <div class="section-3-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/kl-rahul.png">
                        <div class="main-box-inner">
                            <span class="main-box-left-1-span">Lorem</span>
                        </div>
                        <div class="inner-img-kl">
                            <img src="assets/img/k-l-rahul-inner.png" class="inner-img-kl-1">
                        </div>
                    </div>
                    <div class="section-3-main-box-left-2">
                        <div class="main-box-left-2-inner">
                            <img src="assets/img/flag.png" class="img-flag">
                            <span>Lorem</span>
                        </div>
                        <span class="second-text-align">Lorem</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="section-3-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/Ashwini Ponnappa.png">
                        <div class="main-box-inner">
                            <span class="main-box-left-1-span">Lorem</span>
                        </div>
                        <div class="inner-img-kl">
                            <img src="assets/img/Ashwini Ponnappa-inner.png" class="inner-img-kl-1">
                        </div>
                    </div>
                    <div class="section-3-main-box-left-2">
                        <div class="main-box-left-2-inner">
                            <img src="assets/img/flag.png" class="img-flag">
                            <span>Lorem</span>
                        </div>
                        <span class="second-text-align">Lorem</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="section-3-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/Riyan Parag.png">
                        <div class="main-box-inner">
                            <span class="main-box-left-1-span">Lorem</span>
                        </div>
                        <div class="inner-img-kl">
                            <img src="assets/img/riyan-parag-inner.png" class="inner-img-kl-1">
                        </div>
                    </div>
                    <div class="section-3-main-box-left-2">
                        <div class="main-box-left-2-inner">
                            <img src="assets/img/flag.png" class="img-flag">
                            <span>Lorem</span>
                        </div>
                        <span class="second-text-align">Lorem</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="sport-section-4" id="partner&sponseren">
    <div class="container">
        <h1 class="sport-section-3-heading">RD3-partner</h1>

        <div>
            <h3 class="sport-section-3-headingb">Partnertafeln</h3>
            <!-- <img  src="assets/img/cream-business.png" class="section-title-img"> -->
        </div>

        <div class="sport-section-3-Athletes-box">
            <i class="fa fa-search search-fa-color-1"><label class="search-box-1">Name</label></i>
            <i class="fa fa-map-marker map-fa-color-1"><label class="location-box-1">Region</label></i>
            <label class="Athletes-box">Find Partner</label>
        </div>

        <table>
            <tbody>
                <tr>
                    <th colspan="3" class="heading-tbl-text">Region/Partner</th>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>

            </tbody>
        </table>


    </div>
</section>


<section class="sport-section-5">
    <div class="container">
        <h1 class="sport-section-3-heading">Bloggen</h1>

        <div class="sport-section-3-line">
            <img src="assets/img/cream-business.png" class="section-title-img">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mobile-pd">
                <div class="section-5-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/bloggen-image.png">

                    </div>
                    <div class="section-5-main-box-left-2">
                        <span>Bloggen<span>
                                <p>Lorem ipsum dolor sit
                                    amet, consectetur adipisicing
                                    elit, sed do eiusmod
                                    tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                                <button class="bloggen-btn">Weiterlesen</button>
                            </span></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="section-5-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/bloggen-image.png">

                    </div>
                    <div class="section-5-main-box-left-2">
                        <span>Bloggen<span>
                                <p>Lorem ipsum dolor sit
                                    amet, consectetur adipisicing
                                    elit, sed do eiusmod
                                    tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                                <button class="bloggen-btn">Weiterlesen</button>
                            </span></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="section-5-main-box">
                    <div class="section-3-main-box-left-1">
                        <img src="assets/img/bloggen-image.png">

                    </div>
                    <div class="section-5-main-box-left-2">
                        <span>Bloggen<span>
                                <p>Lorem ipsum dolor sit
                                    amet, consectetur adipisicing
                                    elit, sed do eiusmod
                                    tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                                <button class="bloggen-btn">Weiterlesen</button>
                            </span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<section class="job-section-5">
    <div class="container-fluid">
        <div class="row price-box-pd">
            <div class="col-md-12">
                <div class="preise-box-orange" style="background-color:#d1b968;border: 12px solid #d1b968;"
                    id="sportsPreise">
                    <div class="preise-box-gray">
                        <div class="price-box-2">
                            <img src="assets/img/card-header-3.png" class="price-logo-img">
                            <span>Alle Pakete können individuell an das Budget und die Bedürfnisse unserer Partner angepasst werden
                                Bitte kontaktieren Sie uns, um die gewünschten Leistungen im Detail zu besprechen und das richtige Paket zu schnüren.   
                            </span>

                        </div>
                        <table id="table-data" class="table-1">
                            <tbody>
                                <tr>
                                    <th>Service</th>
                                    <th>Einheit</th>
                                    <th>Preis</th>
                                </tr>
                                <tr>
                                    <td (click)="open1(content4)">Paket Bronze | Team player</td>
                                    <td>12 Monate</td>
                                    <td>€ 1000,-</td>
                                </tr>
                                <tr>
                                    <td (click)="open3(content3)">Paket Silber | Ein Herz fur Sportler</td>
                                    <td>12 Monate</td>
                                    <td>€ 2000,-</td>
                                </tr>
                                <tr>
                                    <td (click)="open2(content2)">Paket Gold | Publikumsliebling</td>
                                    <td>12 Monate</td>
                                    <td>€ 5.000,-</td>
                                </tr>
                                <tr>
                                    <td (click)="open1(content1)">Bundesland powered by | schirmherr</td>
                                    <td>12 Monate</td>
                                    <td>€ 10.000,-</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-6-pd">
    <div class="section-footer"><span>Kontaktiere - uns</span></div>
    <div class="section-6-main-box">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="section-6-box-1">
                        <img src="assets/img/cream-call.png" class="section-6-img">
                        <span class="section-6-span-text">Telefon</span>
                        <span class="section-6-span-text-1"><a style="color: #4C5C68;"
                                href="tel: +43 (0)3126 32413 13">+43 (0)3126 32413 13</a></span>
                    </div>
                </div>
                <div class="col-md-4 mobile-pd">

                    <div class="section-6-box-1">
                        <img src="assets/img/cream-mail.png" class="section-6-img">
                        <span class="section-6-span-text">E-mail</span>
                        <span class="section-6-span-text-1"><a style="color: #4C5C68;"
                                href="mailto: info@rd3.at">info@rd3.at</a></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="section-6-box-2">

                        <span class="section-6-span-text">Soziale Medien</span>
                        <img src="assets/img/cream-Icon.png" class="section-6-img-1">
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>