<body>
    <section class="sport-section-1">
        <div class="sportsheader">
            <div class="sportsheader-right">
                <a>WERDE RD3 ATHLET</a>
                <a>WERDE RD3 PARTNER</a>
                <a>UNSERE ATHLETEN</a>
                <a>PARTTNERTAFELN</a>
                <a>BLOG</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sport-section-1-box">
                        <img src="/assets/img/sports/RD3-Athlet.png" class="img-screen">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sport-section-1-main-box">
                        <h3 class="section-2-h3">Werde RD3 Athlet</h3>
                        <div class="section-2-ul">
                            <p class="section-2-li">
                                <span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </span>
                            </p>
                            <button class="sport-section-1-btn">Jetzt Ansuchen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sport-section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sport-section-1-main-box">
                        <h3 class="section-2-h3">Werde RD3 Athlet</h3>
                        <div class="section-2-ul">
                            <p class="section-2-li">
                                <span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </span>
                            </p>
                            <button class="sport-section-2-btn">Jetzt Ansuchen</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="sport-section-1-box">
                        <img src="/assets/img/sports/RD3-partner.png" class="img-screen">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sport-section-3">
        <div class="container">
            <h1 class="sport-section-3-heading">Athletes</h1>
            <h4 class="sport-section-3-inner-text">Get to know all the athletes from the World of Red Bull. Discover all
                the facts, stats, success stories, latest achievements and more</h4>
            <div class="sport-section-3-line">
                <img src="/assets/img/sports/cream-business.png" class="section-title-img">
            </div>

            <div class="sport-section-3-Athletes-box">
                <i class="fa fa-search search-fa-color-1"><label class="search-box-1">Beruf,Begriff</label></i>
                <i class="fa fa-map-marker map-fa-color-1"><label
                        class="location-box-1">Ort,Region,Bundesland</label></i>
                <label class="Athletes-box">Job Athletes</label>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/kl-rahul.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">KL RAHUL</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/k-l-rahul-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Cricket</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/Ashwini Ponnappa.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">Ashwini Ponnappa</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/Ashwini Ponnappa-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Badminton</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/Riyan Parag.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">Riyan Parag</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/riyan-parag-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Cricket</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="sport-section-4">
        <div class="container">
            <h1 class="sport-section-3-heading">Partnertafeln</h1>

            <div class="sport-section-3-line">
                <img src="/assets/img/sports/cream-business.png" class="section-title-img">
            </div>

            <div class="sport-section-3-Athletes-box">
                <i class="fa fa-search search-fa-color-1"><label class="search-box-1">Regions</label></i>
                <i class="fa fa-map-marker map-fa-color-1"><label class="location-box-1">Board</label></i>
                <label class="Athletes-box">Filter</label>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th colspan="3" class="heading-tbl-text">Sponser/Partner</th>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </section>


    <section class="sport-section-5">
        <div class="container">
            <h1 class="sport-section-3-heading">Bloggen</h1>

            <div class="sport-section-3-line">
                <img src="/assets/img/sports/cream-business.png" class="section-title-img">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-6-pd">
        <div class="section-6-main-box">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="section-6-box-1">
                            <img src="/assets/img/sports/cream-call.png" class="section-6-img">
                            <span class="section-6-span-text">24/7 Telefon</span>
                            <span class="section-6-span-text-1">+43 998 877 6655</span>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="section-6-box-1">
                            <img src="/assets/img/sports/cream-mail.png" class="section-6-img">
                            <span class="section-6-span-text">Email</span>
                            <span class="section-6-span-text-1">test@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section-6-box-2">

                            <span class="section-6-span-text">Sozialen Medien</span>
                            <img src="/assets/img/sports/cream-Icon.png" class="section-6-img-1">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</body>