

::ng-deep .ng-image-slider {
  height: 300px !important;
}

::ng-deep .ng-image-slider .ng-image-slider-container .main {
  height: 300px !important;
}
.carsoul-img{
  background-color: #fff;
    filter: brightness(.7);

}


/*carousel css*/


.carousel-text-span {
    font-size: 55px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive !important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 75px !important;
    word-break: break-all;
  }


.sportsheader {
  background-color: #000000;
  padding: 5px 20px;
  display: flex;
  justify-content: right;
}
.sportsheader a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 7px 22px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
.sportsheader a.logo {
  font-size: 25px;
  font-weight: bold;
}
.sportsheader-right a.active {
  color: #D1B681;
}
.sportsheader a:hover {
  color: #D1B681;
  text-decoration: none;
}

.img-logo{
    width: 100%;
    max-width: 150px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }



/*navbar css*/


/* our business */

h1.custom-business {
    font-size: 46px;
    text-transform: uppercase;
    color: #4c5c68;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}


.phnnumsports{
  color: #4C5C68;
}

.line-2{
  text-align: center;
   padding-bottom:  5.2em;
   position: relative;
}
.line-2:before{
  position: absolute;
    content: '';
    border: 2px solid #fff;
    width: 155px;
    top: 20px;
    right: 50em;
}

.line-2:after{
  position: absolute;
    content: '';
    border: 2px solid #fff;
    width: 155px;
    top: 20px;
    left: 50em;
}

.line{
  text-align: center;
   padding-bottom:  5.2em;
   position: relative;
}
.line:before{
  position: absolute;
    content: '';
    border: 2px solid #4c5c68;
    width: 121px;
    top: 20px;
    right: 55em;
}

.line:after{
  position: absolute;
    content: '';
    border: 2px solid #4c5c68;
    width: 121px;
    top: 20px;
    left: 55em;
}
.section-title-img{
  width: 100%;
  max-width: 50px;
}
.business-pd {
    padding: 0 0;
}
.card-set-pd{
  display: flex;
}
.card-set-pd, .card-dotted {
    margin-left: 20px;
    margin-right: 20px;
}
.custom-pd{
  padding: 50px 0;
  background-color: #eaeced;
}

.card-dotted {
    border: 2px dashed #4c5c68;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}
.card-bg {
    border-radius: 20px !important;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.orang-bg-left{
  position: relative;
}
.orang-bg-left::before{
       position: absolute;
    content: '';
    background-image: url(/assets/img/orange-2.png);
    background-size: 100%;
    height: 237px;
    background-repeat: no-repeat;
    width: 178px;
    bottom: -18px;
    border-radius: 15px;
    left: 2px;
}

.orang-bg-right{
  position: relative;
}
.orang-bg-right::before{
   position: absolute;
    content: '';
    background-image: url(/assets/img/orange-1.png);
    background-size:96%;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    top: -21px;
    left: 87px;
}
.green-bg-left{
  position: relative;
}

.green-bg-left::before{
  position: absolute;
    content: '';
    background-image: url(/assets/img/green-left.png);
    background-size: 100%;
    height: 367px;
    background-repeat: no-repeat;
    width: 250px;
    bottom: -148px;
    border-radius: 20px;
    right: -22.5em;

}
.green-bg-right{
  position: relative;
}

.green-bg-right::before{
       position: absolute;
    content: '';
    background-image: url(/assets/img/green-right.png);
    background-size:96%;
    height: 100%;
    background-repeat: no-repeat;
    width:  100%;
    top: -21px;
    left: 91px;
    border-radius: 20px !important;
}

.cream-bg-left{
  position: relative;
  margin: 0 55px
}
.cream-bg-left::before{
   position: absolute;
    content: '';
    background-image: url(/assets/img/cream-left.png);
   background-size: 100%;
    height: 367px;
    background-repeat: no-repeat;
    width: 250px;
    bottom: -148px;
    border-radius: 20px;
    right: -22.5em;
}
.cream-bg-right{
  position: relative;
}

.cream-bg-right::before{
    position: absolute;
    content: '';
    background-image: url(/assets/img/cream-right.png);
    background-size: 96%;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 335px;
    top: -21px;
    right: -6px;
    border-radius: 20px;
  }
.custom-card-body {
    padding: 1rem 1rem 0;
}
.custom-img-orange{
    width: 100%;
    border: 3px solid #f49e55;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.custom-img-green{
    width: 100%;
    border: 3px solid #9cb900;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.custom-img-cream{
    width: 100%;
    border: 3px solid #d1b681;
    padding: 20px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    right: 65px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.box {
    text-align: center;
    padding: 20px;
}
.box h4 {
    color: #4c5c68;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.box p {
    color: #4c5c68;
    text-align: justify;
    font-size: 17px;
}
.orange-btn {
    background-color: #f49e55;
    outline: none !important;
    border: none !important;
   padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.green-btn {
    background-color:#9cb900;
    outline: none !important;
    border: none !important;
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cream-btn {
    background-color:#d1b681;
    outline: none !important;
    border: none !important;
    padding: 13px 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*our testimonial*/

.testimonial-pd{
   padding: 50px 0;
  background-color:#4c5c68;
}

.custom-testimonial{
   font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-bottom:15px;
}

.unser-left-img {
    width: 100%;
}

.slideshow-container {
  position: relative;
  
}

/* Slides */
.mySlides {
  display: none;
  padding: 0px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align:left;
    padding: 20px;
    
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
  /*.active, .dot:hover {
    background-color: #717171;
  }*/
.test-img{
  width: 100%;
    max-width: 100px;
}

.title {
    font-size: 36px;
    margin-bottom: 0.8em;
    text-align: left;
}
.testimonial-txt {
    color: #fff;
    font-size: 20px;
    text-align: left;
}
.author-txt {
    display: flex;
    
    align-items: center;
}
.author {
    margin-left: 2em;
}
.author, h3, h5 {
    color: #fff;
}
.title-h3{
  font-size: 35px !important;
}

.title-h5{
  font-size: 21px !important;
}


/*our partners*/

.partners-pd{
  padding: 50px 0;
    background-color: #fff;
}

.custom-partners {
    font-size: 46px;
    text-transform: uppercase;
    color:#4c5c68;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}


/*our partner slider*/
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 0 40px;
 /* margin-top: 30px;*/
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -30px;
  background:#4c5c68;
  opacity: 1;
  border: 4px solid #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  height: 45px;
  width : 45px;
  margin-top: 3em;
  background-image: none;
}
.thumbnail{
  border: none !important;
    height: 100%;
    width: 100%;
    padding: 70px;
    background-color: #eaeaea;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -30px !important;
  background: #4c5c68;
  opacity: 1;
  border: 4px solid #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  height: 45px;
  width : 45px;
  margin-top: 3em;
  background-image: none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #4c5c68;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
    height: 150px;
}
/* End carousel */


/*new jobs page css strat*/

.box-slider-bottom{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -28px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-box {
    border: none;
    color: #F49E55;
    margin-left: 20px;
    font-size: 21px;
}
.location-box{
  border: none;
    color: #F49E55;
    margin-left: 20px;
    font-size: 21px;
}
.search-fa-color{
  color: #F49E55;
    font-size: 24px;
    padding: 23px;
}
.map-fa-color{
  color: #F49E55;
    font-size: 29px;
    padding: 23px;
}
  .item-box{
  /*  width: 145px;*/
    border: none;
    color: #F49E55;
    font-size: 24px;
    padding: 23px;
}

.finden-box {
    font-size: 24px;
    color: #ffffff;
    background-color: #f49e55;
    padding: 22px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 0 !important;
}
select.item-box:focus-visible{
  outline: none !important;
}


/*sport page css*/

 .img-screen{
  width:100%;
}
.section-2-h3{
  color: #fff;
    font-size: 29px;
    margin-bottom: 30px;
}
.section-2-ul {
    list-style: none;
    color: #fff;
    font-size: 24px;
}

 
  .section-6-pd{
    padding: 30px 0 0;
    background-color: #4C5C68;
  }
  
  .section-6-box-1{
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .section-6-span-text{
   font-size: 20px;
    color: #4C5C68;
    font-weight: 500;
  }
  .section-6-span-text-1 {
    font-size: 14px;
    color: #4C5C68;
    font-weight: 600;
}
.section-6-img{
    width: 100%;
    max-width: 60px;
}
.section-6-img-1{
      width: 100%;
    max-width: 185px;
}
.section-6-box-2{
  align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 5em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.section-6-main-box {
    position: relative;
    top: 70px;
    margin-bottom: 15em;
}


.sport-section-1{
  background-color:#D1B681;
  /*padding: 0 0 7em;*/
}
.sport-section-1-btn {
    border: none;
    background-color: #fff;
    color: #D1B681;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
}

.sport-section-1-main-box{
  position: relative;
    top: 50px;
}
.sport-section-1-box{
  width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 20px;
    position: relative;
    top: 50px;
    bottom: 0;
}

.sport-section-2{
  background-color: #4C5C68;
  margin-top: 14em;
}

.sport-section-2-btn{
    border: none;
    background-color: #fff;
    color:#4C5C68;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
}
.sport-section-3 {
  padding: 50px 0;
    margin-top: 6em;
}
.sport-section-3-headingb{
      font-size: 30px;
    text-transform: uppercase;
    color:#4C5C68;
    text-align: center;
    font-weight: bold;
    padding-bottom: 33px;
}

.sport-section-3-heading{
  font-size: 46px;
text-transform: uppercase;
color:#D1B681;
text-align: center;
font-weight: bold;
padding-bottom: 15px;
}
.sport-section-3-inner-text{
  text-align: center;
    font-size: 18px;
    padding: 0 11em 15px;
    color: #4C5C68;
}

.sport-section-3-line{
  text-align: center;
  padding-bottom: 5.2em;
  position: relative;
}
.sport-section-3-line:before{
  position: absolute;
  content: '';
  border: 2px solid #D1B681;
  width: 121px;
  top: 20px;
  left: 60em;
}
.sport-section-3-line:after{
  position: absolute;
  content: '';
  border: 2px solid #D1B681;
  width: 121px;
  top: 20px;
  right: 60em;
}
.sport-section-3-Athletes-box{
  width: 100%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -17px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    letter-spacing: 1.5px;
}

.search-fa-color-1{
  color: #D1B681;
    font-size: 24px;
    padding: 23px;
}
.search-box-1{
  border: none;
    color: #D1B681;
    margin-left: 20px;
    font-size: 21px;
}
.map-fa-color-1{
  color: #D1B681;
    font-size: 29px;
    padding: 23px;
    border-left: 2px solid #d1b681;
}

.location-box-1{
  border: none;
    color:#D1B681;
    margin-left: 20px;
    font-size: 21px;
}
  .Athletes-box{
    font-size: 24px;
    color: #fff;
    background-color:#D1B681;
    padding: 22px 73px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 0 !important;
  }

  .section-3-main-box{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 20px;
  }
  .section-3-main-box-left-1{
   width: 100%;
    background-color: #4C5C68;
    border-radius: 20px;
     display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .section-3-main-box-left-2{
   padding: 115px 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-3-main-box-left-2 span{
    color: #707070;
    font-size: 20px;
    margin-left: 15px;
  }
  .main-box-inner{
   position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
  }
  .img-flag{
    width: 100%;
   max-width: 45px;
  }
  .second-text-align{
    padding: 20px 20px 0px 50px;
}

.inner-img-kl-1 {
    width: 100%;
    max-width: 125px;
}
.inner-img-kl {
    position: absolute;
    left: 50%;
    top: 232px;
    transform: translate(-50%, -50%);
}

.sport-section-4{
  padding: 15px 0 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}

td, th {
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
    font-size: 18px;
    text-align: center;
  
}
tr{
  border-radius: 10px;
}

tr:nth-child(2) {
  background-color: #A8AFB3 !important;
}
tr{
   background-color:#CDD0D2 !important;
}
.heading-tbl-text{
    background-color: #4c5c68;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 23px;
}

.sport-section-5{
  padding: 15px 0 50px;
}
.section-5-main-box{
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 100%;
    height: 100%;
    background-color:#D1B681;
    border-radius: 20px;
}
.section-5-main-box-left-2{
    padding:15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-5-main-box-left-2 span{
  color: #fff;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-5-main-box-left-2 p{
  color: #fff;
  font-size:20px;
  text-align: center;
  margin: 15px 0;
  }
 
  .bloggen-btn {
    border: none;
    background-color: #fff;
    color: #d1b681;
    padding: 13px 43px;
    border-radius: 16px;
    font-size: 20px;
}
.sport-section-6{
   padding: 15px 0 50px;
}
/*media query start*/
@media screen and (max-width: 500px) {
  .sportsheader a {
    float: none;
    display: block;
    text-align: left;
}
.sportsheader-right {
    float: none;
}
}

.show-mobile{
  display: none;
}

@media (max-width:  1024px)
{

  .sport-section-1-box {
    height:unset; 
  }
  .section-2-h3 {
    margin-bottom: 10px;
  }
  .sport-section-1-main-box {
    position: relative;
    top: 0px; 
    margin: 12px 0;
  }
  .sport-section-3 {
    margin-top: 2em;
  }
  .sport-section-3-inner-text {
    padding: 0 0 15px;
  }
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 51em;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 51em;
  }
  .inner-img-kl {
    position: absolute;
    top: 180px;
  }
  .inner-img-kl-1 {
    max-width: 100px;
  }
  .main-box-inner {
    font-size: 25px;
  }
  .section-3-main-box-left-2 {
    padding: 90px 0 30px;
  }
  .carousel-caption {
    position: absolute;
    top: 30px!important;
  }
}

@media (max-width:  991px){
  .sport-section-2 {
    background-color: #4C5C68;
    margin-top: 7em;
  }
  .section-2-ul {
    font-size: 20px;
  }
  .sport-section-3 {
    margin-top: 0em;
  }
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 39em;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 39em;
  }
  .search-fa-color-1 {
    display: flex;
  }
  .map-fa-color-1 {
    display: flex;
  }
  .Athletes-box{
    width: 31%;
  }
  .main-box-inner {
    font-size: 20px;
  }
  .inner-img-kl-1 {
    max-width: 80px;
  }
  .inner-img-kl {
    position: absolute;
    top: 128px;
  }
  .section-3-main-box-left-2 {
    padding: 65px 0 30px;
  }
  .section-5-main-box-left-2 p {
    font-size: 17px;
  }
  .bloggen-btn {
    padding: 10px 25px;
    font-size: 18px;
    display: flex;
    margin: 0 auto;
  }
  .section-6-main-box {
    margin-bottom: 9em;
  }
  .section-6-box-2 {
    padding: 0;
    justify-content: center;
  }
  .section-6-span-text {
    margin-bottom: 15px;
  }
  .carousel-caption {
    position: absolute;
    top: 39px!important;
  }
  .carousel-text-span {	
    font-size: 45px;
  }
}
@media (max-width: 768px){
  .carousel-caption {
    position: absolute;
    top: 24px!important;
  }
  .carousel-text-span {
    font-size: 38px;
  }
}
@media (max-width: 767px){
  .show-mobile{
    display: block;
  }
  .hide-mobile{
    display: none;
  }
  .sport-section-1-box {
    position: relative;
    top: 15px;
    bottom: 0;
    margin-bottom: 20px;
  }
  .sport-section-1-box {
    margin-bottom: 34px;
  }
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 30em;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 30em;
  }
  .sport-section-3-Athletes-box {
    justify-content: center;
  }
  .search-fa-color-1 {
    font-size: 18px;
  }
  .search-box-1 {
    font-size: 18px;
  }
  .map-fa-color-1 {
    font-size: 18px;
  }
  .location-box-1 {
    font-size: 18px;
  }
  .Athletes-box {
    font-size: 20px;
    padding: 0 10px;
    width: 48%;
    justify-content: center;
  }
  .inner-img-kl-1 {
    max-width: 125px;
  }
  .inner-img-kl {
    position: absolute;
    top: 315px;
  }
  .main-box-inner {
    font-size: 35px;
  }
  .section-3-main-box-left-2 {
    padding: 115px 50px 50px;
  }
  .mobile-pd{
    margin:  40px 0;
  }
  .main-box-inner {
    line-height: 40px;
  }
  .section-5-main-box-left-2 p {
    font-size: 20px;
  }
  .section-6-main-box {
    position: relative;	
    top: 0px; 
  }
  .section-6-box-2 {
    padding: 4em; 
  }
  .section-6-pd {
    padding: 30px 0;
  }
  .section-6-main-box {
    margin-bottom:0; 
  }
  ::ng-deep .ng-image-slider .ng-image-slider-container .main {
    height: 200px !important;
  }
  ::ng-deep .ng-image-slider {
    height: 200px !important;
  }
}
@media (max-width: 580px){
  .sport-section-3-Athletes-box {
    display: flex;
    flex-direction: column;
  }
  .search-fa-color-1,.search-box-1, .map-fa-color-1, .location-box-1 {
    font-size: 24px;
  }
  .map-fa-color-1 {
    display: flex;
    justify-content: center;
    padding: 0 0 15px;
    border-bottom: 2px solid #d1b681;
    border-left: none;
    margin-bottom: 15px;
    width: 100%;
  }
  .Athletes-box {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    font-size: 24px;
  }
  .carousel-text-span {
    font-size: 30px;
  }
  .carousel-caption {
    position: absolute;
    top: 0px!important;
  }

}

@media (min-width: 1821px){
  .carousel-caption{
      position:absolute;
      top: 20% !important;
   }
   #home span{
     font-size: 65px;
   }
   ::ng-deep .ng-image-slider {
     height: 400px !important;
   }
   
   ::ng-deep .ng-image-slider .ng-image-slider-container .main {
     height: 400px !important;
   }
   
 }

@media (max-width: 480px){
  .inner-img-kl {
    position: absolute;
    top: 275px;
  }
}
@media (max-width: 425px){
  .inner-img-kl {
    position: absolute;
    top: 240px;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 24em;
    width: 100px;
  }
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 24em;
    width: 100px;
  }
  .carousel-text-span {
    font-size: 25px;
  }
  ::ng-deep .ng-image-slider {
    height: 150px !important;
  }
  ::ng-deep .ng-image-slider .ng-image-slider-container .main {
    height: 150px !important;
  }
}
@media (max-width: 375px){
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 21em;
    width: 80px;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 21em;
    width: 80px;
  }
  .inner-img-kl {
    position: absolute;
    top: 200px;
  }
  .main-box-inner {
    line-height: 22px;
  }
  .main-box-inner {
    font-size: 25px;
  }
  .inner-img-kl-1 {
    max-width: 110px;
  }
  .sport-section-3-heading {
    font-size: 40px;
  }	
  .section-3-main-box-left-2 {
    padding: 85px 50px 50px;
  }


}
@media (max-width: 320px){
  .carousel-text-span {
    font-size: 18px;
  }
  .search-fa-color-1, .search-box-1, .map-fa-color-1, .location-box-1 {
    font-size: 20px;
  }	
  .inner-img-kl {
    position: absolute;
    top: 180px;
  }
  .second-text-align {
    padding: 10px 20px 0px 50px;
  }
  .sport-section-3-heading {
    font-size: 30px;
  }
  .sport-section-3-line:after {
    position: absolute;
    content: '';
    right: 18em;
    width: 80px;
  }
  .sport-section-3-line:before {
    position: absolute;
    content: '';
    left: 18em;
    width: 80px;
  }
}


.section-footer{
	width: 100%;
			height: 100%;
			line-height: 30px;
			font-size: 30px;
	        display: flex !important;
			justify-content: center;
			vertical-align: top;
			cursor: pointer;
			color: #fff;
			margin-left: 0 !important;
			white-space: nowrap;
}