    <div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">	
				<img src="assets/img/home/RD3_Home_Slider3_sport_1600.jpg" alt="sport" width="1100" height="700" class="carsoul-img">
				 <div class="carousel-caption" id="sport">
					<!-- <span class="carousel-text-span">R<span class="span-inner-color">e</span>gional<span class="span-inner-color">e</span>s und digital<span class="span-inner-color">e</span>s<br>
					Mark<span class="span-inner-color">e</span>ting für Wirtschaft und Sport</span> -->
					<span class="carousel-text-span">Regionales und digitales<br>
					Marketing für Wirtschaft und Sport</span>
				  </div>
			
			</div>
			<div class="carousel-item">
				<img src="assets/img/home/RD3_Home_Slider3_sport_1600.jpg" alt="sport" width="1100" height="700" class="carsoul-img">
				<div class="carousel-caption" id="sport">
					<span class="carousel-text-span">Regionales und digitales<br>
					Marketing für Wirtschaft und Sport</span>
				  </div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/home/RD3_Home_Slider3_sport_1600.jpg" alt="sport" width="1100" height="700" class="carsoul-img">
				<div class="carousel-caption" id="sport">
					<span class="carousel-text-span">Regionales und digitales<br>
					Marketing für Wirtschaft und Sport</span>
				  </div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
    <section class="sport-section-1">
        <!-- <div class="sportsheader">
            <div class="sportsheader-right">
                <a>WERDE RD3 ATHLET</a>
                <a>WERDE RD3 PARTNER</a>
                <a>UNSERE ATHLETEN</a>
                <a>PARTTNERTAFELN</a>
                <a>BLOG</a>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sport-section-1-box">
                        <img src="/assets/img/sports/RD3-Athlet.png" class="img-screen">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sport-section-1-main-box">
                        <h3 class="section-2-h3">Werde RD3 Athlet</h3>
                        <div class="section-2-ul">
                            <p class="section-2-li">
                                <span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </span>
                            </p>
                            <button class="sport-section-1-btn">Jetzt Ansuchen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sport-section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sport-section-1-main-box">
                        <h3 class="section-2-h3">Werde RD3 Partner</h3>
                        <div class="section-2-ul">
                            <p class="section-2-li">
                                <span>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </span>
                            </p>
                            <button class="sport-section-2-btn">Jetzt Ansuchen</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="sport-section-1-box">
                        <img src="/assets/img/sports/RD3-partner.png" class="img-screen">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sport-section-3">
        <div class="container">
            <h1 class="sport-section-3-heading">RD3 Athleten</h1>
            <!-- <h4 class="sport-section-3-inner-text">Get to know all the athletes from the World of Red Bull. Discover all
                the facts, stats, success stories, latest achievements and more</h4> -->
            <div class="sport-section-3-line">
                <img src="/assets/img/sports/cream-business.png" class="section-title-img">
            </div>

            <div class="sport-section-3-Athletes-box">
                <i class="fa fa-search search-fa-color-1"><label class="search-box-1">Name</label></i>
                <i class="fa fa-map-marker map-fa-color-1"><label
                        class="location-box-1">Region</label></i>
                <label class="Athletes-box">Find Athleten</label>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/kl-rahul.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">KL RAHUL</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/k-l-rahul-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Cricket</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/Ashwini Ponnappa.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">Ashwini Ponnappa</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/Ashwini Ponnappa-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Badminton</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-3-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/Riyan Parag.png">
                            <div class="main-box-inner">
                                <span class="main-box-left-1-span">Riyan Parag</span>
                            </div>
                            <div class="inner-img-kl">
                                <img src="/assets/img/sports/riyan-parag-inner.png" class="inner-img-kl-1">
                            </div>
                        </div>
                        <div class="section-3-main-box-left-2">
                            <div class="main-box-left-2-inner">
                                <img src="/assets/img/sports/flag.png" class="img-flag">
                                <span>Germany</span>
                            </div>
                            <span class="second-text-align">Cricket</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="sport-section-4">
        <div class="container">
            <h1 class="sport-section-3-heading">RD3-partner</h1>

            <div>
                <h3 class="sport-section-3-headingb">Partnertafeln</h3>
                <!-- <img src="/assets/img/sports/cream-business.png" class="section-title-img"> -->
            </div>

            <div class="sport-section-3-Athletes-box">
                <i class="fa fa-search search-fa-color-1"><label class="search-box-1">Name</label></i>
                <i class="fa fa-map-marker map-fa-color-1"><label class="location-box-1">Region</label></i>
                <label class="Athletes-box">Find Partner</label>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th colspan="3" class="heading-tbl-text">Region/Partner</th>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>
                    <tr>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </section>


    <section class="sport-section-5">
        <div class="container">
            <h1 class="sport-section-3-heading">Bloggen</h1>

            <div class="sport-section-3-line">
                <img src="/assets/img/sports/cream-business.png" class="section-title-img">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section-5-main-box">
                        <div class="section-3-main-box-left-1">
                            <img src="/assets/img/sports/bloggen-image.png">

                        </div>
                        <div class="section-5-main-box-left-2">
                            <span>Bloggen<span>
                                    <p>Lorem ipsum dolor sit
                                        amet, consectetur adipisicing
                                        elit, sed do eiusmod
                                        tempor incididunt ut labore
                                        et dolore magna aliqua.</p>
                                    <button class="bloggen-btn">Weiterlesen</button>
                                </span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-6-pd">
        <div class="section-6-main-box">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="section-6-box-1">
                            <img src="/assets/img/sports/cream-call.png" class="section-6-img">
                            <span class="section-6-span-text">Telefon</span>
                            <span class="section-6-span-text-1"><a style="color: #4C5C68;" href="tel: +43 (0)3126 32413 13">+43 (0)3126 32413 13</a></span>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="section-6-box-1">
                            <img src="/assets/img/sports/cream-mail.png" class="section-6-img">
                            <span class="section-6-span-text">E-mail</span>
                            <span class="section-6-span-text-1"><a style="color: #4C5C68;" href="mailto: info@rd3.at">info@rd3.at</a></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section-6-box-2">

                            <span class="section-6-span-text">Soziale Medien</span>
                            <img src="/assets/img/sports/cream-Icon.png" class="section-6-img-1">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
