<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item active">
			<ng-image-slider #nav
			[images]="imageObject"
			[autoSlide]="1"
			[infinite]="true"
			[imagePopup]="false"
			[imageSize]="{width: '100%', height: '50%' ,space: 4}"
			slideImage="1"></ng-image-slider>	
			<!-- <img src="assets/img/RD3_Home_Slider3_jobs.jpg" alt="jobs" width="1100" height="700" class="carsoul-img"> -->
			 <div class="carousel-caption" id="stadt">
				<span class="carousel-text-span">Regionales und digitales<br>
				Marketing für Wirtschaft und Sport</span>
			  </div>
		
		</div>
		<!-- <div class="carousel-item">
			<img src="/assets/img/_RD3_Home_Slider2_stadt.jpg" alt="stadt" width="1100" height="700"
				class="carsoul-img">
			<div class="carousel-caption" id="stadt">
				<span class="carousel-text-span">Regionales und digitales<br>
					Marketing für Wirtschaft und Sport</span>
			</div>
		</div>
		<div class="carousel-item">
			<img src="/assets/img/_RD3_Home_Slider2_stadt.jpg" alt="stadt" width="1100" height="700"
				class="carsoul-img">
			<div class="carousel-caption" id="stadt">
				<span class="carousel-text-span">Regionales und digitales<br>
					Marketing für Wirtschaft und Sport</span>
			</div>
		</div> -->
	</div>

	<!-- Left and right controls -->
	<!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a> -->
</div>
<div class="list">
    <form>
     <div class="main-box">
        <div class="left-part">
          <label>Show</label>
          <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
          </select>
          <label>entries</label>
      </div>
      <div class="right-part">
          <label>Search</label>
          <input type="text" name="">
      </div>
  </div>
  
  </form>
  
  <table>
     <tr>
       <th>Building</th>
       <th>Keyword</th>
       <th>Brands</th>
       <th class="action-td">Actions</th>
   </tr>
   <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  <tr>
      <td>Youth Hostel / Jugendherberge</td> 
      <td>Youth Hostel</td>
      <td></td>
      <td class="action-td-data">
        <div class="edit-delete-btn">
         <button class="btn1">Edit</button> 
         <button class="btn2">Delete</button>
     </div>
  </td>  
  </tr>
  
  
  </table>
</div>