<div class="home">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/about-us/Background Image@2x.png" alt="about-us" width="1100" height="700"
                    class="carsoul-img">
                <div class="carousel-caption" id="about-us">
                    Vision
                </div>
            </div>
        </div>
    </div>
    <div class="section-vision">
        <span>AUS EINER VISION WIRD EINE MISSION</span>
    </div>
    <section class="vision-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="vision-text">
                        Die Themen "Regional" und "Digital" prägen unsere Zeit.
                        Der Umgang und der richtige Einsatz sind entscheidend
                        für die positive Entwicklung unserer Gesellschaft.</p>

                    <p class="vision-text">Dabei sehen wir alteingesessene Handelsformen mit
                        Marktplätzen und regionalen Produkten, idyllische
                        Ortskerne mit kleinen Geschäften und unsere
                        traditionellen Vereine nicht im Widerspruch zur
                        Digitalisierung.</p>

                    <p class="vision-text">Denn der Sinn und Zweck der Digitalisierung liegt darin,
                        die Absatz-und Vermarktungsmöglichkeiten zu erweitern
                        und damit die Anzahl an hochwertigen Jobs in der
                        Region zu erhöhen.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/vision/vision-img-1.png" class="vision-img">

                </div>
            </div>
        </div>

    </section>
    <section class="vision-section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <img src="img/vision-img-2.png" class="vision-img"> -->
                    <img src="assets/img/vision/vision-img-2.png" class="vision-img">

                </div>
                <div class="col-md-6">
                    <p class="vision-text-1">
                        Auch ist es unser aller Verpflichtung, junge SportlerInnen
                        und locale Vereine in unserer Gesellschaft zu unterstützen
                        und zu fördern. SportlerInnen sind Vorbilder für unsere
                        Kinder und mit Vereinen schaffen wir die
                        Rahmenbedingungen für deren erfolgreiche Entwicklung.</p>

                    <p class="vision-text-1">Unsere Vision ist es, eine neue Tourismus- Sport und
                        Freizeitwirtschaft zu gestalten. Diese muss regional
                        denken, ökonomisch sinnvoll agieren, ökologisch und
                        nachhaltig wirken. Modern und zukunftsweisend,
                        dabei auch traditionell und authentisch.
                    </p>

                    <p class="vision-text-1">Daher machen wir es zu unserer Mission, die locale
                        Wirtschaft, den regionalen Arbeitsmarkt und die
                        heimische Sportszene durch digitales Marketing
                        zu verbinden und langfristig zu stärken.
                    </p>
                </div>

            </div>
        </div>

    </section>
</div>