
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carsoul-img {
    background-color: #fff;
    filter: brightness(0.7);
  }
  #about-us span {
  font-size: 55px;
  color: #FFFFFF;
  font-family: 'Bebas Neue', cursive;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 100px !important;
    word-break: break-all;
    font-size: 55px;
    color: #FFFFFF;
    font-family: "Bebas Neue", cursive;
  }

  .impress-bg{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
  }
  .impress-bg h4 {
    color: #7a7a7a;
    font-size: 19px;
    font-weight: 600;
}
.impress-bg span{
  color: #7a7a7a;
    font-size: 15px;
}
.left-box-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.color-orange{
  color: #ff9e36 !important;
}
  /*media query start*/
  @media screen and (max-width: 500px) {
  }

  .impressum-section-1{
    padding: 50px 0;
  }
  .impressum-box{
    display: flex;
    text-align: center;
    margin-bottom: 50px;
  
  }
  .impressum-h3{
    color: #4C5C68;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0 0 50px;
  }
  
  .impressum-box-2{
   display: flex;
      flex-direction: column;
      font-size: 20px;
      color: #4c5c68;
      font-weight: 500;
  }
  .impressum-fa-map{
    color: #F07D22;
    font-size: 30px;
  }
  .impressum-fa-phone {
    color:#9CB900;
     font-size: 30px;
  }
  .impressum-fa-envelope{
    color: #D1B681;
     font-size: 30px;
  }
  .impressum-box-span-txt{
    font-size: 21px;
      font-weight: normal;
  }
  
  .impressum-box-span-txt-1{
    font-size: 30px;
  }
  /*media query start*/

  @media (max-width: 767px){
    .impressum-h3 {
      font-size: 23px;
    }
    .impressum-box-span-txt-1 {
      font-size: 22px;
    }
    
  }
  @media (max-width:  320px){
    .impressum-box-span-txt-1 {
      font-size: 21px;
    }
    .impressum-h3 {
      font-size: 30px;
    }
  }