	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">	
				<img src="assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
				 <div class="carousel-caption" id="about-us">
					Impressum
				  </div>
			</div>
		</div>
	</div>
	<!-- <section class="impressum-section-1">
		<div class="container">
			<h3 class="impressum-h3">RD3 GmbH / vormals H2 CANDO GmbH</h3>
			<div class="row impressum-box">

				<div class="col-md-4">
					<div class="impressum-box-2">
						<i class="fa fa-map-marker impressum-fa-map"></i> 
						<span>Grazer Straße 10</span>
						<span>8130 Frohnleiten</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="impressum-box-2"> 
						<i class="fa fa-phone impressum-fa-phone"></i>
						<span>+43 (3126) 32 4 13 13</span>
					</div>
				</div>
				<div class="col-md-4"> 
					<div class="impressum-box-2">
						<i class="fa fa-envelope impressum-fa-envelope"></i>
						<span>info@rd3.at</span>
					</div>
				</div>

			</div>
			<div class="row impressum-box">
				<div class="col-md-6">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Firmenregisternummer</span>
						<span class="impressum-box-span-txt">498906 k</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Handelsregistergericht</span>
						<span class="impressum-box-span-txt">ZRS Graz</span>
					</div>
				</div>
			</div>

			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Umsatzsteuer-Identifikationsnummer</span>
						<span class="impressum-box-span-txt">ATU73646913</span>
					</div>
				</div>
			</div>
			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Ort der Gewerbeberechtigung</span>
						<span class="impressum-box-span-txt">Österreich</span>
					</div>
				</div>
			</div>
			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Rechtsform</span>
						<span class="impressum-box-span-txt">Gesellschaft mit beschränkter Haftung</span>
					</div>
				</div>
			</div>
			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Verwaltung</span>
						<span class="impressum-box-span-txt">Helmut Hirner, MBA</span>
					</div>
				</div>
			</div>
			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Bank details</span>
						<span>Bank: Steiermärkische Sparkasse</span>
						<span>IBAN: AT95 2081 5000 4230 7595</span>
						<span>BIC: STSPAT2GXXX</span> 
					</div>
				</div>
			</div>
			<div class="row impressum-box">
				<div class="col-md-12">
					<div class="impressum-box-2">
						<span class="impressum-box-span-txt-1">Kammer- / Berufsverbandmitgliedschaft (en)</span>
						<span>Wirtschaftskammer Steiermark</span>
						<span>Tourismus- und Freizeitsektor</span>
						<span>Reisebüro-Gruppe</span> 
					</div>
				</div>
			</div>
			
		</div>

	</section> -->

 <section class="impressum-section-1">
	 <div class="container">
		 <div class="row impress-bg">
			 <div class="col-md-6">
                 <div class="left-box-1">
                     <h4>RD3 GmbH</h4>
					 <span>Grazer Straße 10</span>
					 <span>8130 Frohnleiten</span>
					 <span>Telefon: <span><a class="color-orange" href="tel: +43 (0)3126 32413 13">+43 (3126) 32 413 13</a></span></span>
					 <span>E-Mail: <span><a class="color-orange" href="mailto: info@h2cando.com">info@h2cando.com</a></span></span>
                </div>
				<div class="left-box-1">
					 <h4>Firmenregisternummer:</h4>
					 <span>498906 k</span>
				</div>
				<div class="left-box-1">
					 <h4>Handelsregistergericht:</h4>
					 <span>ZRS Graz</span>
					 </div>
					 <div class="left-box-1">
					 <h4>Umsatzsteuer-Identifikationsnummer:</h4>
					 <span>ATU73646913</span>
					</div>
					<div class="left-box-1">
					 <h4>Ort der Gewerbeberechtigung:</h4>
					 <span>Österreich</span>
					</div>
			</div>
			 <div class="col-md-6">
				<div class="left-box-1">
				<h4>Rechtsform:</h4>
				<span>Gesellschaft mit beschränkter Haftung</span>
				</div>
				
                <div class="left-box-1">
				<h4>Verwaltung:</h4>
				<span>Helmut Hirner, MBA</span>
			    </div>
				<div class="left-box-1">
				<h4>Bank details:</h4>
				<span>Bank: Steiermärkische Sparkasse</span>
				<span>IBAN: AT95 2081 5000 4230 7595 </span>
				<span>BIC: STSPAT2GXXX</span>
			    </div>
				<div class="left-box-1">
				<h4>Kammer- / Berufsverbandmitgliedschaft (en):</h4>
				<span>Wirtschaftskammer Steiermark</span>
				<span>Tourismus- und Freizeitsektor</span>
				<span>Reisebüro-Gruppe</span>
			</div>
			</div>
			 
		 </div>
	 </div>
 </section>



