<div id="demo" class="carousel slide" data-ride="carousel">
	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item active">
			<ng-image-slider #nav
			[images]="imageObject"
			[autoSlide]="1"
			[infinite]="true"
			[imagePopup]="false"
			[imageSize]="{width: '100%', height: '50%' ,space: 4}"
			slideImage="1"></ng-image-slider>	
			 <div class="carousel-caption" id="stadt">
				<span class="carousel-text-span">Regionales und digitales<br>
				Marketing für Wirtschaft und Sport</span>
			  </div>
		
		</div>
	</div>
</div>

<section class="section-1-pd">
	<div class="container">
		<h1 class="dar-9-plan">Der 9 Punkte Plan</h1>
		<h4 class="inner-text">in Zusammenarbeit mit österreichischen Gemeinden sorgen wir dafür, dass
			die wachsende Digitalisierung unsere heimische Wirtschaft stärkt</h4>
		<div class="line-stadt">
			<img src="/assets/img/green-business.png" class="section-title-img">
		</div>
		<div class="row green-box-1">
			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">01</span>
					</div>
					<p class="dar-9-text-p">
						Erhaltung der vielfältigen
						Wirtschaftskultur in Orts-
						und Stadtkernen durch
						digitale Werbung
					</p>
				</div>
			</div>

			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">02</span>
					</div>
					<p class="dar-9-text-p">
						Nutzung digitaler Potentiale
						für ALLE. Verein, EPU, KMU,
						bäuerlicher Betrieb &
						öffentliche Einrichtung
					</p>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">03</span>
					</div>
					<p class="dar-9-text-p">
						Umsätze bleiben
						ausschließlich bei den
						heimischen Betrieben
						und können stationär erfolgen
					</p>
				</div>
			</div>

		</div>

		<div class="row green-box-1">
			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">04</span>
					</div>
					<p class="dar-9-text-p">
						Bürger erfahren digital,
						was sie lokal und
						regional beziehen
						können (Web + App)
					</p>
				</div>
			</div>

			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">05</span>
					</div>
					<p class="dar-9-text-p">
						alle Betriebe, Vereine &
						Einrichtungen erhalten
						einen kostenlosen,
						gleichwertigen digitalen Auftritt
					</p>
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">06</span>
					</div>
					<p class="dar-9-text-p">
						Steuern und Abgaben
						kommen allen heimischen
						Betrieben, Vereinen, …
						gleichermaßen zu Gute
					</p>
				</div>
			</div>

		</div>

		<div class="row green-box-1">
			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">07</span>
					</div>
					<p class="dar-9-text-p">
						alle Marketingauftritte
						erfolgen zweisprachig
						(Deutsch & Englisch)
					</p>
				</div>
			</div>

			<div class="col-md-4 mobile-rp-mb">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">08</span>
					</div>
					<p class="dar-9-text-p">
						Betriebe, Vereine &
						Einrichtungen warden
						mit ihrer Gemeinde in
						Suchseiten & App verlinkt
					</p>
				</div>
			</div>
			<div class="col-md-4	">
				<div class="card card-bg-dar-9">
					<div class="dar-9-box">
						<span class="dar-9-text">09</span>
					</div>
					<p class="dar-9-text-p">
						Gemeinden und deren
						Betriebe werden auf allen
						Marketingkanälen von
						regionalundigital.at
						gelistet & beworben
					</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="section-2-pd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="screen-box">
					<img src="/assets/img/screen.png" class="img-screen">
				</div>
			</div>
			<div class="col-md-6">
				<div class="section-2-main-box">
					<h3 class="section-2-h3">Ihre Gemeinde virtuell in 3D und als App</h3>
					<div class="section-2-ul">
						<p class="section-2-li"><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>als Website auf regionalunddigital.at sowie auf Ihrer Gemeinde Seite</span>
						</p>
						<p><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>als eigene App für Handy & Tablet (Android & Apple)</span>
						</p>
						<p><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>Gebäude & Objekte verlinkt mit den Betrieben, Vereinen, Einrichtungen</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="section-3-pd">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="section-3-box-left">
					<img src="/assets/img/search.png" class="box-left-img">
					<span class="box-left-text">Digital suchen & finden.</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="section-3-middle">
					<img src="/assets/img/menu-bar.png" class="section-3-img">
				</div>
			</div>
			<div class="col-md-4">
				<div class="section-3-box-right">
					<img src="/assets/img/coins.png" class="box-right-img">
					<span class="box-right-text">Regional kaufen.</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-4-pd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="section-2-main-box">
					<h3 class="section-2-h3">Professionelle Landing Page für alle</h3>
					<div class="section-2-ul">
						<p class="section-2-li"><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>eine einheitliche Zielseite (Deutsch +
								Englisch) für alle Betriebe, Vereine
								& Einrichtungen</span>
						</p>
						<p><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>alle wichtigen Informationen auf einer
								Seite - responsiv auf PC, Tablet & Telefon</span>
						</p>
						<p><img src="/assets/img/arrow-down.png" class="down-arrow-img">
							<span>professionell aufbereitet, modern
								gestaltet und erfolgreich auf allen
								Kanälen verlinkt</span>
						</p>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="screen-box-2">
					<img src="/assets/img/landing-page.png" class="img-screen">
				</div>
			</div>
		</div>
	</div>

</section>

<section class="section-5-pd" id="stadtPreise">
	<div class="container">
		<h1 class="section-5-h1">Unser Preis Modell</h1>
		<h4 class="section-5-h4">Einfach. Effizient. Fair. Erfolgreich. </h4>
		<div class="line-3">
			<img src="/assets/img/green-business.png" class="section-title-img">
		</div>
	</div>
</section>

<section class="job-section-4">
	<div class="container-fluid">
		<div class="row price-box-pd">
			<div class="col-md-12">
				<div class="preise-box-orange" style="background-color:#9cb900;border:12px solid #9cb900;">
					<div class="preise-box-gray">
						<div class="price-box-2">
							<img src="assets/img/card-header-2.png" class="price-logo-img">
							<div class="inner-price-box">
								<span>Bei RD3 Jobs immer inklusive:</span>
								<span>Aufbau der Stadt in 3D für Web und als App. Indexierung für Suchfunktion. Verlinkung RD3/Stadt. Aufbau SEM.
								Erstellung der einheitlichen "Landing Pages" für jeden ansässigen Betrieb, Einrichtung, Verein, ...</span>
							</div>
						</div>
						<table id="table-data" class="table-1">
							<tr>
							<th>Service</th>
							<th>Einheit</th>
							<th>Preis *</th>
						</tr>
						<tr>
						<td>Setup Stadt > 20.000 Einwohner<span class="table-span"> Erstellung 3D Stadt, Datenbank und Webseite aller Betriebe</span></td>
						<td>einmalig 
					pro Einwohner</td>
					<td>€ 0,10</td>
				</tr>
				<tr>
				<td>laufendes Service <span>Hinzufügen von neuen & entfernen von alten Betrieben</span></td>
				<td>monatlich
			pro Einwohner</td>
			<td>€ 0,05</td>
		</tr>
		<tr>
		<td>Setup Stadt für 5.000  bis 20.000 Einwohner<span>siehe oben</span></td>
		<td>einmalig 
	pro Einwohner</td>
	<td>€ 0,20</td>
</tr>
<tr>
<td>laufendes Service<span> siehe oben</span></td>
<td>monatlich
pro Einwohner</td>
<td>€ 0,05</td>
</tr>
<tr>
<td>Setup Stadt für < 5.000  Einwohner <span>siehe oben</span></td>
<td>einmalig 
pro Einwohner</td>
<td>€ 0,30</td>
</tr>
<tr>
<td class="last-td-table">laufendes Service<span>siehe oben</span></td>
<td class="last-td-table">monatlich
pro Einwohner</td>
<td class="last-td-table">€ 0,05</td>
</tr>
</table>


</div>   
</div>
</div>
</div>
</div>
</section>


<section class="section-6-pd">
	<div class="section-footer">
		<span>Kontaktiere - uns</span>
	</div>
	<div class="section-6-main-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="section-6-box-1">
						<img src="/assets/img/call.png" class="section-6-img">
						<span class="section-6-span-text">Telefon</span>
						<span class="section-6-span-text-1"><a style="color: #4C5C68;"
								href="tel: +43 (0) 3126 324 64">+43 (0) 3126 324 64</a></span>
					</div>
				</div>
				<div class="col-md-4 mobile-rp-mb-1">

					<div class="section-6-box-1">
						<img src="/assets/img/message.png" class="section-6-img">
						<span class="section-6-span-text">E-Mail</span>
						<span class="section-6-span-text-1"><a style="color: #4C5C68;"
								href="mailto: info@rd3.at">info@rd3.at</a></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="section-6-box-2">

						<span class="section-6-span-text">Soziale Medien</span>
						<img src="/assets/img/icon.png" class="section-6-img-1">
					</div>
				</div>

			</div>
		</div>
	</div>

</section>