    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!-- <div class="carousel-item active">	
                <img src="/assets/img/Background Image@2x.png" alt="about-us" width="1100" height="700" class="carsoul-img">
                 <div class="carousel-caption" id="about-us">
                    Kontakt Us
                  </div>
            </div> -->
        </div>
    </div>
    
    <section class="kontakt-section-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="kontakt-left-box">
                        <img src="/assets/img/kontakt-left-img.png" class="kontakt-left-img">
                        <div class="kontakt-left-box-2">
                            <h4>Kontaktiere uns</h4>
                            <div class="kontakt-mobile">
                                <div class="kontakt-mobile-icon-box">
                                    <i class="fa fa-phone kontakt-mobile-fa"></i>
                                </div>
                                <div class="kontakt-mobile-text-box">
                                    <!-- <span>24/7 Telefon</span> -->
                                    <span><a style="color: #ffff;" href="tel: +43 (0) 3126 324 64">+43 (0) 3126 324 64</a></span>     
                                </div>
                            </div>
    
                            <div class="kontakt-mail">
                                <div class="kontakt-mobile-icon-box">
                                    <i class="fa fa-envelope kontakt-mobile-fa"></i>
                                </div>
                                <div class="kontakt-mobile-text-box">
                                    <!-- <span>Email</span> -->
                                    <span><a style="color: #ffff;" href="mailto: info@rd3.at">info@rd3.at</a></span>
                                </div>
                            </div>
    
                            <div class="kontakt-social-media">
                                <span>Sozialen Medien</span>
                                <div class="social-media-icon">
                                    <div class="kontakt-facebook-icon-box">
                                        <i class="fa fa-facebook-f kontakt-facebook-fa"></i>
    
                                    </div>
                                    <div class="kontakt-facebook-icon-box">
    
                                        <i class="fa fa-twitter  kontakt-facebook-fa"></i>
                                    </div>
                                    <div class="kontakt-facebook-icon-box">
    
                                        <i class="fa fa-twitter  kontakt-facebook-fa"></i>
                                    </div>
                                    <div class="kontakt-facebook-icon-box">
                                        <i class="fa fa-linkedin  kontakt-facebook-fa"></i>
                                    </div>
                                    <div class="kontakt-facebook-icon-box">
                                        <i class="fa fa-google-plus kontakt-facebook-fa"></i>
                                    </div>
                                    <div class="kontakt-facebook-icon-box">
                                        <i class="fa fa-youtube kontakt-facebook-fa"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="kontakt-right-box">
                        <div class="kontakt-right-box-2">
                        <h4>Kontaktformular</h4>
                        <form class="right-form-box">
                            <div class="kontakt-form-box">
                                <input type="text" name="" placeholder="Vorname" class="vorname-input">
                                <input type="text" name="" placeholder="Nachname">
                            </div>
                            <input type="text" name="" placeholder="E-Mail-Addresse" class="email-input">
                            <input type="text" name="" placeholder="Nachricht" class="message-input">
    
                            <button class="kontakt-right-btn">absenden</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
