<section class="Admin_pannel-section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="left-pannel">
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                    <div class="box">
                        <span>Admin</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="middle-pannel">
                    <div class="header-img">
                    </div>
                    <div class="space-price">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="right-pannel">
                    <div class="right-box-1">
                    </div>
                    <div class="right-box-2">
                    </div>
                    <div class="right-box-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>