<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <ng-image-slider #nav [images]="imageObject" [autoSlide]="1" [infinite]="true" [animationSpeed]="3"
                [imagePopup]="false" [imageSize]="{width: '100%', height: '50%' ,space: 4}" slideImage="1">
            </ng-image-slider>
            <div class="carousel-caption" id="home">
                <span class="carousel-text-span">Reise-Empfehlungen</span>
            </div>

        </div>
    </div>
</div>

<section class="Admin_pannel-section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="left-pannel">
                    <div class="box"[ngClass]="{'actives': tab1===true}" (click)="sidetabsclick($event)">
                        <span>Pauschalreisen</span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab2===true}" (click)="sidetabsclick($event)">
                        <span>Unterkünfte
                        </span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab3===true}"  (click)="sidetabsclick($event)">
                        <span>Sportreisen</span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab4===true}" (click)="sidetabsclick($event)">
                        <span>Sprachreisen</span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab5===true}" (click)="sidetabsclick($event)">
                        <span>Schiffsreisen</span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab6===true}" (click)="sidetabsclick($event)">
                        <span>Camping</span>
                    </div>
                    <div class="box" [ngClass]="{'actives': tab7===true}" (click)="sidetabsclick($event)">
                        <span>Autovermietung</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="right-pannel2" *ngIf="tab1 == true">
                </div>
                <div class="right-pannel"*ngIf="tab2 == true || tab3 == true || tab4 == true || tab5 == true ||tab6 == true || tab7 == true">
                    <div class="right-box-1">
                        <div class="header-img">
                            <div class="image-upload">
                                <label for="file-input">
                                  <img class src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"/>
                                </label>  
                                <input id="file-input" type="file" />
                              </div>
                        </div>
                        <div class="space-price">
                            <div class="form-set">
                            <label class="lableclass" for="fname">Title</label>
                            <input type="text" id="fname" name="fname" size="50">
                            </div>
                           
                            <div class="form-set">
                           <label class="lableclass" for="description">Description</label>
                            <textarea id="description" name="w3review" rows="4" cols="50">
                            </textarea>
                           </div>
                           <button class="form-submit-btn">Submit</button>
                            
                        </div>
                    </div>

                    <div class="right-box-1">
                        <div class="header-img">
                            <div class="image-upload">
                                <label for="file-input">
                                  <img class src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"/>
                                </label>  
                                <input id="file-input" type="file" />
                              </div>
                        </div>
                        <div class="space-price">
                            <div class="form-set">
                            <label class="lableclass" for="fname">Title</label>
                            <input type="text" id="fname" name="fname" size="50">
                            </div>
                           
                            <div class="form-set">
                           <label class="lableclass" for="description">Description</label>
                            <textarea id="description" name="w3review" rows="4" cols="50">
                            </textarea>
                           </div>
                           <button class="form-submit-btn">Submit</button>
                            
                        </div>
                    </div>
                    <div class="right-box-2">
                        <div class="header-img">
                            <div class="image-upload">
                                <label for="file-input">
                                  <img class src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"/>
                                </label>  
                                <input id="file-input" type="file" />
                              </div>
                        </div>
                        <div class="space-price">
                            <div class="form-set">
                            <label class="lableclass" for="fname">Title</label>
                            <input type="text" id="fname" name="fname" size="50">
                            </div>
                           
                            <div class="form-set">
                           <label class="lableclass" for="description">Description</label>
                            <textarea id="description" name="w3review" rows="4" cols="50">
                            </textarea>
                           </div>
                           <button class="form-submit-btn">Submit</button>
                            
                        </div>
                    </div>
                    <div class="right-box-3">
                        <div class="header-img">
                            <div class="image-upload">
                                <label for="file-input">
                                  <img class src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Downloads-icon.png"/>
                                </label>  
                                <input id="file-input" type="file" />
                              </div>
                        </div>
                        <div class="space-price">
                            <div class="form-set">
                            <label class="lableclass" for="fname">Title</label>
                            <input type="text" id="fname" name="fname" size="50">
                            </div>
                           
                            <div class="form-set">
                           <label class="lableclass" for="description">Description</label>
                            <textarea id="description" name="w3review" rows="4" cols="50">
                            </textarea>
                           </div>
                           <button class="form-submit-btn">Submit</button>
                            
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>