<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="assets/img/logo-1.png" alt="bootraper logo" class="app-logo">
        </div>
        <ul class="list-unstyled components text-secondary">

            <li>
                <a [ngClass]="{'active': tab1===true}" (click)="clickdata($event)"><i class="fas fa-file-alt"></i>Home</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab1===true}" (click)="clickdata($event)"><i class="fas fa-file-alt"></i>Login</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab2===true}" (click)="clickdata($event)"><i class="fas fa-user-friends"></i>Jobs</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab3===true}" (click)="clickdata($event)"><i class="fas fa-user-friends"></i>Stadt</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab4===true}" (click)="clickdata($event)"><i class="fas fa-user-friends"></i>Sports</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab5===true}" (click)="clickdata($event)"><i class="fas fa-user-friends"></i>Users</a>
            </li>
            <li>
                <a [ngClass]="{'active': tab6===true}" (click)="clickdata($event)"><i class="fas fa-cog"></i>Settings</a>
            </li>
        </ul>
    </nav>
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button  type="submit" id="sidebarCollapse" class="btn btn-light" >
                <i class="fas fa-bars" style="pointer-events: none;"></i><span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                <ul class="nav-list">
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="javascript:void(0)" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i> <span>John Doe</span> 
                            </a>
                            <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                <ul class="nav-list">
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="javascript:void(0)" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                 <app-admin-login *ngIf="tab1 == true"></app-admin-login>
                 <app-admin-jobs *ngIf="tab2 == true"></app-admin-jobs>
                 <app-admin-home *ngIf="tab1 == true"></app-admin-home>
                 <app-admin-stadt *ngIf="tab1 == true"></app-admin-stadt>
                 <app-admin-sports *ngIf="tab4 == true"></app-admin-sports> 
                 <app-admin-users *ngIf="tab1 == true"></app-admin-users>
            </div>
        </div>           
    </div>
</div>

