<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header" routerLink="/">
            <img src="assets/img/logo-1.png" class="sidebar_logo">
        </div>

        <ul class="list-unstyled components text-secondary">

            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab1===true}" (click)="clickdata($event)"><i
                        class="fas fa-file-alt"></i>Home</a>
                <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a>Home 1</a>
                    </li>
                    <li>
                        <a>Home 2</a>
                    </li>
                    <li>
                        <a>Home 3</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="#jobSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab2===true}" (click)="clickdata($event)"><i class="fas fa-user-md"></i>Jobs</a>
                <!-- <ul class="collapse list-unstyled" id="jobSubmenu">
                    <li>
                        <a>Jobs 1</a>
                    </li>
                    <li>
                        <a>Jobs 2</a>
                    </li>
                    <li>
                        <a>Jobs 3</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="#Stadtmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab3===true}" (click)="clickdata($event)"><i
                        class="fas fa-file-alt"></i>Stadt</a>
                <!-- <ul class="collapse list-unstyled" id="sportsmenu">
                    <li>
                        <a>Add data</a>
                    </li>
                    <li>
                        <a>Sports</a>
                    </li>
                    <li>
                        <a>Sports</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="#sportsmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab4===true}" (click)="clickdata($event)"><i class="fas fa-baseball-ball"></i>Sports</a>
                <ul class="collapse list-unstyled" id="sportsmenu">
                    <!-- <li [ngClass]="{'actives': tab4===true}">
                        <a  (click)="clickdata($event)">RD3-Sportler</a>
                    </li> -->
                    <li>
                        <a>RD3-Partner</a>
                    </li>
                    <li>
                        <a>Blog</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#usersmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab5===true}" (click)="clickdata($event)">
                    <i class="fas fa-info"></i>imprint</a>
                <!-- <ul class="collapse list-unstyled" id="usersmenu">
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="#usersmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab6===true}" (click)="clickdata($event)"><i
                        class="fas fa-file-alt"></i>about-us</a>
                <!-- <ul class="collapse list-unstyled" id="usersmenu">
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="#usersmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                    [ngClass]="{'actives': tab7===true}" (click)="clickdata($event)">
                    <i class="fas fa-address-book"></i>contact-us</a>
                <!-- <ul class="collapse list-unstyled" id="usersmenu">
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                    <li>
                        <a>Users</a>
                    </li>
                </ul> -->
            </li>
        </ul>
    </nav>
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="dropdown">
                        <button class="custom_toggle_btn" type="button" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span>{{Userinfobyid?.firstName}} {{Userinfobyid?.lastName}}</span></button>
                        <ul class="dropdown-menu">
                            <!-- <li><a><i class="fas fa-address-card"></i> Profile</a></li>
                            <li><a><i class="fas fa-envelope"></i> Message</a></li>
                            <li><a><i class="fas fa-cog"></i>Settings</a></li> -->
                            <li (click)="logout()"><a><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                <app-admin-home *ngIf="tab1 == true"></app-admin-home>
                <app-admin-jobs *ngIf="tab2 == true"></app-admin-jobs>
                <app-admin-stadt *ngIf="tab3 == true"></app-admin-stadt>
                <app-sports-data *ngIf="tab4 == true"></app-sports-data>
                <app-admin-imprint *ngIf="tab5 == true"></app-admin-imprint>
                <app-admin-about-us *ngIf="tab6 == true"></app-admin-about-us>
                <app-admin-contact-us *ngIf="tab7 == true"></app-admin-contact-us>
            </div>
    </div>
</div>
