<div class="root">
    <div class="tree_flex">
        <ul class="tree">
            <li>
                <button type="button" aria-pressed="false" data-js="node" class="">Home</button>
                <ul id="tree_ul">
                    <li><button type="button" aria-pressed="false" data-js="node" class="">jobs</button>
                        <ul>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Infoseite</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Preise</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Jobsuche</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Bewerber Portal</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Arbeitgeber Portal</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Partner Portal
                                    </button></div>
                            </li>
                        </ul>
                    </li>
                    <li><button type="button" aria-pressed="false" data-js="node" class="">stadt</button>
                        <ul>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Infoseite</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Preise</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Beispielstadt
                                    </button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false"
                                        data-js="node">Partner Städte
                                    </button></div>
                            </li>
                        </ul>
                    </li>
                    <li><button type="button" aria-pressed="true" data-js="node" class="selected">sport</button>
                        <ul>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                        contenteditable="true">Infoseite</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                        contenteditable="true">Preise</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                        contenteditable="true">Partner & Sponseren</button></div>
                            </li>
                            <li>
                                <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                        contenteditable="true">Athleten</button></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                class="">contact-us</button></div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false"
                                data-js="node">about-us</button></div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node">vision</button>
                        </div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false"
                                data-js="node">privacy</button></div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false"
                                data-js="node">imprint</button></div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false" data-js="node"
                                class="">agb</button></div>
                    </li>
                    <li>
                        <div class="tree_flex"><button type="button" aria-pressed="false"
                                data-js="node">Reise-Empfehlungen</button></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>