.mediaViewInfo {
    --web-view-name: Home;
    --web-view-id: Home;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home {
    position: absolute;
    width: 1920px;
    height: 4063px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home;
    --web-view-id: Home;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Header {
    position: absolute;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_17 {
    fill: rgba(255,255,255,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 114px;
    left: 0px;
    top: 0px;
}
#Menu {
    position: absolute;
    width: 428px;
    height: 32px;
    left: 1302px;
    top: 41px;
    overflow: visible;
}
#Jobs {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(240,125,34,1);
    text-transform: uppercase;
}
#Stadt {
    left: 161px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Sport {
    left: 336px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Menu_Icon {
    position: absolute;
    width: 41px;
    height: 32px;
    left: 1819px;
    top: 41px;
    overflow: visible;
}
#Rectangle_46 {
    fill: rgba(76,92,104,1);
}
.Rectangle_46 {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 101px;
    height: 92px;
    left: 0px;
    top: 0px;
}
#menu {
    position: absolute;
    width: 19px;
    height: 13.361px;
    left: 10.9px;
    top: 9.2px;
    overflow: visible;
}
#Path_61 {
    fill: rgba(255,255,255,1);
}
.Path_61 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_62 {
    fill: rgba(255,255,255,1);
}
.Path_62 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 5.48px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_63 {
    fill: rgba(255,255,255,1);
}
.Path_63 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 2.4px;
    left: 0px;
    top: 10.961px;
    transform: matrix(1,0,0,1,0,0);
}
#RD3_meinjobportal1 {
    position: absolute;
    width: 190px;
    height: 82.474px;
    left: 60px;
    top: 16px;
    overflow: visible;
}
#Background_Image {
    position: absolute;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 114px;
    overflow: visible;
}
#Mask_Group_1 {
    position: absolute;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_2 {
    opacity: 0.8;
    fill: rgba(76,92,104,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 448px;
    left: 0px;
    top: 0px;
}
#Banner_Text {
    position: absolute;
    width: 1650px;
    height: 120px;
    left: 136px;
    top: 272px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1651px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -11px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: rgba(255,255,255,1);
}
#Our_Bussiness {
    position: absolute;
    width: 1920px;
    height: 1105px;
    left: 0px;
    top: 562px;
    overflow: visible;
}
#Rectangle_13 {
    opacity: 0.12;
    fill: rgba(76,92,104,1);
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1105px;
    left: 0px;
    top: 0px;
}
#Heading {
    position: absolute;
    width: 446px;
    height: 159px;
    left: 737px;
    top: 83px;
    overflow: visible;
}
#Heading_Pattern {
    position: absolute;
    width: 446px;
    height: 80px;
    left: 0px;
    top: 79px;
    overflow: visible;
}
#Rectangle_18 {
    fill: rgba(76,92,104,1);
}
.Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 6px;
    left: 296px;
    top: 37px;
}
#Rectangle_19 {
    fill: rgba(76,92,104,1);
}
.Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 6px;
    left: 0px;
    top: 37px;
}
#business-and-trade {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 183px;
    top: 0px;
    overflow: visible;
}
#OUR_Business {
    left: 6px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 435px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Blog_1 {
    position: absolute;
    width: 667px;
    height: 720px;
    left: 60px;
    top: 302px;
    overflow: visible;
}
#Rectangle_52 {
    opacity: 0.5;
    fill: rgba(244,158,85,1);
}
.Rectangle_52 {
    position: absolute;
    overflow: visible;
    width: 263px;
    height: 367px;
    left: 32px;
    top: 353px;
}
#Polygon_2 {
    opacity: 0.5;
    fill: rgba(156,185,0,1);
}
.Polygon_2 {
    overflow: visible;
    position: absolute;
    width: 147px;
    height: 127px;
    transform: translate(-60px, -892px) matrix(1,0,0,1,575,1365) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_40 {
    fill: rgba(244,158,85,1);
}
.Rectangle_40 {
    position: absolute;
    overflow: visible;
    width: 454px;
    height: 634px;
    left: 101px;
    top: 0px;
}
#Polygon_1 {
    fill: rgba(244,158,85,1);
}
.Polygon_1 {
    overflow: visible;
    position: absolute;
    width: 147px;
    height: 127px;
    transform: translate(-60px, -892px) matrix(1,0,0,1,590,978) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_42 {
    fill: transparent;
    stroke: rgba(76,92,104,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_42 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 522px;
    height: 716px;
    left: 55px;
    top: 20px;
}
#Rectangle_39 {
    fill: rgba(255,255,255,1);
}
.Rectangle_39 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 482px;
    height: 676px;
    left: 75px;
    top: 40px;
}
#Rectangle_41 {
    fill: rgba(255,255,255,1);
    stroke: rgba(244,158,85,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_41 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 201px;
    left: 0px;
    top: 69px;
}
#suitcase_1 {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 100px;
    overflow: visible;
}
#Jobs_bg {
    left: 240px;
    top: 262px;
    position: absolute;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Jobs_bh {
    position: absolute;
    width: 434px;
    height: 99px;
    left: 28px;
    top: 99px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_bi {
    left: 119px;
    top: 332px;
    position: absolute;
    overflow: visible;
    width: 353px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(76,92,104,1);
}
#Rectangle_43 {
    fill: rgba(244,158,85,1);
}
.Rectangle_43 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 112px;
    left: 170px;
    top: 572px;
}
#Read_More {
    left: 235px;
    top: 594px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#Blog_2 {
    position: absolute;
    width: 667px;
    height: 720px;
    left: 682px;
    top: 302px;
    overflow: visible;
}
#Rectangle_53 {
    opacity: 0.5;
    fill: rgba(156,185,0,1);
}
.Rectangle_53 {
    position: absolute;
    overflow: visible;
    width: 263px;
    height: 367px;
    left: 30px;
    top: 353px;
}
#Polygon_3 {
    opacity: 0.5;
    fill: rgba(209,182,129,1);
}
.Polygon_3 {
    overflow: visible;
    position: absolute;
    width: 147px;
    height: 127px;
    transform: translate(-60px, -892px) matrix(1,0,0,1,576,1365) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_40_bo {
    fill: rgba(156,185,0,1);
}
.Rectangle_40_bo {
    position: absolute;
    overflow: visible;
    width: 454px;
    height: 634px;
    left: 101px;
    top: 0px;
}
#Polygon_1_bp {
    fill: rgba(156,185,0,1);
}
.Polygon_1_bp {
    overflow: visible;
    position: absolute;
    width: 147px;
    height: 127px;
    transform: translate(-60px, -892px) matrix(1,0,0,1,590,979) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_42_bq {
    fill: transparent;
    stroke: rgba(76,92,104,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_42_bq {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 522px;
    height: 716px;
    left: 55px;
    top: 20px;
}
#Rectangle_39_br {
    fill: rgba(255,255,255,1);
}
.Rectangle_39_br {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 482px;
    height: 676px;
    left: 75px;
    top: 40px;
}
#Rectangle_41_bs {
    fill: rgba(255,255,255,1);
    stroke: rgba(156,185,0,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_41_bs {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 202px;
    left: 0px;
    top: 69px;
}
#united-states {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 25px;
    top: 99px;
    overflow: visible;
}
#Stadt_bu {
    left: 228px;
    top: 262px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Stadt_bv {
    position: absolute;
    width: 434px;
    height: 98.8px;
    left: 28px;
    top: 99.6px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_bw {
    left: 119px;
    top: 332px;
    position: absolute;
    overflow: visible;
    width: 353px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(76,92,104,1);
}
#Rectangle_44 {
    fill: rgba(156,185,0,1);
}
.Rectangle_44 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 112px;
    left: 170px;
    top: 572px;
}
#Read_More_by {
    left: 235px;
    top: 594px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#Blog_3 {
    position: absolute;
    width: 555px;
    height: 720px;
    left: 1304px;
    top: 302px;
    overflow: visible;
}
#Rectangle_54 {
    opacity: 0.5;
    fill: rgba(209,182,129,1);
}
.Rectangle_54 {
    position: absolute;
    overflow: visible;
    width: 263px;
    height: 367px;
    left: 31px;
    top: 353px;
}
#Rectangle_40_b {
    fill: rgba(209,182,129,1);
}
.Rectangle_40_b {
    position: absolute;
    overflow: visible;
    width: 454px;
    height: 634px;
    left: 101px;
    top: 0px;
}
#Rectangle_42_b {
    fill: transparent;
    stroke: rgba(76,92,104,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_42_b {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 522px;
    height: 716px;
    left: 55px;
    top: 20px;
}
#Rectangle_39_b {
    fill: rgba(255,255,255,1);
}
.Rectangle_39_b {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 482px;
    height: 676px;
    left: 75px;
    top: 40px;
}
#Rectangle_41_b {
    fill: rgba(255,255,255,1);
    stroke: rgba(209,182,129,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_41_b {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 202px;
    left: 0px;
    top: 69px;
}
#balls-sports {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 99px;
    overflow: visible;
}
#Sport_b {
    left: 225px;
    top: 262px;
    position: absolute;
    overflow: visible;
    width: 142px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Sport_ca {
    position: absolute;
    width: 434px;
    height: 98.709px;
    left: 28px;
    top: 99.646px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_b {
    left: 119px;
    top: 332px;
    position: absolute;
    overflow: visible;
    width: 353px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(76,92,104,1);
}
#Rectangle_45 {
    fill: rgba(209,182,129,1);
}
.Rectangle_45 {
    filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 112px;
    left: 170px;
    top: 572px;
}
#Read_More_ca {
    left: 235px;
    top: 594px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#Our_Partners {
    position: absolute;
    width: 1920px;
    height: 654px;
    left: 0px;
    top: 2812px;
    overflow: visible;
}
#Rectangle_13_cc {
    opacity: 0.12;
    fill: rgba(76,92,104,1);
}
.Rectangle_13_cc {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 549px;
    left: 0px;
    top: 0px;
}
#Heading_cd {
    position: absolute;
    width: 452px;
    height: 159px;
    left: 734px;
    top: 170px;
    overflow: visible;
}
#Heading_Pattern_ce {
    position: absolute;
    width: 436px;
    height: 80px;
    left: 8px;
    top: 79px;
    overflow: visible;
}
#Rectangle_18_cf {
    fill: rgba(76,92,104,1);
}
.Rectangle_18_cf {
    position: absolute;
    overflow: visible;
    width: 145px;
    height: 6px;
    left: 291px;
    top: 37px;
}
#Rectangle_19_cg {
    fill: rgba(76,92,104,1);
}
.Rectangle_19_cg {
    position: absolute;
    overflow: visible;
    width: 145px;
    height: 6px;
    left: 0px;
    top: 37px;
}
#business-and-trade_ch {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 178px;
    top: 0px;
    overflow: visible;
}
#OUR_Partners {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 453px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
    text-transform: uppercase;
}
#Rectangle_62 {
    fill: rgba(255,255,255,1);
}
.Rectangle_62 {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 454px;
    height: 330px;
    left: 239px;
    top: 444px;
}
#LOGO {
    left: 322px;
    top: 516px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
}
#Rectangle_63 {
    fill: rgba(255,255,255,1);
}
.Rectangle_63 {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 453px;
    height: 330px;
    left: 609px;
    top: 444px;
}
#LOGO_cm {
    left: 692px;
    top: 516px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
}
#Rectangle_64 {
    fill: rgba(255,255,255,1);
}
.Rectangle_64 {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 453px;
    height: 330px;
    left: 978px;
    top: 444px;
}
#LOGO_co {
    left: 1061px;
    top: 516px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
}
#Rectangle_65 {
    fill: rgba(255,255,255,1);
}
.Rectangle_65 {
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    position: absolute;
    overflow: visible;
    width: 454px;
    height: 330px;
    left: 1347px;
    top: 444px;
}
#LOGO_cq {
    left: 1430px;
    top: 516px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(76,92,104,1);
}
#Left {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60px;
    top: 499px;
    overflow: visible;
}
#Rectangle_58 {
    fill: rgba(244,158,85,1);
}
.Rectangle_58 {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
}
#arrow-down-right {
    transform: translate(-174px, -2397px) matrix(1,0,0,1,204.3378,2427.3379) rotate(135deg);
    transform-origin: center;
    position: absolute;
    width: 40.258px;
    height: 40.258px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_64 {
    fill: rgba(255,255,255,1);
}
.Path_64 {
    overflow: visible;
    position: absolute;
    width: 17.474px;
    height: 17.474px;
    left: 3.504px;
    top: 9.989px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65 {
    fill: rgba(255,255,255,1);
}
.Path_65 {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_66 {
    fill: rgba(255,255,255,1);
}
.Path_66 {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 7px;
    transform: matrix(1,0,0,1,0,0);
}
#Right {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1760px;
    top: 499px;
    overflow: visible;
}
#Rectangle_59 {
    fill: rgba(244,158,85,1);
}
.Rectangle_59 {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
}
#arrow-down-right_cz {
    transform: translate(-1653px, -2397px) matrix(1,0,0,1,1682.8707,2427.3377) rotate(-45deg);
    transform-origin: center;
    position: absolute;
    width: 40.258px;
    height: 40.258px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_64_c {
    fill: rgba(255,255,255,1);
}
.Path_64_c {
    overflow: visible;
    position: absolute;
    width: 17.474px;
    height: 17.474px;
    left: 35.955px;
    top: 29.471px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65_c {
    fill: rgba(255,255,255,1);
}
.Path_65_c {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 7px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_66_c {
    fill: rgba(255,255,255,1);
}
.Path_66_c {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Our_Testimonial {
    position: absolute;
    width: 1920px;
    height: 1213px;
    left: 0px;
    top: 1667px;
    overflow: visible;
}
#Rectangle_66 {
    fill: rgba(76,92,104,1);
}
.Rectangle_66 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1163px;
    left: 0px;
    top: 0px;
}
#Heading_c {
    position: absolute;
    width: 534px;
    height: 159px;
    left: 693px;
    top: 87px;
    overflow: visible;
}
#Heading_Pattern_c {
    position: absolute;
    width: 530px;
    height: 80px;
    left: 2px;
    top: 79px;
    overflow: visible;
}
#Rectangle_18_c {
    fill: rgba(255,255,255,1);
}
.Rectangle_18_c {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 6px;
    left: 338px;
    top: 37px;
}
#Rectangle_19_c {
    fill: rgba(255,255,255,1);
}
.Rectangle_19_c {
    position: absolute;
    overflow: visible;
    width: 192px;
    height: 6px;
    left: 0px;
    top: 37px;
}
#business-and-trade_c {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 225px;
    top: 0px;
    overflow: visible;
}
#business-and-trade123 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 225px;
    top: 0px;
    overflow: visible;
}
#OUR_Testimonial {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 535px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}
#Arrow {
    position: absolute;
    width: 260px;
    height: 100px;
    left: 830px;
    top: 1113px;
    overflow: visible;
}
#Left_dd {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_58_de {
    fill: rgba(244,158,85,1);
}
.Rectangle_58_de {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
}
#arrow-down-right_df {
    transform: translate(-174px, -2397px) matrix(1,0,0,1,204.3378,2427.3379) rotate(135deg);
    transform-origin: center;
    position: absolute;
    width: 40.258px;
    height: 40.258px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_64_dg {
    fill: rgba(255,255,255,1);
}
.Path_64_dg {
    overflow: visible;
    position: absolute;
    width: 17.474px;
    height: 17.474px;
    left: 3.504px;
    top: 9.989px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65_dh {
    fill: rgba(255,255,255,1);
}
.Path_65_dh {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_66_di {
    fill: rgba(255,255,255,1);
}
.Path_66_di {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 7px;
    transform: matrix(1,0,0,1,0,0);
}
#Right_dj {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 160px;
    top: 0px;
    overflow: visible;
}
#Rectangle_59_dk {
    fill: rgba(244,158,85,1);
}
.Rectangle_59_dk {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
}
#arrow-down-right_dl {
    transform: translate(-1653px, -2397px) matrix(1,0,0,1,1682.8707,2427.3377) rotate(-45deg);
    transform-origin: center;
    position: absolute;
    width: 40.258px;
    height: 40.258px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_64_dm {
    fill: rgba(255,255,255,1);
}
.Path_64_dm {
    overflow: visible;
    position: absolute;
    width: 17.474px;
    height: 17.474px;
    left: 35.955px;
    top: 29.471px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65_dn {
    fill: rgba(255,255,255,1);
}
.Path_65_dn {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 7px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_66_do {
    fill: rgba(255,255,255,1);
}
.Path_66_do {
    overflow: visible;
    position: absolute;
    width: 49.934px;
    height: 49.934px;
    left: 3.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_23 {
    position: absolute;
    width: 620px;
    height: 606px;
    left: 1151px;
    top: 327px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_dq {
    left: 0px;
    top: 163px;
    position: absolute;
    overflow: visible;
    width: 621px;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -11px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#What_Our_Clients_Are_Saying {
    left: 0px;
    top: 75px;
    position: absolute;
    overflow: visible;
    width: 614px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -13px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#FEEDBACK {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 174px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -18px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Group_24 {
    position: absolute;
    width: 490px;
    height: 150px;
    left: 0px;
    top: 394px;
    overflow: visible;
}
#Rectangle_56 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Sarah_Taylor {
    left: 180px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 311px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -8px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Web_Developer {
    left: 180px;
    top: 89px;
    position: absolute;
    overflow: visible;
    width: 275px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -15.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Dots {
    position: absolute;
    width: 104px;
    height: 24px;
    left: 0px;
    top: 582px;
    overflow: visible;
}
#Ellipse_11 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_11 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#Ellipse_12 {
    opacity: 0.4;
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_12 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 40px;
    top: 0px;
}
#Ellipse_13 {
    opacity: 0.4;
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_13 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 0px;
}
#Group_25 {
    position: absolute;
    width: 1020.84px;
    height: 579.04px;
    left: 60px;
    top: 385px;
    overflow: visible;
}
#Rectangle_67 {
    fill: rgba(255,255,255,1);
}
.Rectangle_67 {
    position: absolute;
    overflow: visible;
    width: 590.022px;
    height: 383.335px;
    left: 429.668px;
    top: 1.147px;
}
#Path_67 {
    fill: rgba(228,228,228,1);
}
.Path_67 {
    overflow: visible;
    position: absolute;
    width: 592.318px;
    height: 385.629px;
    left: 428.522px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_68 {
    fill: rgba(63,61,86,1);
}
.Path_68 {
    overflow: visible;
    position: absolute;
    width: 25.994px;
    height: 26.368px;
    left: 674.602px;
    top: 38.639px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_69 {
    fill: rgba(239,239,239,1);
}
.Path_69 {
    overflow: visible;
    position: absolute;
    width: 25.993px;
    height: 26.368px;
    left: 711.682px;
    top: 38.639px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_70 {
    fill: rgba(202,202,202,1);
}
.Path_70 {
    overflow: visible;
    position: absolute;
    width: 25.993px;
    height: 26.368px;
    left: 748.762px;
    top: 38.639px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_68 {
    fill: rgba(202,202,202,1);
}
.Rectangle_68 {
    position: absolute;
    overflow: visible;
    width: 118.004px;
    height: 1.43px;
    left: 531.582px;
    top: 139.588px;
}
#Path_71 {
    fill: rgba(202,202,202,1);
}
.Path_71 {
    overflow: visible;
    position: absolute;
    width: 162.346px;
    height: 151.617px;
    left: 756.147px;
    top: 195.372px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_69 {
    fill: rgba(202,202,202,1);
}
.Rectangle_69 {
    width: 1.431px;
    height: 220.113px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,836.6033,161.1291) rotate(-46.975deg);
    transform-origin: center;
}
#Rectangle_70 {
    fill: rgba(202,202,202,1);
}
.Rectangle_70 {
    width: 220.113px;
    height: 1.431px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,727.2644,270.4708) rotate(-43.022deg);
    transform-origin: center;
}
#Path_72 {
    fill: rgba(202,202,202,1);
}
.Path_72 {
    overflow: visible;
    position: absolute;
    width: 387.627px;
    height: 26.462px;
    left: 530.865px;
    top: 93.101px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_73 {
    fill: rgba(202,202,202,1);
}
.Path_73 {
    overflow: visible;
    position: absolute;
    width: 142.227px;
    height: 26.462px;
    left: 532.012px;
    top: 210.068px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_74 {
    fill: rgba(202,202,202,1);
}
.Path_74 {
    overflow: visible;
    position: absolute;
    width: 142.227px;
    height: 26.462px;
    left: 532.012px;
    top: 254.79px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_75 {
    fill: rgba(202,202,202,1);
}
.Path_75 {
    overflow: visible;
    position: absolute;
    width: 142.227px;
    height: 26.462px;
    left: 532.012px;
    top: 299.513px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_76 {
    fill: rgba(239,239,239,1);
}
.Path_76 {
    overflow: visible;
    position: absolute;
    width: 38.147px;
    height: 38.146px;
    left: 531.113px;
    top: 134.231px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_71 {
    fill: rgba(255,255,255,1);
}
.Rectangle_71 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 536.893px;
    top: 142.322px;
}
#Rectangle_72 {
    fill: rgba(255,255,255,1);
}
.Rectangle_72 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 536.893px;
    top: 151.57px;
}
#Rectangle_73 {
    fill: rgba(255,255,255,1);
}
.Rectangle_73 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 536.893px;
    top: 160.818px;
}
#Path_77 {
    fill: rgba(239,239,239,1);
}
.Path_77 {
    overflow: visible;
    position: absolute;
    width: 38.146px;
    height: 38.146px;
    left: 818.377px;
    top: 191.839px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_74 {
    fill: rgba(255,255,255,1);
}
.Rectangle_74 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 824.158px;
    top: 199.93px;
}
#Rectangle_75 {
    fill: rgba(255,255,255,1);
}
.Rectangle_75 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 824.158px;
    top: 209.179px;
}
#Rectangle_76 {
    fill: rgba(255,255,255,1);
}
.Rectangle_76 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 824.158px;
    top: 218.426px;
}
#Path_78 {
    fill: rgba(239,239,239,1);
}
.Path_78 {
    overflow: visible;
    position: absolute;
    width: 38.146px;
    height: 38.146px;
    left: 867.423px;
    top: 110.098px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_77 {
    fill: rgba(255,255,255,1);
}
.Rectangle_77 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 873.202px;
    top: 118.189px;
}
#Rectangle_78 {
    fill: rgba(255,255,255,1);
}
.Rectangle_78 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 873.202px;
    top: 127.436px;
}
#Rectangle_79 {
    fill: rgba(255,255,255,1);
}
.Rectangle_79 {
    position: absolute;
    overflow: visible;
    width: 23.119px;
    height: 4.624px;
    left: 873.202px;
    top: 136.685px;
}
#Path_79 {
    fill: rgba(47,46,65,1);
}
.Path_79 {
    overflow: visible;
    position: absolute;
    width: 65.364px;
    height: 67.657px;
    left: 171.549px;
    top: 108.307px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_80 {
    fill: rgba(255,182,182,1);
}
.Path_80 {
    overflow: visible;
    position: absolute;
    width: 20.749px;
    height: 54.227px;
    left: 266.088px;
    top: 510.874px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_81 {
    fill: rgba(47,46,65,1);
}
.Path_81 {
    overflow: visible;
    position: absolute;
    width: 45.332px;
    height: 18.219px;
    left: 262.504px;
    top: 560.509px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_82 {
    fill: rgba(255,182,182,1);
}
.Path_82 {
    overflow: visible;
    position: absolute;
    width: 44.727px;
    height: 54.133px;
    left: 98.032px;
    top: 499.117px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_83 {
    fill: rgba(47,46,65,1);
}
.Path_83 {
    overflow: visible;
    position: absolute;
    width: 42.039px;
    height: 38.149px;
    left: 88.21px;
    top: 540.579px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_84 {
    fill: rgba(47,46,65,1);
}
.Path_84 {
    overflow: visible;
    position: absolute;
    width: 189.316px;
    height: 275.024px;
    left: 99.463px;
    top: 275.115px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_85 {
    fill: rgba(255,184,184,1);
}
.Path_85 {
    overflow: visible;
    position: absolute;
    width: 51.336px;
    height: 52.075px;
    left: 178.227px;
    top: 116.857px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_86 {
    fill: rgba(47,46,65,1);
}
.Path_86 {
    overflow: visible;
    position: absolute;
    width: 52.837px;
    height: 30.909px;
    left: 177.397px;
    top: 110.635px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_87 {
    fill: rgba(228,228,228,1);
}
.Path_87 {
    overflow: visible;
    position: absolute;
    width: 89.355px;
    height: 139.178px;
    left: 174.505px;
    top: 184.14px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_138 {
    fill: rgba(255,255,255,1);
}
.Path_138 {
    overflow: visible;
    position: absolute;
    width: 258.239px;
    height: 178.304px;
    left: 104.085px;
    top: 294.51px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_38 {
    position: absolute;
    width: 150.94px;
    height: 90.981px;
    left: 166.068px;
    top: 348.586px;
    overflow: visible;
}
#Ellipse_7 {
    fill: rgba(240,240,240,1);
}
.Ellipse_7 {
    position: absolute;
    overflow: visible;
    width: 40.269px;
    height: 40.269px;
    left: 2.543px;
    top: 2.818px;
}
#Path_63_e {
    fill: rgba(228,228,228,1);
}
.Path_63_e {
    overflow: visible;
    position: absolute;
    width: 97.089px;
    height: 90.981px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_65_e {
    fill: rgba(228,228,228,1);
}
.Path_65_e {
    overflow: visible;
    position: absolute;
    width: 83.657px;
    height: 66.296px;
    left: 67.283px;
    top: 10.782px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_138_e {
    fill: rgba(202,202,202,1);
}
.Path_138_e {
    overflow: visible;
    position: absolute;
    width: 258.239px;
    height: 178.304px;
    left: 104.085px;
    top: 294.51px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_88 {
    fill: rgba(255,182,182,1);
}
.Path_88 {
    overflow: visible;
    position: absolute;
    width: 32.778px;
    height: 48.828px;
    left: 275.542px;
    top: 272.384px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_89 {
    fill: rgba(228,228,228,1);
}
.Path_89 {
    overflow: visible;
    position: absolute;
    width: 63.087px;
    height: 110.441px;
    left: 229.249px;
    top: 183.417px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_90 {
    fill: rgba(255,182,182,1);
}
.Path_90 {
    overflow: visible;
    position: absolute;
    width: 21.655px;
    height: 49.962px;
    left: 152.505px;
    top: 290.792px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_91 {
    fill: rgba(228,228,228,1);
}
.Path_91 {
    overflow: visible;
    position: absolute;
    width: 40.136px;
    height: 120.911px;
    left: 150.908px;
    top: 184.634px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_92 {
    fill: rgba(202,202,202,1);
}
.Path_92 {
    overflow: visible;
    position: absolute;
    width: 439.198px;
    height: 2.293px;
    left: 0px;
    top: 576.747px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_93 {
    fill: rgba(239,239,239,1);
}
.Path_93 {
    overflow: visible;
    position: absolute;
    width: 45.237px;
    height: 45.237px;
    left: 111.697px;
    top: 334.227px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_80 {
    fill: rgba(255,255,255,1);
}
.Rectangle_80 {
    width: 23.119px;
    height: 4.624px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,119.2583,346.4107) rotate(-11.987deg);
    transform-origin: center;
}
#Rectangle_81 {
    fill: rgba(255,255,255,1);
}
.Rectangle_81 {
    width: 23.119px;
    height: 4.624px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,121.179,355.4561) rotate(-11.987deg);
    transform-origin: center;
}
#Rectangle_82 {
    fill: rgba(255,255,255,1);
}
.Rectangle_82 {
    width: 23.119px;
    height: 4.624px;
    position: absolute;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,123.0999,364.5025) rotate(-11.987deg);
    transform-origin: center;
}
#Footer {
    position: absolute;
    width: 1920px;
    height: 490px;
    left: 0px;
    top: 3573px;
    overflow: visible;
}
#Rectangle_28 {
    fill: rgba(76,92,104,1);
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 490px;
    left: 0px;
    top: 0px;
}
#Sitemap {
    position: absolute;
    width: 127px;
    height: 211px;
    left: 623px;
    top: 68px;
    overflow: visible;
}
#Sitemap_fi {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Contact {
    left: 0px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#About {
    left: 0px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#FAQs {
    left: 0px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Team {
    left: 0px;
    top: 182px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Resouries {
    position: absolute;
    width: 148px;
    height: 211px;
    left: 1026px;
    top: 68px;
    overflow: visible;
}
#Resouries_fo {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 149px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Impression {
    left: 0px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Preds {
    left: 0px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Jobs_fr {
    left: 0px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Companies {
    left: 0px;
    top: 182px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Mobile_App {
    position: absolute;
    width: 255px;
    height: 250.688px;
    left: 1450px;
    top: 68px;
    overflow: visible;
}
#Mobile_App_fu {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#apple-app-store-travel-awards- {
    position: absolute;
    width: 255px;
    height: 76.688px;
    left: 0px;
    top: 174px;
    overflow: visible;
}
#apple-app-store-travel-awards-_fw {
    position: absolute;
    width: 255px;
    height: 76.688px;
    left: 0px;
    top: 74px;
    overflow: visible;
}
#RD3_meinjobportal1_fx {
    position: absolute;
    width: 287px;
    height: 124.579px;
    left: 60px;
    top: 68px;
    overflow: visible;
}
#Rectangle_38 {
    fill: rgba(61,77,90,1);
}
.Rectangle_38 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 92px;
    left: 0px;
    top: 398px;
}
#n_2022_test_GmbH {
    left: 851px;
    top: 430px;
    position: absolute;
    overflow: visible;
    width: 220px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(255,255,255,1);
}