<section class="footer-pd">
	<footer>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					 <img src="assets/img/home/footer-home-logo.png" class="footer-logo-img">
				</div>
				<div class="col-md-4">
                    <span class="ft-title">Ressourcen</span>	
				  <div class="footer-md">

					<ul>
						<li>Impressum</li>
						<li>Kontakt</li>
						<li>Datenschutz</li>
					</ul>

					<ul>
						<li>AGB</li>
						<li>Sitemap</li>
						<li>Presse</li>
					</ul>
				  </div>
				</div>
				<div class="col-md-4">
					  <span class="ft-title-mobile">Mobile App</span>
					  <div class="footer-end">
					  <img src="assets/img/home/google-home-footer.png" class="img-ft">
					  <img src="assets/img/home/apple-home-footer.png" class="img-ft">	
					  </div>
				</div>
			</div>
		</div>
		
	</footer>
</section>
<div class="bottom-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <span class="footer-txt-bottom">© 2022 test GmbH</span>
            </div>
        </div>
    </div>        
</div>