footer,
section {
    display: block;
}
img {
    border: 0;
}
.footer-end {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.img-ft-1{
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}
.img-ft{
    width: 100%;
    max-width: 150px;	
}
li.ft-title {
    font-size: 26px;
    color: #fff;
    // margin-left: 40px;
    font-weight:500;
}
li.ft-title-1, li.ft-title-2, li.ft-title-3  {
    font-size: 30px !important;
    color: #ffa500;
    font-weight:500;
}
 li.ft-title-2{
     color:#9cb900;
 }
 li.ft-title-3{
     color:#D1B681;
 }
.footer-ul-text {
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding-left: 0; 
    cursor: pointer;  
}
.footer-ul-text :hover{
    // font-size: 18px;
    list-style: none;
    color: #fff;
    // text-decoration: underline;    
}

.footer-ul-text-mobile {
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding-left: 0;   
}

.footer-end {
    margin-top: 5px;
}
.ft-title-mobile {
    margin-left: 0;
    font-size: 26px;
}
.footer-upper-right{
    display: flex;
    justify-content: flex-end;
    padding: 0 3em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
img {
    vertical-align: middle;
    border-style: none;
}

.footer-pd {
    padding: 50px 0;
    background-color: #4c5c68;
}
.footer-md {
    display: flex;
    margin-top: 25px;
}
.footer-md ul li {
    list-style: none;
    list-style: none;
    font-size: 27px;
    color: #fff;
}
span.ft-title {
    font-size: 30px;
    color: #fff;
    margin-left: 30px;
}

.img-ft {
    width: 100%;
    // max-width: 200px;
}
.ft-title-mobile {
    font-size: 30px;
    color: #fff;
    margin-left: 15px;
}
.footer-logo-img {
    width: 100%;
    max-width: 235px;
    padding: 0 12px;
    text-align: center !important;
}
.bottom-footer {
    background-color: #3d4d5a;
    text-align: center;
    padding: 15px;
}
.footer-txt-bottom {
    color: #fff;
    font-size: 25px;
    text-align: center;
}
// .footer-menu {
//     color: #fff;
// }
.footer-upper-right{
    display: flex;
    justify-content: flex-end;
    padding: 0 3em;
}
.footer-upper-bottom {
    list-style: none;
    display: flex;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

ul.footer-upper-bottom li {
    margin-right: 10px;
}
ul.footer-upper-bottom li:last-child{
    margin-right: 0px;
}
ul.footer-ul-text li:hover, .footer-upper-bottom li:hover {
    color: #f9a500;
    // font-size: 20px;
    // text-decoration: underline;

}
ul.footer-ul-text li:first-child:hover {
    color:#fff;
   }
   .footer-ul-text li a{
       color: #fff !important;
   }
  .footer-ul-text li a:hover{
    text-decoration: none;
    color: #f9a500 !important;
}


// .footer-upper-right{
//     position: relative;
//     right: 0;
//     top: 45px;
// }


// media query start

@media (max-width:1024px){
    .ft-title-mobile, li.ft-title {
        font-size: 19px;
    }
}
@media (max-width:768px){
    .ft-title-mobile, li.ft-title {
        font-size: 18px;
    }
}
@media (max-width:767px){
    .footer-logo-img {
        width: 100%;
        max-width: 100%;
    }	
    .footer-ul-text {
        font-size: 40px;
        text-align: center;
    }
    .footer-ul-text-mobile {
        font-size: 40px;
        text-align: center;
    }
    .ft-title-mobile, li.ft-title {
        font-size: 55px;
    }
    .img-ft-1 {
        max-width: 50%;
    }
    .img-ft {
        max-width: 50%;
    }
    .footer-upper-right {
        display: flex;
        justify-content: center;
    }
    .footer-upper-bottom {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        text-align: center;
    }
}
@media (max-width: 500px){
    .ft-title-mobile, li.ft-title{
        font-size: 40px;
    }
    .footer-ul-text {
        font-size: 30px;
        text-align: center;
    }
    .footer-logo-img {
        width: 100%;
        max-width: 300px;
        display: flex;
        margin: 0 auto;
    }
    .ft-title-mobile, li.ft-title {
        font-size: 30px;
    }
    .img-ft-1{
        max-width: 35%;
    }
    .img-ft {
        max-width: 35%;
    }
    .footer-upper-bottom {
               font-size: 30px;
           }
}
@media (max-width:425px){
    .ft-title-mobile, li.ft-title {
        font-size: 45px;
    }
    .footer-ul-text-mobile {
        font-size: 35px;
    }
}

