<section class="footer-pd" *ngIf="(router.url === '/' ||  router.url === '/jobs' || router.url === '/stadt' || 
	router.url === '/sport' || router.url === '/contact' || router.url === '/about-us' ||
router.url === '/vision' || router.url === '/privacy' || router.url === '/imprint' || router.url === '/agb' )">
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/Main - RD3-06.png" class="footer-logo-img">
				</div>
				<div class="col-md-2">
					<span class="ft-title">RD3</span>
					<!-- <div class="footer-md"> -->
					<ul class="footer-ul-text">
						<li routerLink="/about-us">Uber uns</li>
						<li>Team</li>
						<li routerLink="/contact">Kontakt</li>
						<li routerLink="/jobs">Jobs</li>
						<li>Press</li>
						<!-- <li><a routerLink="/imprint" class="footer-menu">Impressum</a></li>
							<li><a routerLink="/contact" class="footer-menu">Kontakt</a></li>
							<li><a routerLink="/privacy" class="footer-menu">Datenschutz</a></li> -->
					</ul>
					<!-- <ul>
							<li><a routerLink="/agb" class="footer-menu">AGB</a></li>
							<li><a routerLink="/" class="footer-menu">Sitemap</a></li>
							<li><a routerLink="/" class="footer-menu">Presse</a></li>
						</ul> -->
					<!-- </div> -->
				</div>
				<div class="col-md-2">
					<span class="ft-title" style="color: orange;">RD3 JOBS</span>
					<!-- <div class="footer-md"> -->
					<ul class="footer-ul-text">
						<li>Infoseite</li>
						<li>Jobsuche</li>
						<li>Bewerber Portal</li>
						<li>Arbeitgeber Portal</li>
						<li>Partner Portal</li>
						<!-- <li><a routerLink="/imprint" class="footer-menu">Impressum</a></li>
							<li><a routerLink="/contact" class="footer-menu">Kontakt</a></li>
							<li><a routerLink="/privacy" class="footer-menu">Datenschutz</a></li> -->
					</ul>
					<!-- <ul>
							<li><a routerLink="/agb" class="footer-menu">AGB</a></li>
							<li><a routerLink="/" class="footer-menu">Sitemap</a></li>
							<li><a routerLink="/" class="footer-menu">Presse</a></li>
						</ul> -->
					<!-- </div> -->
				</div>
				<div class="col-md-2">
					<span class="ft-title" style="color: #9CB900;">RD3 STADT</span>
					<!-- <div class="footer-md"> -->
					<ul class="footer-ul-text">
						<li>Infoseite</li>
						<li>Beispielstadt</li>
						<li>Partner Satdte</li>
						<!-- <li><a routerLink="/imprint" class="footer-menu">Impressum</a></li>
							<li><a routerLink="/contact" class="footer-menu">Kontakt</a></li>
							<li><a routerLink="/privacy" class="footer-menu">Datenschutz</a></li> -->
					</ul>
					<!-- <ul>
							<li><a routerLink="/agb" class="footer-menu">AGB</a></li>
							<li><a routerLink="/" class="footer-menu">Sitemap</a></li>
							<li><a routerLink="/" class="footer-menu">Presse</a></li>
						</ul> -->
					<!-- </div> -->
				</div>
				<div class="col-md-2">
					<span class="ft-title" style="color: #D1B681; margin-left: 10px;">RD3 SPORT</span>
					<!-- <div class="footer-md"> -->
					<ul class="footer-ul-text">
						<li>Infoseite</li>
						<li>Partner &amp; Sponseren</li>
						<li>Athleten</li>
						<!-- <li><a routerLink="/imprint" class="footer-menu">Impressum</a></li>
							<li><a routerLink="/contact" class="footer-menu">Kontakt</a></li>
							<li><a routerLink="/privacy" class="footer-menu">Datenschutz</a></li> -->
					</ul>
					<!-- <ul>
							<li><a routerLink="/agb" class="footer-menu">AGB</a></li>
							<li><a routerLink="/" class="footer-menu">Sitemap</a></li>
							<li><a routerLink="/" class="footer-menu">Presse</a></li>
						</ul> -->
					<!-- </div> -->
				</div>
				<div class="col-md-2">
					<span class="ft-title-mobile">Mobile App</span>
					<div class="footer-end">
						<img src="assets/img/google-home-footer.png" class="img-ft">
						<img src="assets/img/apple-home-footer.png" class="img-ft">
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>
<div class="bottom-footer" *ngIf="(router.url === '/' ||  router.url === '/jobs' || router.url === '/stadt' ||
router.url === '/sport' || router.url === '/' || router.url === '/contact' || router.url === '/about-us' ||
router.url === '/vision' || router.url === '/privacy' || router.url === '/imprint' )">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<span class="footer-txt-bottom">© 2022 RD3 GmbH</span>
			</div>
		</div>
	</div>
</div>